[2020-07-15 17:06] penguinwu opened #1 "Address issues found by internal code scanning tools"
cpp check analysis scan: http://10.124.207.3:11150/v8_r5_cppcheck_comp.html (search for riscv on the page)

[2020-07-15 17:12] penguinwu opened #2 "Cleanup of remaining MIPS legacy"
Use this issue to track all the remaining, smaller MacroAssembler refactoring items.

1. Remove the "RV_" prefix for "RV_li"

This is the only remaining item in the refactoring task to remove "RV_" prefix. Need to rename `TurboAssembler::li(..)` to something else so that `Assembler::RV_li` after removing the `RV_` prefix will not conflict w/ TurboAssembler API signature.

May consider to use `Turb

[2020-07-15 17:15] penguinwu opened #3 "TurboAssembler API refactoring"
Our turbo assembler APIs still follow the naming convention of the MIPS backend (e.g., `Daddu`). Should refactor to reflect RISCV instruction naming convention.

[2020-07-15 17:17] penguinwu opened #4 "Update latency estimate in instruction-scheduler-riscv64.cc"
This file was still using MIPS64 instruction scheduler latency estimate. Need to be updated to reflect latency of RISCV mapping. Also need to update `enum Latency` to use RISCV names.

[2020-07-15 17:20] penguinwu opened #5 "Enable `stop`, `break`, and `gdb` commands in the debugger in the RISCV simulator"
Currently the built-in debugger ini the built-in riscv simulator (i.e., `simulator-riscv64.cc` does not yet support `stop`, `break`, `gdb` commands yet.

For `stop` and `break`, the problem seems to be that we cannot instructions in the generated code buffer to special `ebreak` or `stop` instruction due to some access permission issues.

`gdb` command is not yet supported because we need to unders

[2020-07-15 17:28] penguinwu opened #6 "Enable fuzzer test cases"
`tools/run-tests.py --outdir=out.gn/mips64el.debug/ fuzzer` does not run any tests.

There probably requires some setup to enable the fuzzer tests.

There is a bunch of buzzers under `out/riscv/v8_simple_xxx_fuzzer`. Please take a look at those too.

[2020-07-15 17:50] penguinwu opened #7 "Refactor test-assembler-riscv64.cc and test-macro-assembler-riscv64.cc to use value-helper.h"
- Use `value-helper.h` to thoroughly tests all value ranges of RISCV assembler instructions. This approach will test all corner cases of RISC-V Assembly APIs, which can be especially useful for porting from simulated build to native build.

- Refactor type names in the template  (`in_type`, `out_type`, `inout_type`) to be more intuitive (e.g., `operand_t`, `result_t`)

- Refactor the type argument

[2020-07-15 19:21] penguinwu opened #8 "Enable asm/ and wasm/ tests in mjsunit.status"
Currently we skipped all `wasm/` and `asm/` tests under `mjsunit.status`.

This issue will individually skip failing `asm` and `wasm` test cases so that we can enable the rest of them in the CI.

There are also many tests in `mjsunit.status`  being skipped for riscv because they are skipped by `mips`. Need to run these tests individually and unskip them if they pass fine.

[2020-07-15 19:26] fw-brice opened #9 "Remove `EmitForbiddenSlotInstruction`"
This is left from the MIPS backend and is not needed in RISC-V.

[2020-07-15 19:55] fw-brice opened #10 "Review `SmiTag`"
The current implementation shifts the value by 32-bits for a 64-bit architecture, which is based off of the MIPS implementation that does the same. This seems wrong. The ARM backend shifts the value by 1, as I would expect. Investigate this further.

[2020-07-15 21:35] fw-brice opened #11 "Rewrite `RV_li`"
Originally, code in `RV_li` was copied from LLVM. Rewrite this code from scratch so that we can remove the LLVM license.

[2020-07-16 00:11] penguinwu opened #12 "Enable CI"

[2020-07-16 01:41] penguinwu opened #13 "Enable more wasm-spec-tests"
There is a large discrepency between tests run by the `arm64.simulated` build and r`iscv64.simulated.debug` build that cannot be completely accounted for by known failures in `f32` and `f64` tests.

| build | tests passed | run rate |
| - | - | - |
| arm64.simulated | 203 | 49% |
| riscv64.simulated.debug | 85 | 44% |

Need to investigate `wasm-spec-tests.status` to run all the skipped tests for r

[2020-07-16 02:56] chaozju opened #14 "Test issue permission"

[2020-07-16 02:56] #14 closed

[2020-07-16 14:05] fw-brice opened #15 "Improve analyze.py tool"
This tool is currently very fragile. It could be improved by parsing the file using a Lark grammar.

[2020-07-16 19:33] zongfanglin opened #16 "Set up the Pull Request (PR) process for code reviewing merging"
Set up the Pull Request (PR) process for code reviewing merging.

[2020-07-16 19:50] fw-brice opened #17 "Remove the patch step"
In our current build instructions, users are required to manually patch some code in the build directory, because it comes from another repository. The correct solution would be to also fork this repository and have users pull our changes from the fork.

[2020-07-17 12:53] fw-brice opened #19 "Rebase on newer tag"
With our current branch, we are no longer compatible with the version of `buildtools` that is fetched by v8. This will cause the following error:

[code]

We currently avoid this by checking out an older version of `buildtools`.

[2020-07-18 03:49] luyahan opened #23 "Test cctest/test-macro-assembler-riscv64/OverflowInstructions macro_float_minmax_f64 failed on Linux fedora-riscv 5.4.0"
Failed case:
` cctest/test-macro-assembler-riscv64/macro_float_minmax_f64`
`cctest/test-macro-assembler-riscv64/OverflowInstructions`
This is my log
https://gist.github.com/luyahan/cfa5050b0d8e36d95872b0401725e14d

[2020-07-18 03:59] lazyparser opened #24 "Setup wiki as github repo so that wiki changes can accept pull request"
Hi,

we can contribute to code repo using PR, but can't do it to wiki.

Is there some way for us to send a pull request to wiki?

[2020-07-18 04:06] luyahan commented on #23
###Get Riscv-linux on Qemu
Please run the [deploy_riscv64fedora_qemu.sh](https://github.com/isrc-cas/PLCT-Toolbox/blob/master/deploy_riscv64fedora_qemu.sh)
### Build riscv gnu toolchain
run [build_riscv_toolchain.sh](https://github.com/isrc-cas/PLCT-Toolbox/blob/master/build_riscv_toolchain.sh)
### Add "gcc_toolchain("riscv64")"
Add the blow code into **$PTAH_OF_V8_RISCV/build/toolchain/linux/Buil

[2020-07-18 04:24] luyahan commented on #23
[code]

[2020-07-18 07:15] luyahan commented on #23
[code]

[2020-07-18 07:24] lazyparser commented on #23
nice testing work.

ooops this is a long paste.

Although I am OK with direct log pasting, I wonder if we should paste it in to a pastebin or gist? any ideas?

[2020-07-18 10:37] thomasyonug commented on #23
Some gcc internal errors occurred when building riscv d8

[code]

My riscv-g++ version
[code]

[2020-07-18 14:48] luyahan commented on #3
The API Mul on riscv64 emit mulw, but on mips64 is mul.
These instr are some differences，so may be cause some error on actual hardware.
And on riscv64,there is no mulh for 32bit mul.API Mulh emit a 64bit mul intrs.

[2020-07-18 15:09] penguinwu commented on #23
Thanks, @thomasyonug  for reporting the internal error. But let's keep each issue focus on a specific problem. Could you open another issue to report the problem you experienced?

@luyahan, thanks for reporting this issue. In the bug report, could you clarify
1. whether the test passes simulated build (this is important because if it passes in simulated build, then it indicates the problem is prob

[2020-07-18 15:29] penguinwu commented on #3
Went through all the `TurboAssembler` APIs,  about 37 APIs need to be refactored.
- The majority of the APIs to be refactored are integer operations with 64- and 32-bit variations  (e.g., `Daddu` vs `Addu`, or `Dsll` vs `Sll`), those will be refactored into `Add64` vs `Add32`
- Floating-point load/store APIs such as `Ldc1` or `Sdc1` (where c1 refers to FPU in MIPS) will be refactored to `LoadFloat

[2020-07-18 15:33] luyahan commented on #23
1.I run cctest/test-macro-assembler-riscv64  pass case 99% on simulator,but on riscv-linux only 0%. cctest/test-assembler-riscv64 only pass 19%.
3. My command line on Qemu:
`python2 ./tools/run-tests.py --outdir=./ cctest/test-assembler-riscv64/*`
`python2 ./tools/run-tests.py --outdir=./ cctest/test-macro-assembler-riscv64/*`

[2020-07-18 15:44] luyahan opened #30 "Test cctest/test-assembler-riscv64 failed 11 case on Qemu"
Failed case:
[code]
My test log
https://gist.github.com/luyahan/cfa5050b0d8e36d95872b0401725e14d

[2020-07-18 16:51] fw-brice opened #32 "Improve CI by caching setup steps"
The CI job currently spends a lot of time on setup which is unimportant in testing the code. This should be cached. See this documentation for improving the configuration - https://docs.github.com/en/actions/configuring-and-managing-workflows/caching-dependencies-to-speed-up-workflows

[2020-07-18 18:21] penguinwu opened #33 "Add instructions on cross-compiled build to the wiki"
Please add the build instructions [here](https://github.com/v8-riscv/v8/wiki/Cross-compiled-Build).

Since this is work in progress, please also update the latest testing status for cross-compiled build on https://github.com/v8-riscv/v8/wiki/Testing-Status

[2020-07-19 01:41] lazyparser opened #35 "Add a few CI buildbots to speed up build speed."
There are lots of CI cloud services for github repos, many of them provide free service for open projects. But as we may noticed, they are slow, sometimes very very slow.

v8-riscv/v8 may need some CI infra itself, which new buildbots are needed.

IIRC github provides some hooks for services to be triggered, and then our buildbots would be started.

I'd have a try.

[2020-07-19 01:43] lazyparser opened #36 "[CI] Integrate real board Hifive Unleased into our CI system."
The PLCT lab has two Hifive boards. I'd try to integrate real board Hifive Unleased into our CI system.

[2020-07-19 09:27] luyahan commented on #30
At present, I suspect that qume's floating-point calculations are not accurate enough.

[2020-07-19 10:20] lazyparser commented on #30
nice catch.

if it is a QEMU bug, the simulator team in PLCT would fix it.

you can report the issue to
https://github.com/isrc-cas/plct-qemu/issues
and mention Junqiang Wang or Weiwei Li. They would have a look for us.

[2020-07-19 11:06] luyahan commented on #30
At present, I suspect that  fmadd are not accurate enough.
I run the code hifive unleashed:
[code]
output:
[code]
compile command:
riscv64-unknown-linux-gnu-g++  ./test.cpp -o test

[2020-07-19 11:15] luyahan commented on #30
[code]

[2020-07-19 14:14] lazyparser opened #39 "[RFC] Should We have a developer meeting weekly or biweekly?"
Hi all,

as now we are united as one community, I think it is a good idea to have a open meeting every two weeks.

I see Firefox dev community and RISC-V LLVM ports follows this style. Maybe we can have a try?

[2020-07-20 02:28] luyahan commented on #30
I run cctest/test-assembler-riscv64/RISCV_UTEST_swlwu
**On qemu**
[code]

toolchain
[code]

Output on  x86 by simulator :
[code]

[2020-07-20 03:53] amyzxf commented on #30
On qemu
./cctest test-assembler-riscv64/RISCV_UTEST_swlwu --random-seed=-842269837 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner
report error.

b ValidateResult<int, int> ()
Thread 1 "cctest" hit Breakpoint 4, ValidateResult<int, int> ()
(gdb) info r a0
a0             0x856af894       2238380180
(gdb) info r a1
a1             0xffffffff856af894       -2056587116
(gdb)

[2020-07-20 14:07] penguinwu commented on #39
I like the idea of setting up a bi-weekly open developers' meeting. I will set it up this week and we can gradually improve the process.

[2020-07-20 14:15] lazyparser commented on #39
Great 🎉

[2020-07-20 15:44] penguinwu commented on #16
Done.

[2020-07-20 15:45] penguinwu commented on #24
Yes, you have to be a member to edit wiki. We are considering to setup a repo for the wiki so that wiki changes can be reviewed. So I will keep this issue open but update the title to reflect that.

[2020-07-21 12:09] luyahan opened #49 "Segmentation fault occurs when run test-macro-assembler-riscv64/LoadAddress on qemu or hifive unleashed"
![image](https://user-images.githubusercontent.com/22358871/88053015-bd00e080-cb8d-11ea-8955-61dbdadd3cd1.png)

if i delete `__ nop();`

![image](https://user-images.githubusercontent.com/22358871/88052806-65fb0b80-cb8d-11ea-962b-9537f306fb03.png)

code is here: https://github.com/v8-riscv/v8/blob/riscv-porting-dev/test/cctest/test-macro-assembler-riscv64.cc#L115

[2020-07-21 18:54] fw-brice commented on #11
This is referring to the method, `Assembler::RV_li(Register rd, int64_t imm)`, in _assembler-riscv64.cc_. It should be able to take any 64-bit integer and load it into the register using an optimal sequence of instructions.

The method `Assembler::li_constant(Register rd, int64_t imm)` may need to be updated as well. This version should emit a consistent number of instructions, regardless of what

[2020-07-21 19:18] fw-brice commented on #49
This test was copied from MIPS64. I do not see any reason why the nops need to be there in RISC-V, but I also don't see any reason why they should cause a seg fault. Are you saying the the seg fault occurs when the nop is executed?

The sequence of instructions executed by the simulator is:

[code]

[2020-07-21 20:21] fw-brice opened #50 "Update analyze tool for new branch format"
See #47:

[code]

[2020-07-22 00:47] penguinwu commented on #39
Bi-weekly developer meeting added to wiki Home. First meeting is scheduled on 07/22 (US).

[2020-07-22 00:47] #39 closed

[2020-07-22 03:20] luyahan commented on #49
Yes, when excute nop  in qemu, it occurs the  segfault ,but when i remove`__nop()` after `Branch`, it occurs seg fault on `ret`. It has nothing to do with the instruction itself.
In my opinion ，whether they are related to memory reading and writing. These instruction sequences are generated at runtime.

[2020-07-22 06:52] luyahan commented on #23
this bug is fixed in mainline

[2020-07-22 06:54] #23 closed

[2020-07-22 17:23] fw-brice commented on #49
Ok, so that sounds like it is jumping to a bad address, but the sequence of instructions generating the target address in a4 seems correct and the resulting value in a4 looks correct (if I am understanding your picture correctly). There is no load involved in the nop instruction, so the only load is the instruction fetch. I am not sure what could be going wrong there.

[2020-07-22 18:56] fw-brice commented on #49
Peng noticed that in the simulated trace, it is strange that the jump address calculated in `a4` is not the expected PC, based on the address of the starting point, of 0x0x00a5c7a02048, but instead it is some far away address, 0x55b78c165a68.

In reviewing the simulated execution, I see that the 0x55b7... address is the expected address, when the code is originally generated. This means that the b

[2020-07-22 19:16] penguinwu opened #53 "Verification failure: `F32SSub0(signalling_NaN)` from `mjsunit/wasm/float-constant-folding.js`"
**Describe the bug**
`float-constant-folding.js` fails to verify the result of `F32Sub0(signalling_NaN)`

**To Reproduce**
Steps to reproduce the behavior:
1. Use the simulated build following instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build)
2. Run test/program
[code]

To debug, use wasm2wat translator in https://github.com/webassembly/wabt to convert the test case to human

[2020-07-22 19:25] penguinwu opened #54 "Verification failure: expected <55> found <28> (asm-wasm.js)"
**Describe the bug**

Wrong result is produced when testing WASM function table features.

**To Reproduce**
Steps to reproduce the behavior:
1. Build as simulated debug build following instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build)
2. Run test/program
```out/riscv64.sim/d8 --test test/mjsunit/mjsunit.js test/mjsunit/wasm/asm-wasm.js --random-seed=1881563104 --nohard-abort

[2020-07-22 20:24] penguinwu opened #55 "Internal error: unimplemented code in assembler-riscv64-inl.h"
**Describe the bug**
`mjsunit/wasm/compiled-module-serialization.js` triggers an internal assertion in assembler-riscv64-inl.h

**To Reproduce**
Steps to reproduce the behavior:
1. Build with the simulated and debug build (as specified [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run test/program
[code]
4. See error
[code]

**Expected behavior**
No assert error if test passes su

[2020-07-22 20:41] penguinwu opened #56 "Internal error: unreachable code in `codegen/safepoint-table.cc`"
**Describe the bug**
Running `mjsunit/es6/block-conflicts-sloppy.js` triggers an internal error of `unreachable code`

**To Reproduce**
Steps to reproduce the behavior:
1. Build with simulated and debug build (see instruction [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run test/program
[code]
4. See error
[code]

**Expected behavior**
No assert errors or other error messages if

[2020-07-22 20:52] penguinwu opened #57 "Internal error: unimplemented code in diagnostics/perf-jit.h"
**Describe the bug**
Testcase triggers unimplemented code in `src/diagnostics/perf-jit.h`

**To Reproduce**
Steps to reproduce the behavior:
1. Use simulated debug build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run test/program
[code]
4. See error
[code]

**Expected behavior**
No error message if test passes

**Additional context**
None

[2020-07-22 21:09] penguinwu opened #58 "Enable `mjsunit/wasm` and `mjsunit/asm` tests"
Enable `mjsunit/wasm/*` and `mjsunit/asm/*` tests for RISC-V except for a handful of tests that are still failing

[2020-07-22 21:21] penguinwu commented on #8
Duplicate w/ #58.

[2020-07-22 21:21] #8 closed

[2020-07-23 00:55] fw-brice commented on #10
I tested the change to make this function just shift the value left by 1, which seems to be the correct behavior, but this did not affect any test cases. This requires more investigation into why it does what it does now, and how that change does not affect anything. Is it perhaps not being used?

[2020-07-23 00:58] fw-brice commented on #24
I will set this up using the technique described here - https://www.growingwiththeweb.com/2016/07/enabling-pull-requests-on-github-wikis.html. This seems like a nice workaround and is easy to implement and maintain.

[2020-07-23 02:22] luyahan commented on #33
I complete it ~

[2020-07-23 03:28] luyahan commented on #49
@fw-brice Do you mean  the relocation doesn't be excuted correctly on Qemu ?
I have a question about why  a reloaction to update the instructions loading the address is needed ?

[2020-07-23 04:00] luyahan opened #60 "Try to cross compile node.js for Riscv64"
node.js version:14.6.0

[2020-07-23 04:35] luyahan opened #61 "internal error in test-code-generator/FuzzAssembleMove runned on hifive-unleashed failed"
**Describe the bug**
Run  test-code-generator/FuzzAssembleMove on hifive-unleashed failed, but  Test pass on qemu.

**To Reproduce**
1. Build with options `riscv64.native.debug`
2. Run test/program `./cctest test-code-generator/FuzzAssembleMove --random-seed=658291538 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
4. See ` Fatal error`

**Expected behavior**
Run test

[2020-07-23 07:53] luyahan commented on #49
[code]
i add `--debug-riscv`, find that address starts with 0x5618XXX at first.

[2020-07-23 09:13] luyahan commented on #61
[code]

[2020-07-23 09:36] luyahan commented on #49
[code]
In actual operation, the address has been moved, but the jump address is still the same.

[2020-07-23 10:14] luyahan commented on #49
So we need add a relocinfo when load a label or modify test case  that jump a label by offset.

[2020-07-23 12:49] lazyparser commented on #33
good job. Currently I have not the perm to reassign the issue, maybe @fw-brice would like to help reassign this issue :-)

and a few comments:

1. the PLCT Mirror is used for the developers inside mainland China who has trouble to download fedora and v8. for general worldwide it is ok to use the original URL. Maybe we should swap these two links, putting original/upstream link as the default link,

[2020-07-23 13:35] fw-brice commented on #49
I'm not sure yet. I am looking into it now. It is clear that there is a discrepancy between the two versions, but I don't know why yet.

[2020-07-23 14:54] DrRezaYazdani1 commented on #53
This test fails on MIPS64 simulator run in a similar form as RISC-V.
My evaluation is the implementation of  signalling NaN in the simulators both for MIPS64 and RISC-V is buggy. I suggest delay fixing this issue until running the test on the actual hardware.

Here is the fault and trace for MIPS64:
reza@olabg13083:~/v8/v8$ ./out.gn/mips64el_debug/d8 --test test/mjsunit/mjsunit.js test/mjsunit/was

[2020-07-23 14:55] penguinwu opened #63 "Testing for release simulated build"
Description:

- Built a simulated release build (see https://v8.dev/docs/build, something like `tools/dev/gm.py riscv64.release`, but you may need to add riscv64/32 target to gm.py)
- Run all test suites
- Triage new failures (compared to simulated debug build) and open issues

Update build wiki (https://github.com/v8-riscv/v8/wiki/simulator-build):
- Add instructions on how to build release build

[2020-07-23 15:52] penguinwu commented on #33
@fw-brice Could you try out the instruction and reproduce the build on our side and add perhaps simplified instructions for people outside China?

[2020-07-23 17:58] fw-brice commented on #49
Yes, that seems to be the problem. With your initial description, I thought that this was not happening in the run on QEMU, but it seems that it is. I am looking into where this relocation should happen and why it is not.

[2020-07-23 18:02] fw-brice commented on #33
Ok, I will try it this afternoon.

[2020-07-23 20:04] fw-brice commented on #49
I believe the relocation happens in `Factory::CodeBuilder::CodeBuilder(Isolate* isolate, const CodeDesc& desc, Code::Kind kind)`, at src/heap/factory.cc:197:

[code]

I think you're right that we need to insert a reloc for the `LoadAddress`. I am experiimenting with it now.

[2020-07-23 23:41] derekzTu opened #64 "Compilation Error: test/cctest/test-macro-assembler-riscv64.cc:1480:9"
**Describe the bug**
Running `tools/dev/gm.py riscv64.check` will result a compiler error for the file `v8/test/cctesttest-macro-assembler-riscv64.cc`.

**To Reproduce**
Steps to reproduce the behavior:
1.  Ensure `riscv64.release/` is in `out/` i.e. (`$V8_ROOT/v8/out/riscv64.release/`). If it exists go to step 3.
2. If it has not then  in `$V8_ROOT/v8` run
```tools/dev/gm.py riscv64.release```
3.

[2020-07-23 23:50] lazyparser commented on #64
Hi @luyahan would you like to take a look?

[2020-07-23 23:53] lazyparser commented on #64
looks like the default build configurations enabled the `warnings as errors` config.

try to put this line in to `args.gn` and build again, to see if there is more errors appear.

[code]

[2020-07-23 23:54] penguinwu commented on #64
Derek will take this one.

[2020-07-24 00:13] fw-brice commented on #49
I do not have a working solution yet, but my work pushed to the branch `49-reloc`, in case you continue work on it during my night time.

[2020-07-24 00:21] luyahan commented on #60
I are working on it

[2020-07-24 00:53] penguinwu opened #65 "Testing simulated build w/ stress-opt options"
This work is to stress-test compilation and optimization for simulated build. With these flags, a lot more codes will be compiled (instead of going through the Ignition path).

[code]

Let's test the `simulate.debug` build w/ stress tests and open issues for any additional failures from either normal `simulated.debug `build or normal `simulated.release` build.

You can also stress test `simulated.

[2020-07-24 01:02] luyahan commented on #49
int Assembler::RelocateInternalReference not implemented for riscv64.

[2020-07-24 06:11] luyahan commented on #49
I implement reloc address in #66

[2020-07-24 14:03] penguinwu commented on #58
Fixed.

[2020-07-24 14:03] #58 closed

[2020-07-24 15:00] penguinwu commented on #53
I just noticed that in `mjsunit.status`, it listed the reasons why these tests were skipped. Let me validate that indeed on RISC-V, the sNaN and qNaN encoding differs from WASM, then we can safely skip these tests. I will assign this back to myself.

[code]

[2020-07-24 15:02] chaoRIOS opened #68 "RV32 backend"
Dev branch:

- [rv32](https://github.com/chaoRIOS/v8/tree/rv32)

Status:

- RV32 simulator
- RV32IM cctests

TODO:

- RV32 compiler
- RV32A
- re-enabling RV64 testcases

[2020-07-24 17:24] fw-brice commented on #33
@luyahan, the changes say "please modify `toolprefix` of `gcc_toolchain("riscv64")` in `./build/toolchain/linux/BUILD.gn`, but there is no `gcc_toolchain("riscv64")` in that file. Is there an update to the build.patch that goes along with these instructions?

[2020-07-24 18:32] derekzTu commented on #64
Changing

`treat_warnings_as_errors = false`

in `build/config/compiler/compiler.gni` passes the build.

[2020-07-24 19:41] fw-brice commented on #33
I ran into this error:

[code]

Am I supposed to add a dir to `PKG_CONFIG_PATH`?

[2020-07-24 21:14] penguinwu commented on #64
Do not change the setting. Let's fix the compiler warning. If `error` is indeed unused, remove the variable `error`.

[2020-07-25 02:23] penguinwu commented on #60
@luyahan @fw-brice Please coordinate your efforts.

We hope to be able to include a demo for Node for the Global Forum talk. The first step is to assess if this is even possible (we have less than 2 weeks before the talk video is due).

[2020-07-25 02:23] lazyparser commented on #35
issue claimed. 👌

as @fw-brice mentioned, custom buildbots is unsafe to accept the CI jobs from github PRs directly. an alternative way is to set up several internal CI machines which only build for protected branch like the master banch. and stress testing, fuzzing, performance tracing could also be run on internal buildbots.

The plan is:
1. set up two CI machines for master branch. run some tes

[2020-07-25 09:08] luyahan commented on #33
Sorry, i don't add `apply build.patch` to wiki. It is neccessary for cross compiled.
I have add it.

[2020-07-25 09:12] luyahan commented on #61
In the latest code, there is no this problem, to be confirmed in detail next week.

[2020-07-25 09:25] lazyparser commented on #61
interesting. keep this issue for one or two weeks to see if it happens again.

[2020-07-27 07:02] luyahan opened #71 "internal error:test-icache.cc：line 163、118、188"
**Describe the bug**
Run test case failed

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.release'
2. Run test/program 'python2 ./tools/run-tests.py --outdir=./ cctest' on `hifive unleashed`
3. See error

**Expected behavior**
not error occurs

**Errors/Logs**
[code]

**Additional context**
None

[2020-07-27 07:06] luyahan opened #72 "internal error:cctest/test-intl.cc:225"
**Describe the bug**
Run test case failed

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.release'
2. Run test/program 'python2 ./tools/run-tests.py --outdir=./ cctest' on `hifive unleashed`
3. See error

**Expected behavior**
not error occurs

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-07-27 07:06] luyahan opened #73 "internal error: cctest/test-run-machops.cc 2233"
**Describe the bug**
Run test case failed

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.release'
2. Run test/program 'python2 ./tools/run-tests.py --outdir=./ cctest' on `hifive unleashed`
3. See error

**Expected behavior**
not error occurs

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-07-27 07:08] luyahan opened #74 "internal error: cctest/test-run-wasm-64.cc:753 821"
**Describe the bug**
Run test case failed

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.release'
2. Run test/program 'python2 ./tools/run-tests.py --outdir=./ cctest' on `hifive unleashed`
3. See error

**Expected behavior**
not error occurs

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-07-27 07:11] luyahan opened #75 "internal error: cctest/test-run-wasm-atomic"
**Describe the bug**
Run test case failed

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.release'
2. Run test/program 'python2 ./tools/run-tests.py --outdir=./ cctest' on `hifive unleashed`
3. See error

**Expected behavior**
not error occurs

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-07-27 07:35] luyahan commented on #60
I complied the node.js, Some errors are indicated:
[code]
Is it because we don't have merge's latest V8 code?
node.js deps v8 commit
[code]

[2020-07-27 09:54] luyahan commented on #60
I checkout node to v14.0.0. It's v8 version is 8.1.307

[2020-07-27 18:23] derekzTu commented on #63
Build wiki update: https://github.com/v8-riscv/v8/wiki/Simulator-Build#build-v8-release-simulated-build

[2020-07-27 21:01] fw-brice commented on #33
I think you had the directions there previously to apply the patch, but I removed it because that is already covered in the "Get the source" page. The problem, I think, was that I must not have had the updated version of that file which added this section. I have resolved that, but I still get the same issue about the `PKG_CONFIG_PATH`.

[2020-07-28 00:53] luyahan commented on #61
The internal error still exit.

[2020-07-28 01:14] luyahan commented on #60
[code]
Some functiones are not implemented.

[2020-07-28 01:27] luyahan commented on #60
error of narrowing  occurs in build node.js. @fw-brice
[code]

[2020-07-28 02:09] penguinwu commented on #60
Our v8 was forked from 8.1.268. Should we try a slightly older version of Node that matches w/ our V8 version? Otherwise, we may consider to rebase to 8.1.307.

The Liftoff compiler seems to have gone through a lot of changes lately (we also had additional wasm failures using latest V8 wasm test cases).

[2020-07-28 02:18] luyahan commented on #60
v8 used by a slightly older version of Node(v13.x.x)  is 7.x.x. There are a lot of differents between 7.X.X and 8.1.268.

[2020-07-28 02:54] luyahan commented on #60
Build node.js for riscv64:
1. `git clone git@github.com:luyahan/nodejs-riscv64.git` and `cd nodejs-riscv64 `
1. `./build_riscv64.sh`
1. `make -j4`

[2020-07-28 05:30] luyahan opened #79 "A internal error occurs in mjsunit/es6/promises by the latest code."
==== C stack trace ===============================
**Describe the bug**
Hi @fw-brice , the latest code(`commit:6d9a4ef6ce25f09278828883ad26bb3b5812e19a`) in riscv-porting-dev occurs internal error in mjsunit/es6/promises.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.sim'
2. Run test/program` ./out/riscv64.sim/d8 --test test/mjsunit/mjsunit.js test/mjsunit/es6/p

[2020-07-28 06:25] luyahan commented on #79
I revert @LOGQTAINIA  4 commit:
[code]
it is ok, but i revert
[code]
it's also ok.

[2020-07-28 06:56] luyahan commented on #79
- Build the latest code(commit:6d9a4ef6ce25f09278828883ad26bb3b5812e19a)
- run  ` ./out/riscv64.debug/d8 --test test/mjsunit/mjsunit.js test/mjsunit/es6/promises.js --randomseed=1058420632 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --allow-natives-syntax` on qemu. It's also ok.

[2020-07-28 07:22] luyahan commented on #79
error occurs in CI:https://github.com/v8-riscv/v8/runs/917239009?check_suite_focus=true

[2020-07-28 07:43] luyahan commented on #79
I run twice, one is normal, one is failed.
[code]

[2020-07-28 08:00] amyzxf commented on #79
It's the same on my side,  sometimes it reports wrong, sometimes it's successful.

[2020-07-28 08:25] thomasyonug commented on #79
It works very well on my physical machine.

`abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --allow-natives-syntax
Warning: unknown flag --randomseed=1058420632.
Try --help for options
Warning: unknown flag --enable-slow-asserts.
Try --help for options
new-throw succeeded
resolved/then succeeded
rejected/then succeeded
then/resolve succeeded
then/resolve succeeded
then/reject s

[2020-07-28 13:01] fw-brice commented on #56
This same error occurs for `es6/promises`:

[code]

[2020-07-28 13:01] #54 closed

[2020-07-28 13:02] #50 closed

[2020-07-28 13:02] #64 closed

[2020-07-28 13:05] #49 closed

[2020-07-28 13:07] #79 closed

[2020-07-28 13:07] fw-brice commented on #79
Duplicate of #56

[2020-07-28 16:59] fw-brice commented on #56
If I revert the changes recommended by @luyahan in #79, then `es6/promises` passes for me too, but `es6/block-conflicts-sloppy` still fails with the same error.

[2020-07-28 19:44] fw-brice commented on #33
@luyahan - I am still running into the pkg-config issues. What am I missing there?

[2020-07-29 00:24] luyahan commented on #33
It should be to install some dependencies, you can use a script written by Google.
Try `./build/install-build-deps.sh`.

[2020-07-29 03:04] derekzTu opened #82 "Internal Error: not instance of in `test/mjsunit/mjsunit.js:15`"
**Describe the bug**
Testcase throw not an instance of error

**To Reproduce**
Steps to reproduce the behavior:
1. Build simulated release build (`tools/dev/gm.py release.riscv64`)
2. Run test/program
[code]
3. See error
[code]

**Expected behavior**
No error message/log produced

[2020-07-29 03:07] derekzTu commented on #63
Testing Status wiki update: https://github.com/v8-riscv/v8/wiki/Testing-Status#release-build-v8-riscv-testing

[2020-07-29 04:07] derekzTu commented on #56
This same error appears for `test/debugger/debug/side-effect/debug-evaluate-no-side-effect-builtins.js`
[code]

and

`test/debugger/debug/debug-negative-break-points.js`
[code]

and

`test/debugger/debug/debug-evaluate.js`

[code]

and

`test/debugger/debug/debug-scopes.js`
[code]

[2020-07-29 08:40] luyahan commented on #72
ICU return U_MISSING_RESOURCE_ERROR. So i miss copy icu data to qemu.

[2020-07-29 08:41] #72 closed

[2020-07-29 12:29] fw-brice commented on #33
Thanks Yahan. I decided to wipe everything and start clean and it works now. I am going through the rest of the steps, then will test the Node.js build.

[2020-07-29 12:29] fw-brice commented on #33
Should we change the default prefix inside `build.patch` to `riscv64-unknown-linux-gnu`?

[2020-07-29 17:36] penguinwu commented on #56
@fw-brice Since several failures are traced back to this internal assert, could you coordinate w/ @DrRezaYazdani1  and @luyahan to give this issue a higher priority?

[2020-07-29 17:47] penguinwu commented on #73
Assigning it to Derek (but if someone is already working on this issue, do comment here).

@derekzTu first try if this test fails in QEMU or not. To reproduce this error, you can run the specific test alone using `cctest`, i.e.,
[code]

Please follow the "how to debug" wiki on tips of debugging at the cctest level. Since this test passes in simulated build, but fails in native run, one possibility

[2020-07-29 18:43] derekzTu commented on #56
The error also pops up for debug + stress options for these tests:

Test:
`test/mjsunit/eval-stack-trace.js`
Command:
[code]
-----------
Test:
`test/mjsunit/mjsunit-assertion-error.js`
Command:
[code]
-----------
Test:
`test/mjsunit/modules-init3.mjs`
Command:
[code]
-----------
Test:
`test/mjsunit/modules-namespace4.mjs`
Command:
[code]
-----------

Test:
`test/mjsunit/simple-constructor.js`
Comm

[2020-07-29 19:00] derekzTu opened #84 "Fatal Failure: Debug check failed in `codegen/riscv64/macro-assembler-riscv64.cc`"
**Describe the bug**
Running `test/mjsunit/regress/regress-1122.js` triggers a fatal failure of `Debug Check`

**To Reproduce**
Steps to reproduce the behavior:
1. Build with simulated and debug build (see instruction [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run test/program
[code]
3. See error
[code]

**Expected behavior**
A clear and concise description of what you expecte

[2020-07-29 19:42] fw-brice commented on #33
I have updated the instructions a bit and verified that it works for me. Thanks @luyahan! 👍

[2020-07-29 19:42] #33 closed

[2020-07-29 22:02] derekzTu opened #85 "Fatal error: unreachable code in ` , line 0`"
**Describe the bug**
Running `test/intl/date-format/format-range.js` triggers an internal error

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
[code]

**Expected behavior**
No error messages
**Errors/Logs**
Full stack trace:
[code]

**Additional context**
Th

[2020-07-29 22:02] derekzTu opened #86 "Not Instance of Error: in `test/mjsunit/mjsunit.js:315`"
**Describe the bug**
Running `test/mjsunit/harmony/object-fromentries.js` triggers a not instance of error

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
[code]

**Expected behavior**
No error log shown

[2020-07-29 22:03] derekzTu opened #87 "Segmentation Fault for mjsunit for `test/mjsunit/regress/regress-980891.js`"
**Describe the bug**
Running `test/mjsunit/regress/regress-980891.js` results in a segmentation fault

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
[code]

**Expected behavior**
No segmentation fault

**Additional context**
Other tests that also encounter t

[2020-07-29 22:39] derekzTu opened #88 "Attempting to Kill Process for certain tests in cctest"
**Describe the bug**
Trying to run some tests on the release build causes an attempt to kill of some tests, which can result in hanging

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
If run individually it hangs, if run in the test suite it looks like this:

[2020-07-30 00:39] derekzTu opened #89 "Attempting to Kill Process for certain tests in mjsunit"
**Describe the bug**
Trying to run some tests on the release build causes an attempt to kill of some tests, which can result in hanging

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
If run individually it hangs, if run in the test suite it looks like this:

[2020-07-30 00:53] derekzTu opened #90 "Atomics Failure for `wasm/atomics-stress.js`"
**Describe the bug**
Running `wasm/atomics-stress.js` results in a `FAIL`.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the simulator build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
[code]

**Expected behavior**
No Worker print out or FAIL printout.

**Additional Notes**
Another atomic test: `test/mjsunit/wasm/

[2020-07-30 00:58] penguinwu commented on #84
This is a good starter issue. @derekzTu  you can work on this one first.

[2020-07-30 01:03] derekzTu opened #91 "Assertion failure: for `test/mjsunit/wasm/futex.js` in `test/mjsunit/mjsunit.js:315`"
**Describe the bug**
Running `test/mjsunit/wasm/futex.js` results in an assertion failure

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run program:
[code]
3. See error
[code]

**Expected behavior**
No error output

**Additional context**
This one seems indeterministic as it only fails onc

[2020-07-30 01:34] fw-brice commented on #60
I was able to reproduce this and run not only some basic js, but also able to run a working webserver! Nice work @luyahan!

[2020-07-30 01:39] fw-brice commented on #60
One thing I am unclear on which I have not investigated yet... how is Node finding our v8 in this build?

[2020-07-30 02:05] luyahan commented on #73
I alter code
[code]

In x86 by smiulator out log:
[code]

in hifive-unleashed:
[code]

[2020-07-30 02:08] fw-brice commented on #60
Oh, I see you've included our version of v8 in the deps directory and it builds together.

[2020-07-30 03:06] lazyparser commented on #90
seems the implementation of  atomics is a priority now.

[2020-07-30 08:04] luyahan commented on #73
[code]
[code]

[2020-07-30 09:10] luyahan commented on #73
I guess i know why it. Because bt.call is code gen and Uint32MulHigh set uint32_t num to a0 but don't signed extened the a0. so result  get a uint32_t value(not signed extened).

[2020-07-30 10:12] luyahan commented on #60
I alos merge 8.1.307.

[2020-07-30 12:05] fw-brice commented on #60
Great. Is that changeset ready for a PR?

[2020-07-30 13:39] thomasyonug commented on #6
Actually, this is a testrunner bug from upstream.

[https://bugs.chromium.org/p/v8/issues/detail?id=10770](url)

We can now ignore fuzzer testing until it's fixed.

[2020-07-31 00:47] luyahan commented on #73
@penguinwu @derekzTu i had fix it and pull request.

[2020-07-31 00:48] luyahan commented on #74
I am working on it .

[2020-07-31 01:00] luyahan commented on #75
I am working on it.

[2020-07-31 01:01] luyahan commented on #90
is similar with #75 ?

[2020-07-31 03:34] luyahan commented on #74
[code]

[2020-07-31 04:33] luyahan commented on #61
I guess it is smilar with #74

[2020-07-31 05:48] luyahan commented on #74
(gdb) info registers s3
s3             0x55     85
(gdb) x /20i 0x3ff7ffc628
=> 0x3ff7ffc628:        flt.s   s3,fa0,fs9
   0x3ff7ffc62c:        bnez    s3,0x3ff7ffc640
   0x3ff7ffc630:        li      a1,-1
   0x3ff7ffc634:        slli    a1,a1,0x3f
   0x3ff7ffc638:        addi    a1,a1,-1
   0x3ff7ffc63c:        j       0x3ff7ffc604
   0x3ff7ffc640:        li      a1,-1
   0x3ff7ffc644:        sll

[2020-07-31 07:41] luyahan commented on #74
I run this case in qemu. It's ok  but incorrect in hifive unleashed

[2020-07-31 09:49] luyahan commented on #90
I fix #75 by #94 , may be useful for this.

[2020-07-31 12:40] fw-brice commented on #74
The documentation about FEQ.S, FLT.S, and FLE.S states:

[2020-07-31 12:44] luyahan commented on #74
But the operand is inf not NaN.And i write a sample code, the result is right in hifive.

[2020-07-31 12:48] fw-brice commented on #74
Oh right. Sorry, I read that too quickly 😬

[2020-07-31 12:48] luyahan commented on #74
I got it, fs9 is NaN. So the zero set incorrtectly.

[2020-07-31 12:50] luyahan commented on #74
Gdb bug in fs9, It's NaN not zero.

[2020-07-31 14:00] luyahan commented on #74
@fw-brice  refer to https://groups.google.com/a/groups.riscv.org/g/sw-dev/c/mfGw77uQYwc/m/1IrLgMpWAwAJ

[2020-07-31 17:58] #73 closed

[2020-07-31 20:58] derekztu22 commented on #84
Would someone be able to explain to me why for the riscv64 assembler it expects the DropAndRet to be of int_12?

[code]

For reference, mips expects it to be of int_16:

[code]

I think that the test itself expects it to be able to go past the int12 boundary because it defines 8000 function arguments, which when we calculate the size of the 8000 * pointer_size, goes past the int12 boundary so the

[2020-08-03 03:49] luyahan opened #97 "Riscv64-simulator can't handle a float value which isn't NaN-boxed."
**Describe the bug**
On riscv64, a float value is stored into 64-bit f-register. It should be NaN boxed, such as `zero` boxed to `0xFFFFFFFF00000000ULL`. If not boxed, it will be treated as a NaN value on hifive-unleashed. So our simulator should also treated  it as NaN.
refer https://groups.google.com/a/groups.riscv.org/g/sw-dev/c/mfGw77uQYwc/m/HhOb3QUvBAAJ

**To Reproduce**
relating #74

**Expec

[2020-08-03 03:51] luyahan commented on #97
@LOGQTAINIA

[2020-08-03 03:55] lazyparser commented on #85
Is anyone working on this bug?

[2020-08-03 03:57] lazyparser commented on #4
Is anyone working on this bug?
if not, @thomasyonug @LOGQTAINIA would you have time to dig into it?

[2020-08-03 03:57] lazyparser commented on #13
@luyahan are you working on (partially) this area?

[2020-08-03 04:02] luyahan commented on #82
I am working on it.

[2020-08-03 04:43] luyahan commented on #97
It also relating #61 @fw-brice @penguinwu . We don't handle correctly float-value with NaN boxing.

[2020-08-03 08:53] LOGQTAINIA commented on #4
May I have a try when I finish #97 ?

[2020-08-03 09:34] lazyparser commented on #4
sure. assigned.

[2020-08-03 12:41] fw-brice opened #98 "Add architecture flags to specify various combinations of RISC-V ISA extensions"
As we add support for various extensions, we should follow the standards defined for RISC-V toolchains [here](https://github.com/riscv/riscv-toolchain-conventions). Following the same conventions and using the same flags as other tools will make it easier for the community to adopt.

Let's start with a design issue for specifying riscv architecture flag before implementation.

[2020-08-03 13:53] lazyparser commented on #98
IIUC we are using RISCV64G or RISCV64GC currently. the `V` Extension might be added optionally for performance.

[2020-08-03 13:54] lazyparser commented on #98
as we discussed last week, RISCV32* might not be a stable target yet.

[2020-08-03 18:30] #63 closed

[2020-08-03 18:31] penguinwu commented on #65
Stress tests results are added in https://github.com/v8-riscv/v8/wiki/Testing-Status

[2020-08-03 18:31] #65 closed

[2020-08-03 18:59] penguinwu commented on #97
You are right. I didnt handle NaN-boxing in the simulator, good that you've spotted the problem. We shall probably add a test case for NaN-boxing in `test-assembler-riscv64.cc` too.

[2020-08-03 20:32] penguinwu commented on #4
Let's hold this one off for a bit. The latency estimates depends on the implementation in macro-assembler. Let me finish the macro-assembler cleanup (#2, #3) in a week or so, then @LOGQTAINIA can work on this one.

[2020-08-03 21:28] #75 closed

[2020-08-03 21:29] #71 closed

[2020-08-03 21:30] #74 closed

[2020-08-04 00:32] #84 closed

[2020-08-04 00:42] lazyparser commented on #97
if there is no issue for it, would @LOGQTAINIA open one for it and have a PR?

[2020-08-04 01:10] LOGQTAINIA opened #102 "Add a test case for NaN-boxing"
As mentioned in #97

[2020-08-04 01:34] penguinwu commented on #98
@fw-brice Do you envision we specify target architectures as flags to build scripts (e.g., variations to `riscv64`), or do we use the C/C++ preprocessor flags (https://github.com/riscv/riscv-toolchain-conventions#cc-preprocessor-definitions) to determine which specific ISA extensions are supported by the hardware? I suppose the latter works for native build but not simulator build?

In any case, w

[2020-08-04 01:39] penguinwu commented on #86
Look like duplicate of #82

[2020-08-04 01:42] penguinwu commented on #19
@fw-brice Could you do an initial investigation of the work required to rebase to the latest V8 release? Based on the findings, we can then break down the work to different issues.

The liftoff compiler may have gone through a lot of changes since the beginning of the year.

[2020-08-04 02:02] #6 closed

[2020-08-04 02:06] penguinwu opened #103 "Fix release build error in assembler-riscv64-inl.h:197"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options '...'
[code]
2. Run test/program '...'
3. See error
[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
If applicable, copy/paste the errors or log messages here.

**Additional context**
Add any o

[2020-08-04 02:22] thomasyonug commented on #85
I'll take a look.

[2020-08-04 02:34] penguinwu commented on #90
The test still fails after #94. In fact, the failure can be reproduced on the debug build. I am updating the bug report to use debug build to reproduce the error.

[2020-08-04 02:38] penguinwu commented on #90
@luyahan Since you fixed the other atomics failure, assigning this one to you too.

[2020-08-04 07:49] luyahan commented on #30
This issue had be fixed by #38 .

[2020-08-04 07:49] #30 closed

[2020-08-04 18:00] penguinwu opened #106 "Triage and prioritize cctest failures in native build"
Currently `cctest` pass-rate is less than 70% (see [test status](https://github.com/v8-riscv/v8/wiki/Testing-Status#cross-compiled-v8-riscv-testing)). Need to get a bigger picture of where `cctest` are failing.

[ ] Please post an up-to-date cctest run log somewhere as it shows which tests are failing and the failure messages.
[ ] Sort out cctest failures, identify issues that 1) cause the most te

[2020-08-04 18:05] penguinwu commented on #106
@lazyparser I'd like to get a better understanding of where we are on the native/qemu runs. Current testing status tracks only the success-rate, but does not provide detailed information of which tests (especially `cctest`) are failing and whether issues have been created to the common or critical failures.

Once the cctest run log is posted, I can work w/ the assignee to triage and prioritize the

[2020-08-04 18:18] #12 closed

[2020-08-04 20:29] penguinwu opened #107 "Decide base NodeJS version and setup NodeJS repo"
Decide the basic NodeJS version that we would like to bring up and the corresponding V8 version/tag. Setup NodeJS repo under v8-riscv/ and the wiki on how to build NodJS (using v8-riscv) in QEMU/real hardware.

Dependency: rebasing v8 to the chosen version #19.

[2020-08-04 20:38] penguinwu opened #108 "Run nodejs test cases"
- [x] Gain an understanding of NodeJS standard test suite
- [x] Run all NodeJS test cases and get a base success rate
- [x] Triage the failures and open issues for common and critical issues

[2020-08-05 01:07] lazyparser commented on #106
@luyahan and I would run & triage the bugs in HiFive Unleashed.

@thomasyonug @LOGQTAINIA could run QEMU ;-)

[2020-08-05 01:11] penguinwu opened #109 "Investigate the feasibility and benefit of 32-bit build"
**Feasibility investigation**

[ ] Is it possible to cross-compile a 32-bit V8 for RISCV? If not, is it caused by dependence on 32-bit supports of other components?
[ ] Is it possible to run a 32-bit RISCV application on a 64-bit Linux distribution?

** Benefit investigation**
[ ] Are there significant memory footprint savings of running 32-bit V8 vs 64-bit V8? This can be estimated on ARM (32- vs

[2020-08-05 01:22] penguinwu opened #110 "Investigate on enabling V8 on hardware without floating-point extensions"
The current backend supports the complete functionality of V8 using `RV64I` and `M`, `A`, `F`, `D`, `Zicsr`, `Zifence` extensions. Is this the minimal ISA requirement? In particular, can V8 be built without floating-point ISA support (e.g., using softfloat)?

[2020-08-05 01:25] penguinwu commented on #106
Please remember to share the `run.log` somewhere that others can see. I'd like to take a look at the raw logs.

[2020-08-05 01:57] luyahan commented on #106
[log-error.txt](https://github.com/v8-riscv/v8/files/5025678/log-error.txt)
This is a log ran last week.

[2020-08-05 02:33] lazyparser opened #111 "release build: src/codegen/riscv64/assembler-riscv64-inl.h:197:11: error: unused variable 'instr' [-Werror,-Wunused-variable]"
**Describe the bug**

error: unused variable 'instr' [-Werror,-Wunused-variable]

Build Error

**To Reproduce**

Steps to reproduce the behavior:
1. follow https://github.com/v8-riscv/v8/wiki/get-the-source
2. follow https://github.com/v8-riscv/v8/wiki/simulator-build
3. run `tools/dev/gm.py riscv64.release`

**Expected behavior**

Build succeed

**Errors/Logs**
[code]

**Additional context**
[cod

[2020-08-05 05:12] luyahan commented on #106
I have updated test status.
[log-cctest.txt](https://github.com/v8-riscv/v8/files/5026259/log-cctest.txt)
[log-unittests.txt](https://github.com/v8-riscv/v8/files/5026260/log-unittests.txt)

[2020-08-05 05:19] luyahan commented on #106
uinttests:
[code]

[2020-08-05 05:32] luyahan commented on #106
intl:
[code]

[2020-08-05 05:34] luyahan opened #112 "intl/regress-9812.js test case failed on hifive."
**Describe the bug**
A case in intl failed on hifive.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.release'
2. Run test/program 'riscv64.native.release/d8 --test test/intl/assert.js test/intl/utils.js test/intl/regress-9812.js --random-seed=2057794159 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --allow-natives-syntax'
3. See erro

[2020-08-05 05:52] luyahan opened #113 "SIMD test failed in cctest on hifive unleashed."
**Describe the bug**
some simd test error, but we don't implement SIMD.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.release'
2. Run test/program 'python2 ./tools/run-tests.py --outdir=./riscv64.native.release/   cctest'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Addition

[2020-08-05 05:55] luyahan opened #114 "Side-effect/debug-evaluate-no-side-effect-builtins test case in debugger failed on hifive unleashed."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `python2 ./tools/run-tests.py --outdir=./riscv64.native.release/ message inspector  mkgrokdump debugger`
3. See error

**Expected behavior**
no error occurs.

**Errors/Logs**
[code]

**Additional context**
Add a

[2020-08-05 06:48] luyahan commented on #112
[code]
log:
[code]

[2020-08-05 08:09] luyahan commented on #106
ICU c++代码报错, U_MISSING_RESOURCE_ERROR

[2020-08-05 08:43] luyahan commented on #112
ICU c++ code error, U_MISSING_RESOURCE_ERROR.
It should be missing some file.

[2020-08-05 14:25] lazyparser commented on #106
I've tested the latest commit (9b902c290c364e4bb25315f440a0d7f2086ff2c4) on QEMU 5.0.0 with fedora developer 20200108

the result is surprisingly better than two weeks before.

(tips: you might need to enlarge the raw disk image up to 50GB : https://fedoraproject.org/wiki/Architectures/RISC-V/Installing#Optional:_expand_the_disk_image )

(the wiki will be updated after the last three test sets fin

[2020-08-05 14:56] penguinwu commented on #111
Duplicate of #103 (already fixed).

[2020-08-05 14:56] #111 closed

[2020-08-05 14:57] penguinwu commented on #103
Fixed by #104

[2020-08-05 14:57] #103 closed

[2020-08-05 16:59] fw-brice commented on #98
I was just referring to the flags for building v8 actually.

[2020-08-05 17:52] penguinwu commented on #106
@luyahan Could you add HiFive board details to the testing status page https://github.com/v8-riscv/v8/wiki/Testing-Status#running-on-hifive-unleashed-board?

[2020-08-05 17:57] penguinwu opened #116 "Functional testing of v8 benchmarks"
Follow the instructions [here](https://v8.dev/docs/benchmarks) to functionally test V8 benchmarks (those are different from `run_tests.py` test suite). We do not care about performance at this point, so do not report any performance number, just the pass rate and open issues for failures.

Need to test the following configurations:
- simulated.debug build
- simulated.release build
- simulated.debu

[2020-08-05 19:41] fw-brice opened #117 "Improve management of `t5` and `t6`"
There is a nice mechanism to manage the use of asembler scratch register `t3`, via `UseScratchRegisterScope`. We also use `t5` and `t6` as assembler scratch registers, but their use is very ad-hoc, other than ensuring that the trampoline pool generation does not happen while they are live. All three registers should be able to use the same technique to manage their scope.

[2020-08-06 00:03] lazyparser commented on #36
status update:

currently manually tested on main branch. as the security recommendations from github, we've decide not to integrate the board directly in to github CI.

[2020-08-06 00:04] lazyparser commented on #35
status update:

currently manually tested on main branch. may delay to next biweekly meetings.

[2020-08-06 01:19] luyahan commented on #106
Is your mean  add error log into wiki? I add it later.

[2020-08-06 02:10] #2 closed

[2020-08-06 02:26] lazyparser commented on #57
@LOGQTAINIA have a try

[2020-08-06 03:28] lazyparser commented on #106
- [ ] the hardware details of the board: https://www.sifive.com/boards/hifive-unleashed
- [ ] the OS details of the board: Fedora Developer Rawhide [VERSION @luyahan ]

[2020-08-06 10:55] #112 closed

[2020-08-06 13:55] penguinwu opened #119 "Address RISC-V FIXMEs in the source code"
Need to go through all the  `FIXME (RISCV)` in the source code and resolve them or open issues if need further investigation.

[2020-08-06 13:57] #55 closed

[2020-08-06 14:49] penguinwu commented on #36
Ok. Let's close this one.

[2020-08-06 14:49] #36 closed

[2020-08-06 14:50] penguinwu commented on #106
I mean the hardware and OS details (not the error logs).

[2020-08-06 15:17] LOGQTAINIA commented on #5
This issue could be closed.

[2020-08-06 15:18] LOGQTAINIA commented on #5
I will update the debugging instructions in wiki soon.

[2020-08-06 16:16] penguinwu opened #121 "TurboAssembler APIs for sign-extension or zero-extension"
**Is your feature request related to a problem? Please describe.**

Sign-extension and zero-extension are common operations in the code generator or built-in function. Creating an API for them would make the assembly codes easier to understand (than inline implementation of shift-left and shift-right-(arithmetic) for zero/sign extensions).

[ ] Implement `SignExtension()` and `ZeroExtension()` API

[2020-08-06 17:20] penguinwu commented on #5
Are we able to support `gdb` command inside the simulator debugger?

[2020-08-06 23:34] LOGQTAINIA commented on #5
Yeah, `gdb` command is enabled.

More info here: #93

[2020-08-07 00:33] LOGQTAINIA opened #123 "Cctest failed in test-run-wasm-simd.cc"
I made a PR #120 which makes simulator handle float NaN boxing and other process.

But the CI failed. There are 6 tests failed.

[code]

I checked failed tests and found that all 6 failed tests are in `test-run-wasm-simd.cc` file.

I'm not clear with WASM.

I wonder whether it is the change of simulator makes these failed tests.

Or maybe there are some bugs in the porting of WASM.

I would be gra

[2020-08-07 00:48] LOGQTAINIA commented on #123
Oh, I checked the error log. They are the same as #113

[2020-08-07 00:51] #123 closed

[2020-08-07 02:41] luyahan commented on #106
I had added it on wiki.

[2020-08-07 14:08] penguinwu commented on #5
Thanks @LOGQTAINIA , great work!

[2020-08-07 14:08] #5 closed

[2020-08-07 14:24] LOGQTAINIA commented on #5
Thank you for your patience and help all the time.

[2020-08-07 15:22] penguinwu commented on #113
This problem also manifests after the fix in #120 in simulated build after nan-boxing support for float.

Since before the fix #120 the test passes, it may be worth-while to compare the trace-simd before and after the fix in #120 to figure out the difference. Luckily this test consists of only 129 dynamic instructions.

[2020-08-07 18:54] penguinwu opened #126 "Refactoring of TurboAssembler Move() API"
Currently, we have 7 TurboAssembler APIs called Move (or variations). Some of them are actual move between FPUs, others are loading a literal value to FPUs, so the naming can be confusing.

More importantly, loading a float value to FPU does not seem to handle nan-boxing correctly.

[code]

[2020-08-07 21:48] fw-brice opened #127 "Identify and triage remaining issues with `riscv64` branch"
**Describe the bug**
In the `riscv64` branch, I have rebased our RISC-V changes on the tip from upstream. I have resolved all issues with the build, but there are currently 100 tests that fail. These need to be triaged and resolved so that we may make this our main branch.

**To Reproduce**
Steps to reproduce the behavior:
1. Start with a clean directory and get the v8 source as described [here](h

[2020-08-10 03:46] lazyparser opened #129 "[HifiveUnleashed] Fatal error in ../../src/codegen/safepoint-table.cc, line 62"
**Describe the bug**
The Good News is that currently I see one error occurred 3 times in Octane benchmark.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options https://github.com/isrc-cas/PLCT-Toolbox/blob/master/init_v8_all_in_one.sh
2. Run test/program `cd test/benchmarks/csuite && ./csuite.py -r 3 octane baseline ~/riscv64.native.debug/d8`
3. See error

**Expected behavior**

[2020-08-10 03:48] lazyparser commented on #129
I think it is a known bug. Is @LOGQTAINIA working on the issue?

[code]

[2020-08-10 03:50] lazyparser commented on #129
Ohh, I got it wrong:

the octane benchmark quits when first crash hit. and I set to run 3 times for average run time.

[2020-08-10 03:55] lazyparser commented on #116
FYI
v8-riscv seems passed sunspider and kraken benchmark. no error reported by csuite.py.

hit an crash https://github.com/v8-riscv/v8/issues/129 when run octane benchark.

[2020-08-10 06:54] lazyparser opened #130 "[Bug List] QEMU/Fedora Testing Result 20200810 (w/ Hifive Unleashed result)"
**Describe the bug**

Log of QEMU regression testing, 20200810.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options https://github.com/isrc-cas/PLCT-Toolbox/blob/master/init_v8_all_in_one.sh
2. Run test/program : see below
3. See error

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**

[2020-08-10 07:06] lazyparser commented on #130
[code]

[20200810a.log](https://github.com/v8-riscv/v8/files/5049423/20200810a.log)

[2020-08-10 09:25] luyahan opened #131 "[HifiveUnleashed] CRASHED occurs in cctest/test-jump-table-assembler/JumpTablePatchi on hifive."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.debug'
2. Run test/program 'cctest/test-jump-table-assembler/JumpTablePatchi'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**
Add any othe

[2020-08-10 09:26] luyahan opened #132 "[HifiveUnleashed]CRASHED occurs in cctest/test-cpu-profiler/Inlining2 on hifive."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.debug'
2. Run test/program 'cctest/test-cpu-profiler/Inlining2'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**
Add any other context abou

[2020-08-10 14:01] lazyparser commented on #129
seems like that it fails on sim build too.

[code]

[2020-08-10 14:41] lazyparser opened #134 "Enable NodeJS CI (build & regression testing) in QEMU and Hifive Unleashed Board."
**Is your feature request related to a problem? Please describe.**

Now we have a simulation build for every PR and QEMU & Physical Board testing for commits landed on dev branch.

I think it is the time to enable the CI for nodejs.

**Describe the solution you'd like**

Trigger by new commits landed on dev branch.

cross build for nodejs.

run nodejs testsuite.

report failures.

[2020-08-10 14:46] lazyparser commented on #35
Two buildbots has been established.

They are behind the github, which means they only build commits that had been reviewed and merged.

Both QEMU and Hifive Unleashed board target platforms are tested for every new merge (not every commit).

[2020-08-10 14:46] #35 closed

[2020-08-10 14:49] penguinwu commented on #129
Look like a duplicate of #56. May be easier to debug #56 first.

[2020-08-10 14:50] lazyparser commented on #36
Now we have integrate the QEMU and Hifive Unleashed for merged/landed code.

They are behind the github, which means they only build commits that had been reviewed and merged.

[2020-08-10 14:51] lazyparser commented on #116
current:

- [x]     simulated.debug build
- [ ]     simulated.release build
- [ ]     simulated.debug build w/ stress-opt
- [x]     QEMU debug build
- [x]     HiGive debug build

[2020-08-10 14:54] penguinwu opened #135 "[Rebased V8 branch] Internal error: runtime/runtime-wasm.cc line 195"
**Describe the bug**
Trigger internal assertion error in
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Build simulated debug build for rebased-v8 branch (follow build instruction in #127
2. Run test/program 'out/riscv64.sim/cctest test-api/TurboAsmDisablesDetach `
3. See error

[code]

**Expected behavior**
No error message output means the test passes.

**Additional context**
Anothe

[2020-08-10 14:58] penguinwu opened #136 "[Rebased V8 branch] Internal error: execution/riscv64/frame-constants-riscv64.h, line 87"
**Describe the bug**
Trigger V8 internal error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build simulated debug build for rebased-v8 branch (follow build instruction in #127
2. Run test/program 'out/riscv64.sim/cctest test-wasm-breakpoints/RunWasmLiftoff_WasmGetLocalsAndStack'
3. See error

[code]
**Expected behavior**
A successful run has no output.

**Additional context**
Anot

[2020-08-10 15:02] lazyparser commented on #136
FYI I could not reproduce this issue:

[code]

[2020-08-10 15:04] lazyparser commented on #136
oh, I see. this is a bug report targeting `riscv64` branch.

so It would be better to have a prefix like `[b/riscv64]` for different branch?

[2020-08-10 15:27] penguinwu commented on #136
Right, these issues show up in rebased V8 branch. I forgot to mention that they require a slightly different build process, will update the description and put `[Rebase V8]` on the title.

[2020-08-11 06:27] luyahan commented on #61
fix by #105

[2020-08-11 06:27] #61 closed

[2020-08-11 06:45] luyahan commented on #129
I fix it by #139

[2020-08-11 14:32] #121 closed

[2020-08-11 15:35] penguinwu opened #140 "[Rebased V8 branch] Verification failure: TurboAssemblerTest.TestHardAbort"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build for `riscv64` branch following instructions in #127
2. Run test/program
[code]
3. See error

[code]
**Expected behavior**

Output will indicate test passes.

**Additional context**

This is the only test failing under `unittests`.

[2020-08-11 15:55] penguinwu commented on #136
The assertion error was caused by the mismatch between `kPushedFpRegs` and `kLiftoffAssemblerFpCacheRegs`. After setting `kPushedFpRegs` according to `kLiftoffAssemblerFpCacheRegs`, the problem is fixed.

Fixed in `riscv64` branch.

[2020-08-11 15:55] #136 closed

[2020-08-11 15:56] penguinwu commented on #135
Most of the `mjsunit` test failures (tens of failures) also trigger this internal assert, therefore mark it as critical.

[2020-08-11 17:03] #57 closed

[2020-08-11 19:36] penguinwu opened #141 "[Rebased V8 branch] Internal error: assembler-riscv64.cc, line 472"
**Describe the bug**

Trigger internal error in ../../src/codegen/riscv64/assembler-riscv64.cc, line 472

**To Reproduce**
Steps to reproduce the behavior:
1. Build the riscv64 branch following instructions in #127
2. Run test/program
[code]
3. See error
[code]
**Expected behavior**
When test passes, no error message is reported

**Additional context**

Another test fails in the same way:
[code]

[2020-08-11 20:45] penguinwu commented on #135
The bug is due to setting the incorrect `WasmCompileLazyFrameConstants::kWasmInstanceOffset` value in `frame-constants-riscv64.h` that leads to loading the wasm instance from the incorrect offset off the frame.

It seems that the problem should have existed in the `riscv-port-dev` branch as well, but not triggered either because wasm lazy compilation is not triggered or because there was no debug

[2020-08-11 20:45] #135 closed

[2020-08-11 20:48] penguinwu opened #142 "[Rebased V8 branch] Core dump for mjsunit/regress/regress-1067270"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the simulated.debug (default)
2. Run test/program
[code]
3. See error
[code]
**Expected behavior**
When test passes, there is no output

**Additional context**

[2020-08-11 20:52] penguinwu opened #143 "[Rebased V8 branch] Internal error: code-generator-riscv64.cc, line 77, offset == tasm()-> SizeOfCodeGeneratedSince(&start_call)"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the riscv64 branch following instructions in #127
2. Run test/program
[code]
3. See error

[code]
**Expected behavior**
Output indicates `PASS`

**Additional context**
12 out of 17 `wasm-api-tests` fail the same way

[2020-08-12 02:57] luyahan commented on #82
On the lastedt commit, the test case pass. @derekzTu

[2020-08-12 02:57] luyahan commented on #86
On the lastedt commit, the test case pass. @derekzTu

[2020-08-12 03:04] thomasyonug commented on #85
It's fixed by pr #139

[2020-08-12 14:15] #85 closed

[2020-08-12 14:16] #86 closed

[2020-08-12 14:16] #82 closed

[2020-08-12 14:18] #129 closed

[2020-08-12 16:51] fw-brice opened #146 "[Rebased V8 branch] Unaligned write: unittests/TurboAssemblerTest.TestCheck"
**Describe the bug**
The test case gets an unaligned write error and fails. It seems possible that the test is supposed to abort, but instead of aborting, it drops into the simulator's debugger (See output)

**To Reproduce**
Steps to reproduce the behavior:
1. Build the riscv64 branch following instructions in #127
2. Run test:
[code]

**Expected behavior**
The test should pass

**Errors/Logs**

[

[2020-08-12 18:58] penguinwu commented on #143
Fixed by latest fixes from `riscv-port-dev` branch

[2020-08-12 18:58] #143 closed

[2020-08-13 00:25] lazyparser opened #148 "[Rebased V8 Branch] Cross Compiling: Build Failed for QEMU/Hifive"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options https://github.com/isrc-cas/PLCT-Toolbox/blob/master/init_v8_all_in_one.sh
( I ran https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8_ci_build_test_upload.sh but only the compilation stage affected)
3. See error

**Expected behavior**
A clear and concise description of what you expected

[2020-08-13 00:27] lazyparser commented on #148
did I miss some (new) configurations for the rebased branch?

I followed the build steps for the `riscv-porting-dev`

[2020-08-13 01:12] lazyparser commented on #148
turns out @thomasyonug met this issue before. so assign to him.

the quick answer is that RISC-V is modular ISA, atomic lib is separated with others. link option `-latomic` should be added.

Thomas is trying to find a way for adding RISC-V specific build args into v8 build configs w/o break other platforms.

[2020-08-13 02:11] LOGQTAINIA opened #149 "Assertion failure for `test/mjsunit/compiler/dataview-detached.js`"
**Describe the bug**
Running `test/mjsunit/compiler/dataview-detached.js` results in an assertion failure.

This bug shows up in #130 , but it could be triggered in simulated build now.

It is caused by nan-boxing PR.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.sim`
2. Run test/program
[code]
3. See error

**Expected behavior**
A clear and concise description

[2020-08-13 02:15] LOGQTAINIA opened #150 "Assertion failure for `test/mjsunit/compiler/int64.js`"
**Describe the bug**
Running `test/mjsunit/compiler/int64.js` results in an assertion failure.

This bug shows up in #130  , but it could be triggered in simulated build now.

It is caused by nan-boxing PR.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options ` riscv64.sim`
2. Run test/program
[code]
3. See error

**Expected behavior**
A clear and concise description of what yo

[2020-08-13 03:46] lazyparser opened #151 "[Rebased V8 Branch] undefined reference to `PushAllRegistersAndIterateStack'"
**Describe the bug**

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Build with options https://github.com/isrc-cas/PLCT-Toolbox/blob/master/init_v8_all_in_one.sh
2. Run test/program  ( I ran https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8_ci_build_test_upload.sh but only the compilation stage affected)
3. fix atomic by add https://github.com/isrc-cas/chromium-v8-build/

[2020-08-13 08:02] LOGQTAINIA opened #152 "Assertion failure for `debugger/debug/side-effect/debug-evaluate-no-side-effect-builtins.js`"
**Describe the bug**
Running `debugger/debug/side-effect/debug-evaluate-no-side-effect-builtins.js` results in an assertion failure.

This bug shows up in #130  , but it could be triggered in simulated build now.

It is caused by nan-boxing PR.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.sim`
2. Run test/program
[code]
3. See error

**Expected behavior**
A cle

[2020-08-13 14:49] penguinwu commented on #151
After the issue is resolved, make sure to update the instruction on the wiki on how to build cross-compiled/native build (if any).

[2020-08-13 14:49] penguinwu commented on #148
After the issue is resolved, make sure to update the instruction on the wiki on how to build cross-compiled/native build (if any).

[2020-08-13 15:00] penguinwu commented on #113
I will investigate the failure on the simulated build.

[2020-08-13 22:12] penguinwu commented on #150
Duplicate of #113, fix ready to check-in.

[2020-08-13 22:12] #150 closed

[2020-08-13 22:13] penguinwu commented on #149
Duplicate of #113. Fix ready to be checked-in.

[2020-08-13 22:13] #149 closed

[2020-08-13 22:15] penguinwu commented on #113
Fix is ready but waiting for #153 to merge in so that the skipped tests can be enabled again.

[2020-08-14 02:34] luyahan commented on #90
test pass on hifive board.

[2020-08-14 03:25] luyahan commented on #56
pr #139  be merged into new branch: `reiscv64`

[2020-08-14 18:17] penguinwu opened #157 "Investigate using constant-pool to optimize loading of large immediate values"
Loading certain 32- or 64-bit immediate values can take up to 6 instructions (see implementation of `TurboAssembler::Li`). In such cases, it may be more beneficial to store the immediate value in a constant pool during code-gen, and then generates a load instruction for load immediate.

Investigate the constant-pool mechanism in other backends to evaluate the feability of implementing it for RISCV

[2020-08-14 18:19] penguinwu commented on #9
Removed as part of MIPS cleanup.

[2020-08-14 18:19] #9 closed

[2020-08-14 18:35] penguinwu opened #158 "Instruction selection enhancements"
[ ] Instruction selection for floating-point multiply-add variations
[ ] Instruction selection to remove unnecessary sign/zero extensions. For example, most `xxx.w` instructions automatically sign-extend the result, subsequent instructions that sign-extend the result of `xxx.w` operation can eliminate the sign-extension.

[2020-08-17 01:41] #97 closed

[2020-08-17 09:04] luyahan commented on #131
[code]

[2020-08-17 18:50] penguinwu commented on #148
@thomasyonug Is this issue resolved? If so, please update the wiki or build script w/ the appropriate flag. I encountered the same build problem following the instructions on the wiki today.

This becomes a critical issue because `riscv64` is our main branch now.

[2020-08-17 18:56] penguinwu opened #161 "Replace `Movz` and `Movnz`"
`TurboAssembler::Movz()` and `TurboAssembler::Movnz()` are MIPS64 legacy. Since RISCV does not have single instructions for `Movz()` and `Movnz()`. Using these APIs may lead to inefficient codes.

For example, in `builtins-riscv64.cc`, `Movz()` are used in testing argc:
[code]
Since each `Movz` is expanded into a compare and branch. The three consecutive `Movz()` for when argc==0 will expand to th

[2020-08-17 19:18] fw-brice opened #163 "foozzie test fails: Failure: expected <3.1415927410125732> found <NaN>"
**Describe the bug**
Test case fails due to floating point value not matching.

**To Reproduce**
Steps to reproduce the behavior:
1. Build simulated debug build following wiki
2. Run test:
[code]
See error

**Expected behavior**
Expected the test to pass

**Errors/Logs**

[code]

[2020-08-17 19:22] fw-brice commented on #113
I added the additional tests:
[code]

[2020-08-18 01:40] lazyparser commented on #148
the atomic issue could be add a lib deps in v8/build/config/BUILD.gn

after bypass the issue, the `PushAllRegistersAndIterateStack` issue appears.

[code]

[2020-08-18 06:48] luyahan commented on #131
Open debug log, the case passed at times.

[2020-08-18 09:47] luyahan commented on #132
crash occurs on src/compiler/simplified-lowering.cc:3601.

[2020-08-18 09:50] luyahan commented on #132
[code]

gdb bk:
[code]

[2020-08-18 16:08] penguinwu commented on #152
Fixed by #156

[2020-08-18 16:10] penguinwu commented on #113
Fixed by #156

[2020-08-18 16:11] penguinwu commented on #102
added by #153

[2020-08-18 16:11] #102 closed

[2020-08-18 16:12] penguinwu commented on #3
Majority of the refactoring is done. The remaining ones will be covered by individual issues, so close this one.

[2020-08-18 16:12] #3 closed

[2020-08-18 16:18] penguinwu commented on #19
We have rebased and switched to `riscv64` as the default dev branch, close this one.

[2020-08-18 16:18] #19 closed

[2020-08-18 17:48] penguinwu commented on #163
Fixed by #156

[2020-08-18 17:48] #163 closed

[2020-08-18 17:48] penguinwu commented on #152
Fixed by #156

[2020-08-18 17:48] #152 closed

[2020-08-18 17:49] penguinwu commented on #114
@luyahan This one should be fixed by #156. Please verify then close this issuse

[2020-08-18 17:51] penguinwu commented on #113
@luyahan Please verify that this is fixed by #156, then close the issue.

[2020-08-18 20:21] penguinwu commented on #141
@luyahan This one seems to be related to branches and trampolines, since you've fixed problems related to trampoline, assign it to you.

[2020-08-18 20:51] penguinwu opened #166 "SEGV_MAPERR error of some of wasm-spec-tests tests"
**Describe the bug**
Several wasm-spec-tests test cases trigger the following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build with `simulated.sim` options
2. Run test/program
[code]
3. See error
[code]
**Expected behavior**
No failure message means the test has passed

**Errors/Logs**
If applicable, copy/paste the errors or log messages here.

**Additional context**

The

[2020-08-18 21:23] #90 closed

[2020-08-18 22:02] #126 closed

[2020-08-18 22:03] #148 closed

[2020-08-18 22:10] penguinwu commented on #127
All failures are triaged and issues opened.

[2020-08-18 22:10] #127 closed

[2020-08-18 22:29] penguinwu commented on #91
The error can no longer be triggered.

[2020-08-18 22:29] #91 closed

[2020-08-18 22:32] penguinwu commented on #87
The error can no longer be triggered w/ the latest riscv64 branch

[2020-08-18 22:35] penguinwu commented on #13
After rebasing the latest V8 and #167, we run 177 tests for this suite.

[2020-08-18 22:36] penguinwu commented on #32
@fw-brice Is this one still valid? If not, please close

[2020-08-18 22:37] penguinwu commented on #56
All fixed by #139

[2020-08-18 22:37] #56 closed

[2020-08-18 23:20] penguinwu commented on #89
This error still persists using the latest in `riscv64`.

[2020-08-18 23:21] penguinwu commented on #106
@luyahan Can this one be closed?

[2020-08-18 23:29] penguinwu commented on #142
The error is no longer triggered with latest `riscv64`, close it.

[2020-08-18 23:30] penguinwu commented on #151
@thomasyonug Is it fixed by #164? if so, please close.

[2020-08-19 00:00] penguinwu commented on #140
Fixed by #165

[2020-08-19 00:00] #140 closed

[2020-08-19 00:01] derekztu22 opened #169 "Release build compiler error for `src/objects/intl-objects.cc`"
**Describe the bug**
Building the release build for the simulator build for riscv64 branch fails compilation

**To Reproduce**
Steps to reproduce the behavior:
1. Build `riscv64.release` following instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build#build-v8-release-simulated-build)
2. Error is seen as follows
[code]

**Expected behavior**
Clean compilation

[2020-08-19 01:10] thomasyonug commented on #151
Yeah, this issue is fixed.

[2020-08-19 03:30] derekztu22 opened #171 "Simluated Debug Build Error in `src/objects/js-date-time-format.cc`"
**Describe the bug**
Building the debug build fails due to compilation errors in `src/objects/js-date-time-format.cc`

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the instructions to get the source code [here](https://github.com/v8-riscv/v8/wiki/get-the-source)
2. Build using instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build) under Build v8 for RISC-V Simulati

[2020-08-19 03:33] luyahan commented on #132
pass on branch riscv64

[2020-08-19 03:33] #132 closed

[2020-08-19 03:33] luyahan commented on #131
pass on branch riscv64

[2020-08-19 06:25] thomasyonug commented on #169
Maybe you can try to checkout master branch of icu under third_party dir

[2020-08-19 06:48] lazyparser commented on #169
run `gclient sync` after switched to riscv64 branch

[2020-08-19 07:52] luyahan commented on #142
this also occurs core dumped.

[2020-08-19 07:55] luyahan commented on #142
142 sim cordump
unimplement instr
@LOGQTAINIA

[2020-08-19 07:56] luyahan commented on #142
run pass on hifive board.

[2020-08-19 08:21] #151 closed

[2020-08-19 08:35] luyahan commented on #142
run 'regress/regress-1067270' also occurs core dump

[2020-08-19 08:35] luyahan commented on #142
[code]

[2020-08-19 08:38] luyahan commented on #87
[code]
run it occurs core dump. It relate #142 .

[2020-08-19 08:42] luyahan commented on #106
everything is ok.

[2020-08-19 08:42] #106 closed

[2020-08-19 12:01] LOGQTAINIA commented on #87
`test/mjsunit/regress/regress-980891.js` still results in a segmentation fault on both QEMU and x86 sim.

**QEMU**

[code]

**x86 sim**

``
$ out/riscv64.sim/d8 --test test/mjsunit/mjsunit.js test/mjsunit/regress/regress-980891.js --random-seed=-534112441 --stress-opt --always-opt --no-liftoff --stress-lazy-source-positions --nohard-abort --testing-d8-test-runner --stack-size=1200
============ Str

[2020-08-19 12:17] LOGQTAINIA commented on #142
The error still occurs on both QEMU and x86 sim.

**x86 sim**

[code]

**QEMU**

[code]

[2020-08-19 15:58] penguinwu commented on #142
You are right. The test still fails. It turned out that the command in the issue description was running a different test. That may be the cause of mistakenly treating the test as passing.

[2020-08-19 16:46] #146 closed

[2020-08-19 16:47] #141 closed

[2020-08-19 19:55] derekztu22 commented on #169
Running `gclient sync` after switching works

[2020-08-20 01:03] derekztu22 commented on #171
Running gclient sync after switching works

[2020-08-20 01:04] #171 closed

[2020-08-20 01:04] #169 closed

[2020-08-20 02:05] luyahan opened #174 "[RISCV64 Branch][HIFIVE Board] unittest/LoggingTest.SourceLocation failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native.debug/unittests --random-seed=-1603113582 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --gtest_filter=LoggingTest.SourceLocation --gtest_random_seed=-1603113582 --g

[2020-08-20 02:26] luyahan opened #175 "[RISCV64 Branch][HIFVIE Borad] unittests/urboAssemblerTest.TestCheck failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `./riscv64.native/unittests --random-seed=-1806406285 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --gtest_filter=TurboAssemblerTest.TestCheck --gtest_random_seed=-1806406285 --gte

[2020-08-20 02:29] luyahan opened #176 "[RISCV64 Branch][HIFVIE Borad] mjsunit/wasm/shared-memory-gc-stressAttempting failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native/d8 --test test/mjsunit/mjsunit.js test/mjsunit/wasm/multiple-code-spaces.js --random-seed=-652826751 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --allow-natives-sy

[2020-08-20 02:30] luyahan opened #177 "[RISCV64 Branch][Hifive unleashed Borad] mjsunit/wasm/memory_1gb_oob failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.native.debug'
2. Run test/program `riscv64.native/d8 --test test/mjsunit/mjsunit.js test/mjsunit/wasm/memory_1gb_oob.js --random-seed=-652826751 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --wasm-max-mem-pages=163

[2020-08-20 02:32] luyahan opened #178 "[RISCV64 Branch][Hifive unleashed Borad] mjsunit/regress/wasm/regress-1010272 failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native/d8 --test test/mjsunit/mjsunit.js test/mjsunit/regress/wasm/regress-1010272.js --random-seed=-652826751 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --wasm-grow-sha

[2020-08-20 02:34] luyahan opened #179 "[RISCV64 Branch][Hifive unleashed Borad] jitless result in SEGV_ACCERR 003fe94c5780"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native/d8 --test test/mjsunit/mjsunit.js test/mjsunit/regress/regress-992389.js --random-seed=-652826751 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --jitless --gc-interv

[2020-08-20 02:36] #113 closed

[2020-08-20 02:46] lazyparser opened #180 "[CI] Include release build in QEMU and HiFive runs (before 2020-09-04)"
biweekly task

run both {sim,cross} x {debug,release} x {cctests, etc}

[2020-08-20 02:47] lazyparser opened #181 "Capture all qemu & HiFive board failures into issues (before 2020-08-23)"
biweekly task

Yahan and Qiqiang are already work on this.

[2020-08-20 03:06] lazyparser opened #182 "[CI] Enable CI on external cloud instance (need to send the result back to github via REST API) (before 2020-09-04)"
to speed up CI build & test

[2020-08-20 03:10] lazyparser commented on #89
I've hit this issue on physical board, riscv64 branch.

seems it is caused by too small timeout setting?

[2020-08-20 07:45] luyahan opened #183 "Using auipc + jalr when jump to a far label."
**Is your feature request related to a problem? Please describe.**
When i fix #142 #87 . I found offset(1048908) between  label and j instr exceeding range of `jal` (kMaxJumpOffset=1048575).
But TrampolinePool is designed for branch instr and only emmit once.
In #87 it is emmitd at pos:3908 after kMaxBranchOffset(https://github.com/v8-riscv/v8/blob/riscv64/src/codegen/riscv64/assembler-riscv64.cc#

[2020-08-20 09:42] luyahan commented on #183
I had implement jump unbound label by auipc  + jalr in PLCT repo.

[2020-08-20 13:53] penguinwu opened #185 "Improve codegen for compare and branch"
Since RISCV only supports `EQ, LT, LE`, other compare conditions such as `NE, GT, GE` need to be negated. This is a legacy of architectures that use `cc` flags. Since RISCV directly computes the result of a compare in registers, we can compute `rs1 GT rs2` as `rs2 < rs1` and no need for such negation.

This pattern is seen in `liftoff-assembler-riscv.h`, `LiftoffAssembler::emit_f32_set_cond(..)`,

[2020-08-20 13:57] penguinwu opened #186 "Refactoring of MemOperand class"
- [ ] Update the implementation of class MemOperand to check for 12-bit offsets (in assembler-riscv.cc) and use MemOperand for load/store APIs

-[ ] Make sure that CodeAssembler eventually only emit one instruction per API or at least not using registers other than those in the parameter list. Currently, because of emulation and mismatch of immediate fields, some CodeAssembler APIs are mapped to a

[2020-08-20 14:20] penguinwu opened #188 "Setup NodeJS repo under v8-riscv"

[2020-08-20 15:15] fw-brice commented on #188
I created the project https://github.com/v8-riscv/node and setup a branch, `riscv64` which is based on v14.0.0, the base of Yahan's port, and replaced the included v8 with a submodule, using our v8 repo.

@luyahan, please open a PR against this repo with your changes.

[2020-08-20 15:15] #188 closed

[2020-08-20 15:16] penguinwu commented on #183
Unbound label typically means that a label is not defined in generated codes (i.e., not specified in any `bind(&x)`). From your description, it seems that when you say "unbound" label, do you mean that the label is too far away from the current PC to be represented in the 20-bit immediate field of `jal`?

Could you confirm which case you refer to?

[2020-08-20 15:21] luyahan commented on #183
Yes, it so far . I add 'lui' in assembler:bind_to like branch, run case in #142 occurs check failed.

[2020-08-20 15:26] luyahan commented on #183
If jump a unbound label，it emmit a j instr. The offset of j will be set when the label is binded.But the case in #142，the addr of bind label is too far away from addr of jump instr ecceeding max jump offset.

[2020-08-20 15:32] luyahan commented on #183
This cas:
'''
​out/riscv64.sim/d8 --test test/mjsunit/mjsunit.js test/mjsunit/regress/regress-1067270.js --random-seed=-164473607 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --allow-natives-syntax
'''

[2020-08-20 16:04] fw-brice commented on #32
This may still be valid, though I am not sure if any caching makes sense. I will leave it open for now to discuss speeding up the jobs since our biggest problem currently with this is the time to run the build.

[2020-08-20 18:04] penguinwu commented on #183
@luyahan Your suggested fix of auipc + jalr makes sense to me. Do you want to port your implementation to our repo?

[2020-08-20 23:27] luyahan commented on #183
Yes, it dones't alter too much code .And we can add a flag to control it.If user encounter this error , remind user to add the flag.

We can continue to optimize tis later.

[2020-08-21 00:44] penguinwu commented on #183
Why do we need a flag to control it? Since the jump offset is determined at compile-time, if an offset is beyond the range `imm20`, we can always generate `auipc + jalr` because without the fix the code would not function correctly.

[2020-08-21 01:44] luyahan commented on #183
If jump a binded label , we can select instr accord to jump offset.
But on a extreme case, emit  a `j` instr because of a unbound label, don't known the jump offset which may be beyond `imm20`.

[2020-08-21 02:12] luyahan commented on #183
I decide to alter tramplinepool. Alter `j` instr in tramplinepool into `auipc` + `jalr`,so it can fix #142 #87

[2020-08-21 03:00] luyahan commented on #183
Pr #189

[2020-08-21 04:05] luyahan commented on #174
On riscv64.sim, it pass. On hifive, it failed.
There is only a diff on line number.  The effect line number is '69', the output is '67'
May it be caused by different compliers (gcc vs clang)?
@penguinwu If yes, can we ignore it ?

[2020-08-21 06:38] luyahan commented on #176
no error  after clean out folder.

[2020-08-21 06:38] #176 closed

[2020-08-21 06:45] #175 closed

[2020-08-21 08:05] #183 closed

[2020-08-21 08:40] luyahan commented on #157
I try to Investigate  it.

[2020-08-23 06:57] taoliq opened #192 "[cpuprofiler] cctest/test-cpu-profiler Debug check failed Type::NUMBER_OF_TYPES"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native.debug/cctest test-cpu-profiler/CrossScriptInliningCallerLineNumbers --random-seed=138862460 --nohard-abort --     enable-slow-asserts --verify-heap --testing-d8-test-runner`
3. See error

**Expec

[2020-08-23 06:59] LOGQTAINIA opened #193 "[RISCV64 Branch][QEMU 5.0.0] cctest/test-cpu-profiler/DeoptAtFirstLevelInlinedSource failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native.debug/cctest test-cpu-profiler/DeoptAtFirstLevelInlinedSource --random-seed=138862460 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
3. See error

**Expected behavio

[2020-08-23 07:01] LOGQTAINIA opened #194 "[RISCV64 Branch][QEMU 5.0.0] cctest/test-cpu-profiler/DeoptAtSecondLevelInlinedSource failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native.debug/cctest test-cpu-profiler/DeoptAtSecondLevelInlinedSource --random-seed=138862460 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
3. See error

**Expected behavi

[2020-08-24 05:01] luyahan commented on #166
0x7ffd4c1b4738: Unsupported instruction.
00000001       UNSUPPORTED
0x7ffd4c1b473c: Unsupported instruction.
00000085       UNSUPPORTED
0x7ffd4c1b4740: Unsupported instruction.
ffffffff       UNSUPPORTED
0x7ffd4c1b4744: Unsupported instruction.
ffffffff       UNSUPPORTED
0x7ffd4c1b4748: Unsupported instruction.
ffffffff       UNSUPPORTED
0x7ffd4c1b474c: Unsupported instruction.
00000000       UNSU

[2020-08-24 06:26] luyahan commented on #177
hit  a gdb issue.
https://github.com/riscv/riscv-binutils-gdb/issues/230

[2020-08-24 13:50] LOGQTAINIA commented on #117
Hi, brice.

May I ask you a question? I wonder that what the exact meaning of this sentence.

I checked the code in `src/codegen/riscv64/macro-assembler-riscv64.cc`. And I found that the most of usage of t5 and t6 are following with `src/codegen/riscv64/macro-assembler-riscv64.cc`.

For an instance.

[code]

Does that mean `their use is very ad-hoc`?

If I use these code to replace all use of t5 a

[2020-08-24 13:54] #87 closed

[2020-08-24 13:54] #142 closed

[2020-08-24 14:34] penguinwu commented on #174
Yes, we can ignore this test case. Please add a comment on the status file.

[2020-08-24 14:51] fw-brice commented on #117
Yes, their use is very ad-hoc, except that you should always see the following when they are used:

[code]

That is because `t5` and `t6` are used when creating the trampoline pool, so the above scope ensures that the trampoline pool is not generated while t5 or t6 are live elsewhere. You will need to take into account this requirement for the trampoline pool when you solve this problem.

I just l

[2020-08-24 16:05] penguinwu commented on #193
Look like duplicate of #192, close this one.

[2020-08-24 16:05] #193 closed

[2020-08-24 16:05] penguinwu commented on #194
Look like duplicate of #192, close this one.

[2020-08-24 16:05] #194 closed

[2020-08-24 16:07] penguinwu commented on #192
@LOGQTAINIA #192, #193, #194 look like the same bug manifesting in three tests, so I consolidate three into one, so that we have a realistic idea of outstanding issues.

[2020-08-24 18:53] penguinwu opened #195 "Compare dynamic instruction count of running RISCV64 and MIPS64 backend"
This task is the starting point of conducting performance analysis for the RISCV64 backend. We start by comparing codes generated by MIPS64 and RISCV64 backends.

- [ ] Select which test cases or benchmarks to be included in the study. It is always good to start with some simple examples first, then move onto benchmarks (see [here](https://v8.dev/docs/benchmarks))
- [ ] Augment simulator-riscv64 a

[2020-08-24 18:55] penguinwu commented on #116
@lazyparser Could you test the simulated build and stress-opt options so that we can close this issue?

[2020-08-24 18:56] penguinwu commented on #107
@fw-brice Can this one be closed?

[2020-08-24 18:58] penguinwu commented on #68
This feature is too big to be done in one issue. Close it for now. If we decide to move forward w/ 32-bit, will open smaller individual issues for the feature.

[2020-08-24 18:58] #68 closed

[2020-08-24 18:59] penguinwu commented on #60
@luyahan Any update on this one?

[2020-08-24 19:00] fw-brice commented on #107
The repo has indeed been setup - https://github.com/v8-riscv/node
Based on Yahan's work, I started with v14.0.0.

The setup is still in progress as there is no wiki yet and Yahan's changes have not been merged in yet.

[2020-08-24 19:00] penguinwu commented on #24
Current mechanism of updating the wiki seems to work fine. Right now no need to setup a pull request system for wiki. Close this one.

[2020-08-24 19:00] #24 closed

[2020-08-24 19:01] penguinwu commented on #1
Code-base changed quite a bit, need to do a new code scan, so close this one.

[2020-08-24 19:01] #1 closed

[2020-08-25 00:43] #185 closed

[2020-08-25 02:09] lazyparser commented on #116
no problem. I missed stress-opt options. will test it today or night.

[2020-08-25 03:22] luyahan commented on #178
Can't allocate so many memory like regress-1010272.js. so can ignore it on hifive board.

[2020-08-25 03:23] #178 closed

[2020-08-25 06:11] luyahan commented on #179
If remove `--jitless`, it will normaly run.
#178 is similar to this(occurs SEGV_ACCERR when add a `jitless`).

[code]

address `003fbfe45780` is a Trampoline of  builtin function `JSEntryTrampoline`

[2020-08-25 06:18] luyahan commented on #179
if run `d8 hello.js --jitless`, will occurs Received signal 11 SEGV_ACCERR 003fdde05780.

[2020-08-25 08:55] luyahan commented on #179
[code]
If set jitless, mem will be Readable not executable.

[2020-08-26 02:33] luyahan commented on #107
the version of v8 in latest nodejs repo is 8.4.x.x . our v8 version is 8.6.0.0 @fw-brice

[2020-08-26 09:48] luyahan commented on #179
[code]
It looks like mips64 doesn't support jitless mode properly yet.. It's indeed trying to jump to the on-heap trampoline.

What should happen instead is either something like x64 (i.e. a pc-relative call patched up in the link I sent before); or to load the off-heap target address from the builtin_entry_table. Note this table contains the exact entry address so you won't have to apply Code::kH

[2020-08-26 14:12] penguinwu commented on #17
@fw-brice Shall we close this one?

[2020-08-26 14:14] fw-brice commented on #17
Yes, I think we can close this. We still require the patch, but let's just let it get resolved once we upstream. We don't need to fork the other upstream repo.

[2020-08-26 14:14] #17 closed

[2020-08-26 21:59] penguinwu opened #198 "Support `TurboAssembler::LoadLabel(Register dest, Label x)`"
This code snippet is from `code-generator-riscv64.cc`, we have encountered the assert failure `CHECK_EQ(offset, __ SizeOfCodeGeneratedSince(&start_call));` several times in the development process.  `offset` statically estimates the number of instructions generated between label `start_call` and the sequence of instructions generated by `__CallCfunction`. With changes to code-gen, sometimes we nee

[2020-08-26 22:03] penguinwu commented on #161
Fixed by #187

[2020-08-26 22:03] #161 closed

[2020-08-26 22:07] penguinwu commented on #4
Duplicate of #158. @LOGQTAINIA #158 is assigned to @thomasyonug 12 days ago, since this one is assigned a while back, I will close it. If you want to work on this issue, please coordinate with @thomasyonug

[2020-08-26 22:07] #4 closed

[2020-08-26 22:08] penguinwu commented on #198
@fw-brice @luyahan Since you worked on labels and label resolution, what do you think about this solution? Please comment.

[2020-08-27 02:31] luyahan commented on #179
refer to https://bugs.chromium.org/p/v8/issues/detail?id=10835

[2020-08-27 11:35] luyahan commented on #198
I agree this solution.

[2020-08-27 13:25] fw-brice commented on #198
I agree. This makes the code cleaner and less brittle.

[2020-08-28 14:11] penguinwu opened #200 "Run tests through jitless mode"
#199 shows that `jitless` mode may expose new bugs. Let's run all our tests and benchmarks using the jitless modes and triage any new issues exposed.

[2020-08-28 22:04] penguinwu commented on #198
@LOGQTAINIA Assign this one to you as it is related to the WIP PR #197.

[2020-08-31 05:42] luyahan commented on #60
I make a pr for v8-riscv64/node https://github.com/v8-riscv/node/pull/3

[2020-09-01 05:07] LOGQTAINIA opened #204 "[RISCV64 Branch] wasm-api-tests/WasmCapiTest.DirectCallCapiFunction failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.sim`
2. Run test/program `out/riscv64.sim/wasm_api_tests --random-seed=-552561217 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --gtest_filter=WasmCapiTest.DirectCallCapiFunction --gtest_random_seed=-552561217 --gte

[2020-09-02 03:24] luyahan opened #206 "Check failed: !v8::internal::FLAG_enable_slow_asserts || (IsDereferenceAllowed()). ./../src/handles/handles.h, line 144"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.sim`
2. Run test/program `./out/riscv64.debug/d8 --test test/mjsunit/mjsunit.js test/mjsunit/cross-realm-global-prototype.js --random-seed=210752484 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --allow-natives-synt

[2020-09-02 05:53] luyahan commented on #198
#202 had merged

[2020-09-02 05:53] #198 closed

[2020-09-02 14:42] penguinwu opened #207 "Identify dependences of natively building V8 QEMU and on HiFive"
Let's first identify if there are any build environment/tools dependencies to build V8 natively on QEMU and HiFive, and create subsequent issues if there are any.

[2020-09-02 15:17] lazyparser commented on #207
I'll take a look.

the previous survey suggests that chromium/v8 pulls tons of binaries from google infrastructure, which might complex the native building. currently I am not optimistic.

[2020-09-02 15:18] lazyparser commented on #195
@penguinwu so are you working on this task now?

[2020-09-02 15:20] lazyparser commented on #180
the script is done.

and we found the release build will hang in QEMU when running sunspider.

[2020-09-02 15:21] lazyparser commented on #182
still working on this issue. I failed to find enough time to work through. hopefully would have another try in this week.

[2020-09-02 15:21] lazyparser commented on #181
Done.

[2020-09-02 15:21] #181 closed

[2020-09-02 15:23] lazyparser commented on #180
the script is temporally stored at
https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8-ci-qemu.sh

would mv/cp to v8-riscv-tools/ later.

[2020-09-02 15:23] #180 closed

[2020-09-02 15:27] lazyparser opened #208 "riscv64 native release build hangs in QEMU when running sunspider"
**Describe the bug**
riscv64 native release build hangs in QEMU when running sunspider

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options: follow the wiki
2. Run test/program: uncomment [L175](https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8-ci-qemu.sh#L175) and run the check script.
3. See error (hang)

**Expected behavior**
same as the debug build. output thre

[2020-09-02 15:29] lazyparser commented on #134
still working on this. after Brice and Yahan's work, this script writing become trivial. I would finish it before sunday.

[2020-09-02 15:30] lazyparser commented on #130
@LOGQTAINIA @luyahan @thomasyonug are we there yet?

[2020-09-02 15:39] lazyparser opened #209 "11 tests faild in riscv64.native.release build"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8-ci-qemu.sh#L118
2. Run test/program https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8-ci-qemu.sh#L165
3. See error

http://paste.ubuntu.com/p/6Tf8RJvYD7/

**Expected behavior**
t

[2020-09-03 00:53] luyahan opened #210 "[HIFIVE] cctest/test-assembler-riscv64/RISCV_UTEST_swlwu failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `riscv64.native.release/cctest test-assembler-riscv64/RISCV_UTEST_swlwu --random-seed=-1998993725 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
3. See error
[code]

**Expected beha

[2020-09-03 02:16] penguinwu opened #211 "Investigate how to use LLVM to build V8"
Identify issues that would block building v8-riscv using the LLVM toolchain instead of the GCC toolchain (current). The benefit of using LLVM toolchain is that it is consistent w/ the standard build process of V8.

[2020-09-03 02:18] penguinwu opened #212 "Enable benchmarks in the CI"

[2020-09-04 04:37] chaoRIOS commented on #109
[x] Is it possible to run a 32-bit RISCV application on a 64-bit Linux distribution?

It seems not work in this way

[2020-09-05 15:51] lazyparser opened #214 "[QEMU] cctest/test-assembler-riscv64/NAN_BOX failed [Rootcause: QEMU not supporting NaN-boxing]"
**Describe the bug**

log.042979e0f9d0f34957171c14c5fbbf34c2d46983

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options cross-build
2. Run test/program : see above
3. See error

[2020-09-05 15:53] lazyparser opened #215 "[QEMU] === cctest/test-assembler-riscv64/RISCV_UTEST_swlwu === failed"
**Describe the bug**
failed

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options cross-build
2. Run test/program '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

[2020-09-05 15:55] lazyparser opened #216 "[QEMU] === cctest/test-cpu-profiler/DeoptAtSecondLevelInlinedSource === failed"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options '...' cross-build
2. Run test/program '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
If applicable, copy/paste the errors or log messages here.

**Additional context**
Add any other context about the problem here.

[2020-09-06 02:44] lazyparser opened #217 "[Build Failed] riscv64.sim.release build failed"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options '...'
2. Run test/program '...'
3. See error
[code]

**Expected behavior**
build success

[2020-09-06 16:05] lazyparser opened #219 "riscv64 native release build hangs in QEMU when running kraken"
**Describe the bug**
riscv64 native release build hangs in QEMU when running kraken.
while debug build run succeed.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options '...' cross build
2. Run test/program '...' run in qemu https://github.com/isrc-cas/PLCT-Toolbox/blob/master/v8team/v8-ci-qemu.sh#L171
3. See error

**Expected behavior**
quit normally.

**Errors/Logs**
run 10+

[2020-09-07 01:46] thomasyonug opened #220 "Check failed: trampoline_pos != kInvalidSlotPos."
**Describe the bug**
Build babel failed using riscv nodejs in fedora-qemu.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options
First of all, you should get riscv nodejs from this repo [https://github.com/v8-riscv/node](https://github.com/v8-riscv/node)

[code]

2. See error

**Expected behavior**
Build success.

**Errors/Logs**
[code]

**Additional context**
Add any other cont

[2020-09-07 15:11] lazyparser commented on #220
hello from PLCT ci bot

[2020-09-08 06:26] luyahan opened #223 "handles.h:144 Check failed: !v8::internal::FLAG_enable_slow_asserts || (IsDereferenceAllowed())."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `gn gen out/riscv64.sim --args='is_component_build=false is_debug=true target_cpu="x64" v8_target_cpu="riscv64" use_goma=false goma_dir="None" v8_enable_slow_dchecks =true' `
2. Run test/program `./cctest test-api/ReceiverSignature --random-seed=-1884458

[2020-09-08 06:26] luyahan opened #224 "handles.h:144 Check failed: !v8::internal::FLAG_enable_slow_asserts || (IsDereferenceAllowed())."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `gn gen out/riscv64.sim --args='is_component_build=false is_debug=true target_cpu="x64" v8_target_cpu="riscv64" use_goma=false goma_dir="None" v8_enable_slow_dchecks =true' `
2. Run test/program `./cctest test-api/ReceiverSignature --random-seed=-1884458

[2020-09-08 06:26] luyahan commented on #224
I add flag `v8_enable_slow_dchecks =true` to args.gn

[2020-09-08 06:47] #223 closed

[2020-09-08 13:48] #179 closed

[2020-09-08 13:57] penguinwu commented on #195
No, I am not working on it. Feel free to assign to someone in your team.

[2020-09-08 13:58] penguinwu commented on #180
Let's skip sunspider from the script and open an issue on sunspider.

[2020-09-08 14:00] penguinwu commented on #208
Does it hang in simulated release build too?

[2020-09-10 00:43] luyahan commented on #217
fixed by #218

[2020-09-10 00:43] #217 closed

[2020-09-10 00:43] #206 closed

[2020-09-10 05:54] luyahan commented on #214
@lazyparser  On last commit, this case don't failed.

[2020-09-10 10:24] lazyparser commented on #214
thanks I'll check it.

[2020-09-10 17:41] penguinwu commented on #7
Done by #228

[2020-09-10 17:41] #7 closed

[2020-09-10 17:42] penguinwu commented on #116
All build options are tested. Close this one.

[2020-09-10 17:42] #116 closed

[2020-09-10 17:43] penguinwu commented on #108
NodeJS repo is setup and tests run. Close this one.

[2020-09-10 17:43] #108 closed

[2020-09-10 17:44] #107 closed

[2020-09-11 06:36] #114 closed

[2020-09-11 13:51] LOGQTAINIA commented on #214
This failed test is caused by QEMU (5.0.0) which does not support float nan-boxing.

[2020-09-11 14:00] LOGQTAINIA opened #232 "[x86 Sim] test-assembler-riscv64 & test-disasm-riscv64 Check failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.sim`
2. Run test/program `out/riscv64.sim/cctest test-assembler-riscv64`
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**

Similar failed test in

[2020-09-12 00:24] penguinwu opened #233 "Add assembler tests for atomic instructions"
For completeness, add assembler tests for the atomic instructions in `test-assembler-riscv64.cc`.

[code]

[2020-09-14 01:19] luyahan commented on #224
This problem also occurs on mips64.

[2020-09-14 13:21] #174 closed

[2020-09-15 07:18] #60 closed

[2020-09-15 08:42] luyahan commented on #177
It is a probability of error on last code.

[2020-09-15 09:17] luyahan commented on #177
1 = -1430532882
  resut = -1430532882
  2 = -1430532882
  resut = -1430532882
  3 = -1430532882
  resut = -1430532882
  4 = -1430532882
  resut = -1430532882
  5 = -1430532882
  resut = -1430532882
  7 = -1430532882
  resut = -1430532882
  8 = -1430532882
  resut = -1430532882
  9 = -1430532882
  resut = -1430532882
size=8 offset=1073741816
  0 = -1430532882
  resut = -1430532882
size=8 offset=107

[2020-09-15 09:47] luyahan commented on #220
build success when second try it.
[code]

[2020-09-15 16:31] chaoRIOS commented on #232
Using `run-tests.py`  seems to be fine.

Anyway I'm working on this fault

[code]

[2020-09-16 01:34] #215 closed

[2020-09-16 02:30] lazyparser commented on #134
Done

[2020-09-16 02:30] #134 closed

[2020-09-16 03:17] luyahan commented on #177
Run on qemu is normal.

[2020-09-16 08:39] luyahan opened #237 "[HIFIVE] test-cpu-profiler/CrossScriptInliningCallerLineNumbers failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.debug`
2. Run test/program `out/riscv64.native.debug/cctest test-cpu-profiler/CrossScriptInliningCallerLineNumbers --random-seed=-166907490 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
3. See error

**Expec

[2020-09-17 02:04] luyahan opened #238 "[HIFIVE] RangeError: WebAssembly.Memory(): could not allocate memory"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options '...'
2. Run test/program '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-09-17 02:13] lazyparser opened #239 "[CI] For bi-weekly testing status update on the wiki, add the delta compared to the previous report (Wei)"
add triage steps.

[2020-09-17 02:14] lazyparser opened #240 "[CI] For the comprehensive CI tests (after a PR is approved), if there is regression, report it on Slack and notify owners of the PRs involved (Wei)"
enhance CI.

[2020-09-17 03:08] lazyparser commented on #182
@fw-brice has done using the github actions. (fast CI bot)
I push testing results to slack. (full/slow CI bot)

Done.

[2020-09-17 03:08] #182 closed

[2020-09-17 10:43] fw-brice commented on #182
Just to clarify in case someone looks at this later to make changes, the fast CI is triggered by webhooks, then sends the status back via the REST API. It does not use GitHub Actions. You can see the code here - https://github.com/v8-riscv/v8-riscv-ci

[2020-09-17 14:41] fw-brice commented on #89
The hang is caused by a bad instruction generated in `StringGreaterThan`:

[code]
If `a1` is equal to `a0`, it branches to itself. I am looking into where this is coming from.

[2020-09-17 14:59] #177 closed

[2020-09-17 19:32] fw-brice commented on #89
The bad code comes from `StringBuiltinsAssembler::GenerateStringRelationalComparison` in _builtins-string-gen.cc_.

[2020-09-18 15:28] lazyparser commented on #182
Got it. Glad to see the codes are also open source :-)

[2020-09-19 12:07] chaoRIOS commented on #233
#243

[2020-09-21 14:56] fw-brice commented on #89
I found the problem here and will fix it today. What is happening is that the first instruction, at position 0, in a function is a branch to a label, which is not yet bound. Then another instruction later on uses that same label, creating a chain for the later binding. When the label is bound later in the function, it loops through the chain, fixing up all of the instructions that were generated w

[2020-09-21 15:24] #233 closed

[2020-09-21 15:26] penguinwu commented on #232
@LOGQTAINIA According to @chaoRIOS 's answer, one should run these tests using `run-tests.py` to run multiple test cases.  `cctest test-assembler-riscv` is not the right usage.

Close this one

[2020-09-21 15:26] #232 closed

[2020-09-21 15:28] penguinwu commented on #210
@luyahan Could you check if this one still fails? I suspect it may have been fixed by #228

[2020-09-21 15:34] penguinwu commented on #204
This one runs only 2667 instructions in the simulator.

[2020-09-21 15:38] penguinwu commented on #214
@LOGQTAINIA Is there an issue opened against QEMU?

[2020-09-21 15:41] penguinwu commented on #209
@luyahan These failures look like pretty basic test failures and may impact bigger programs. Could you take a look? Feel free to open sub-issues and assign to others.

[2020-09-21 17:24] DrRezaYazdani1 commented on #89
Why it works in debug build and fails in release?

[2020-09-21 17:33] fw-brice commented on #89
In the debug build, the branch instruction is not at offset 0.

[2020-09-21 17:36] penguinwu commented on #89
`StringBuiltinsAssembler::GenerateStringRelationalComparison` is in the common path. Is it a bug that only manifests on RISCV, or for all platforms too?

[2020-09-21 17:37] fw-brice commented on #89
It's specific to RISC-V. It is a problem in my implementation of the label binding.

[2020-09-21 17:44] DrRezaYazdani1 commented on #89
Good catch and great detective work.

[2020-09-21 20:03] fw-brice commented on #89
With my fix in place, one of the above tests reports an error and one still hangs. The rest run successfully.
* test/mjsunit/regress/regress-4788-2.js: Reports an error
[code]
* test/mjsunit/regress/regress-crbug-941743.js: Hangs
*

[2020-09-21 20:13] fw-brice commented on #88
This seems to be caused by the same issue as #89.

[2020-09-21 20:28] fw-brice commented on #208
Please try this again after #245 is merged. There is a good chance this is the same problem.

[2020-09-21 20:28] fw-brice commented on #219
Please try this again after #245 is merged. There is a good chance this is the same problem.

[2020-09-21 21:08] fw-brice opened #246 "Hanging test: test/mjsunit/regress/regress-crbug-941743.js"
**Describe the bug**
This test case hangs on the release build.

**To Reproduce**
Steps to reproduce the behavior:
1. Build release build (see instructions [here](https://github.com/v8-riscv/v8/wiki/simulator-build))
2. Run the test:
[code]
3. This program seems to hang forever

**Expected behavior**
This test should not hang.

**Additional context**
This hang occurs still after the fix for #89 is

[2020-09-21 21:12] #88 closed

[2020-09-21 21:12] #89 closed

[2020-09-21 21:30] penguinwu commented on #158
Since most of the macro-assembler cleanup is done, we can work on this issue now.

[2020-09-21 21:31] penguinwu commented on #157
@luyahan Can this one be closed? If so, please close it.

[2020-09-21 21:33] penguinwu commented on #130
@thomasyonug Since this issue contains multiple failures, it is hard to track progress. Please open individual bug reports for each distinct failures (whichever are still failing), and close this one.

[2020-09-21 21:34] penguinwu commented on #117
@fw-brice Can this be closed?

[2020-09-21 21:37] penguinwu commented on #11
@fw-brice can we close this one?

[2020-09-21 21:38] penguinwu commented on #13
Look like we are getting very close to ARM run stats, close this one.

[2020-09-21 21:38] #13 closed

[2020-09-21 21:40] penguinwu commented on #212
`Fuzzer` and `wasm-spec-tests` are both enabled in the CI, close this one

[2020-09-21 21:40] #212 closed

[2020-09-22 00:09] fw-brice commented on #117
Yes! Thanks to @LOGQTAINIA.

[2020-09-22 00:09] #117 closed

[2020-09-22 00:10] #11 closed

[2020-09-22 00:12] fw-brice commented on #89
test/mjsunit/regress/regress-4788-2.js passes as well, it just had the wrong flags. #246 is opened for test/mjsunit/regress/regress-crbug-941743.js.

[2020-09-22 01:16] LOGQTAINIA commented on #214
One of our lab members said, there already is a patch about non-box which is not accepted yet.

[2020-09-22 01:33] luyahan opened #247 "[HIFIVE] cctest/test-code-generator/FuzzAssembleMoveAndSwap failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.release`
2. Run test/program `out/riscv64.native.release/cctest test-code-generator/FuzzAssembleMoveAndSwap --random-seed=-442682909 --nohard-abort --testing-d8-test-runner`
3. See error

**Expected behavior**
A clear and concise descript

[2020-09-22 01:37] luyahan opened #248 "[HIFIVE] cctest/test-macro-assembler-riscv64/macro_float_minmax_f64 failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.release`
2. Run test/program ' out/riscv64.native.release/cctest test-macro-assembler-riscv64/macro_float_minmax_f64 --random-seed=-442682909 --nohard-abort --testing-d8-test-runner'
3. See error

**Expected behavior**
A clear and concise

[2020-09-22 01:38] luyahan opened #249 "[HIFIVE]cctest/test-heap-profiler/GlobalObjectNamepython2 failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.release`
2. Run test/program ``
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-09-22 01:47] lazyparser commented on #130
OK. the issue could be closed safely. We've opened observed bugs as individual issues now.

[2020-09-22 01:47] #130 closed

[2020-09-22 17:21] fw-brice commented on #246
I noticed that this test is skipped in _mjsunit.status_ for simulated builds because it is slow:

[code]

It is also skipped for `mode == debug` with the comment `# Skip slow tests in debug mode.`.

@lazyparser - Can someone from the lab try this test case on the board and let me know if it hangs there? Thanks.

[2020-09-22 17:43] fw-brice commented on #246
I just left it running on the simulator for a while and found that it did indeed finish successfully. I will go ahead and close this.

[2020-09-22 17:43] #246 closed

[2020-09-23 01:26] luyahan commented on #195
I had add a tools to compare it.

[2020-09-23 04:01] lazyparser commented on #246
copy. will check it and report if it hangs.

[2020-09-23 21:44] DrRezaYazdani1 opened #254 "Inefficient initialization of pointers"
Pointers are assumed to be 64 bits in V8. In practice they are 48 bits. The immediate value initialization of pointers generates 8 instructions where the optimum is 6.

li_constant(...) function called in "li(...)" in macro-assembler-riscv64.cc file, generates immediate pointer. We need a function li_ptr(...) to generate 6 instructions instead of 8 to replace li_constant(...) call.

The 48 bits ge

[2020-09-25 04:03] luyahan commented on #10
It may  depends on `V8_COMPRESS_POINTERS`
[code]
[code]
[code]

[code]

[2020-09-25 12:10] LOGQTAINIA commented on #98
@thomasyonug and I did some research about architecture flags in llvm-riscv and v8-mips.

For llvm, which is a cross-compiler, it is necessary to provide -march when compiling a program. [Reference link](https://reviews.llvm.org/D69383)

For v8, which is a JIT, it is fine to provide -march only when building it, like v8-mips.

So, we suggest that we specify target architectures when building v8. A

[2020-09-25 12:28] fw-brice opened #256 "CI does not capture failure"
**Describe the bug**
The CI job reports success when a test has failed.

**To Reproduce**
See the results for #251.

**Expected behavior**
If any tests fail, the CI job should report a failure.

[2020-09-25 13:24] fw-brice commented on #98
Yes, this looks good to me. 👍

[2020-09-25 13:42] #247 closed

[2020-09-25 18:32] #256 closed

[2020-09-27 08:18] luyahan commented on #237
run three times, one occur this error.

[2020-09-28 09:38] luyahan commented on #237
On riscv64-sim:

./cctest test-cpu-profiler/CrossScriptInliningCallerLineNumbers --random-seed=-166907490 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner --trace-sim
[code]

[2020-09-28 14:14] penguinwu commented on #98
MIPS uses this flag to specify architecture variants, ` mips_arch_variant="r2"`. We could use a similar naming convention `riscv_arch_variant="xxx"`.

Yes, you can go ahead to implement this design.

[2020-09-28 14:20] penguinwu commented on #195
Excellent! The next step is to run the tool through the benchmarks and collect the stats (e.g., how many more instructions compared to MIPS). @luyahan

[2020-09-28 14:25] penguinwu commented on #32
@fw-brice Now that we do not use github actions, do we still need this?

[2020-09-28 16:46] penguinwu opened #258 "Optimization: reduce registers saved across function prologue/epilogue by reconfiguring save register list"
When we call across functions, our register convention saves and restored a lot of registers before entering the real body of the callee even if the callee is very small and does not use all those registers.

Please where which registers are saved are specified in `register-riscv64.h` (Note that FPUs can be skipped if a built-in function is known not to use FPUs)
- `kJSCallerSaved`/`kNumJSCallerSa

[2020-09-28 18:33] penguinwu opened #259 "wasm/atomics-stress failed to verify"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options: simulated build
2. Run test/program
[code]
3. See error

[code]
**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
If applicable, copy/paste the errors or log messages here.

**Additional context**
Add

[2020-09-29 00:28] luyahan commented on #157
#226 had complete it.

[2020-09-29 00:28] #157 closed

[2020-09-29 01:01] luyahan commented on #210
This test had pass on lastest commit.

[2020-09-29 01:01] #210 closed

[2020-09-29 02:17] lazyparser commented on #211
log:
try to build llvm on risc-v qemu (fedora) and got a few errors:

http://paste.ubuntu.com/p/pqt22gyxnj/

try cross build later.

[2020-09-29 05:47] luyahan commented on #216
It is same wit #237

[2020-09-29 05:47] luyahan commented on #237
https://github.com/v8-riscv/v8/issues/216#issue-694113452

[2020-09-29 05:47] #216 closed

[2020-09-29 09:56] luyahan commented on #248
I alter code by add  volatile :
[code]
the case pass.

[2020-09-29 09:58] luyahan commented on #248
I alter code by add  volatile for Inputs(`volatile Inputs inputs = {src1, src2};   `) :
[code]
the case pass.
@fw-brice @penguinwu  May it be a bug for  gcc -o3 ?

[2020-09-29 12:29] lazyparser commented on #208
Fixed. good job!

[2020-09-29 12:30] lazyparser commented on #209
This issue could be closed safely. All open bugs have its issue number now.

[2020-09-29 12:30] #209 closed

[2020-09-29 12:32] lazyparser commented on #200
I tried to add jitless as an argument in `run-tests.py` but it could not recog it. How to add the jitless tests to our CI? Do we have any instructions & scripts for it?

[2020-09-29 12:32] lazyparser commented on #239
still working on it.

[2020-09-29 12:33] lazyparser commented on #240
still working on it.

[2020-09-29 12:33] lazyparser commented on #207
Ji Qiu from the PLCT Lab would take a deeper look later.

[2020-09-29 12:35] lazyparser commented on #32
IMO it is nolonger  necessary.

[2020-09-29 19:47] penguinwu commented on #248
Hmm, this test is single-threaded, why would `volatile` make a difference? Could you take a closer look at the gcc code-gen to see if it can be explained?

[2020-09-29 21:35] fw-brice commented on #32
Correct.

[2020-09-29 21:35] #32 closed

[2020-09-29 21:35] fw-brice commented on #208
Great. Thanks!

[2020-09-29 21:35] #208 closed

[2020-09-30 15:07] penguinwu opened #261 "Compare dynamic instruction counts of Octane benchmark between RISCV64 and MIPS64"
Octane is a peak-performance JS benchmark (computational-intensive). Please run the Octane benchmark using the tool described in https://github.com/v8-riscv/v8/pull/244 and report the dynamic instruction count comparison in this issue.

This will be the first step for our performance analysis

[2020-09-30 15:23] DrRezaYazdani1 opened #262 "Test randomly crash"
Bug description:
Test behaves differently on different runs. Sometimes aborts, and sometimes produces correct results. I saw this behavior in "debug" build and could not make it to crash in release mode. It looks like an uninitialized variable.

**To Reproduce**
1. Build with options 'debug build'
2. Run test/program. You need to run it many times to see the abort. Many times it passes without err

[2020-10-01 07:52] lazyparser opened #263 "Setup a 3rd party package distribution of our cross-compiled V8/Node binary (Wei)"
cross build. set up a repo site.

user can use

`dnf install v8`
or
`sudo apt install v8`
to install

[2020-10-09 01:29] luyahan commented on #248
It may be pass the args  by a0,a1 but a1 has a wrong value

[2020-10-09 02:11] luyahan commented on #248
i run a test :
[code]
It out:
[code]
but if i add  volatile on asm :
[code]
it out :
[code]

[2020-10-09 03:34] luyahan commented on #261
tool dones't support benchmark , i wiil add support it today.

[2020-10-12 06:41] luyahan commented on #261
Count the entire octane at once is too slow(I count instr by  analy output with "--trace-sim"). So i recommend run one test suite at once. For example:
[code]
**Result** (arch1    is riscv64 , arch2 is mips64):
[code]

[2020-10-12 06:45] luyahan commented on #261
**richards**
[code]

[2020-10-12 06:47] luyahan commented on #261
**deltablue**
[code]

[2020-10-12 06:50] luyahan commented on #261
**code-load**
[code]

[2020-10-12 07:03] luyahan commented on #261
**mandreel**
[code]

[2020-10-12 14:21] LOGQTAINIA commented on #98
When I was trying to implement this design, I noticed that here is no way to parse string in GN. So I have no idea to add arch flags from string like `rv64gc` in GN.

But, for cross compile, it is possible to pass the parameter to gcc which could parse the string. And then gcc would add those flags as macro definitions. Like
[code]
and
[code]

For simlator, it seems that we should add each extensi

[2020-10-12 16:50] fw-brice opened #269 "Failure/timeout when running `gm riscv64.release.check`"
**Describe the bug**
All tests run by this script should pass, but we currently see 1 failure and 2 timeouts.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the command `gm riscv64.release.check`

**Expected behavior**
All tests should pass.

**Errors/Logs**
[code]

**Additional context**

The failure is already covered in #259. The two that timeout are supposed to be skipped, as they a

[2020-10-12 18:05] fw-brice opened #270 "New failures when using `gm riscv64.debug.check`"
**Describe the bug**
Using this standard method to build and test the debug configuration causes 100 new failures.

**To Reproduce**
Steps to reproduce the behavior:
1. Build and test with `gm riscv64.debug.check`
2. See error

**Expected behavior**
0 unexpected failures

**Errors/Logs**
[code]
This indicates 100 new failures. Most (if not all) of these new errors seem to have the same symptom:

[

[2020-10-12 18:15] fw-brice commented on #270
An interesting note is that on our debug build, where these tests pass, we do see a warning, "Warning: unknown flag --enable-slow-asserts." That seems to point to the issue being related to the `v8_enable_slow_dchecks` build argument.

[2020-10-12 18:20] fw-brice opened #271 "`cipd` needs modifications to build natively"
**Describe the bug**
The native build of v8 relies on Google's *depot_tools*, including `cipd`. I have made changes [here](https://github.com/v8-riscv/depot_tools) to add `riscv64` to the case statement, but further changes are still required.

**To Reproduce**
Steps to reproduce the behavior:
1. Start RISC-V simulation in QEMU (probably the same behavior on the board, but I have not tested)
2. Cl

[2020-10-13 03:08] luyahan commented on #270
i found it on #224

[2020-10-13 05:26] luyahan commented on #262
relate #237

[2020-10-13 12:25] fw-brice commented on #270
Thanks @luyahan, I missed that.

Duplicate of #224.

[2020-10-13 12:25] #270 closed

[2020-10-14 01:58] luyahan commented on #237
refer #192

[2020-10-14 01:58] #237 closed

[2020-10-14 14:53] penguinwu commented on #98
That looks fine to me. But just check how the other backends implement their flags in GN. Let's try to be as consistent w/ the other backends as possible.

[2020-10-15 21:22] fw-brice opened #274 "Consolidate `LOAD_ADDRESS` and `CONSTANT_SIZE`"
It seems that the only uses of `CONSTANT_SIZE` are also for loading an address. We should verify this and then consolidate these two uses unless we identify a reason for both to exist.

[2020-10-16 01:29] luyahan opened #275 "[HIFIVE] Fatal error in cctest/test-assembler-riscv64/NAN_BOX"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.release`
2. Run test/program `out/release/cctest test-assembler-riscv64/NAN_BOX --random-seed=335946293 --nohard-abort --testing-d8-test-runner`
3. See error

**Expected behavior**
A clear and concise description of what you expected to h

[2020-10-16 01:30] luyahan opened #276 "[QEMU] Not normal exit in test-assembler-riscv64/RVC_CIW RVC_CI"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.native.release`
2. Run test/program '...'
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2020-10-16 01:51] #275 closed

[2020-10-16 01:51] luyahan commented on #275
QEMU NOT SUPPORT IT

[2020-10-17 00:54] Piping opened #277 "Test fail: mjsunit/d8/d8-performance-now"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]

**Expected behavior**
mjsunit/d8/d8-performance-now  pass

**Errors/Logs**
[code]

[2020-10-19 16:53] fw-brice opened #279 "Expected BytecodeArray but found Smi"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273). Many cases fail with this same error.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `rebase-to-tip`
2. Follow [standard build procedure](https://github.com/v8-riscv/v8/wiki/Simulator-Build)
3. Run the test:
[code]

**Expected behavior**
The test should pass.

**Errors/Logs**
[code]

[2020-10-19 21:28] fw-brice commented on #279
A simpler test case to expose this is:
[code]
This hits the error at less than 2500 instructions.

[2020-10-19 21:29] fw-brice commented on #279
The problem appears to be an incorrect stack pointer. The value that is causing the problem corresponds to an earlier write to `0(sp)`, but on MIPS, it corresponds to a write to `8(sp)`. I am tracking back the origin of the problem.

[2020-10-20 23:45] derekztu22 commented on #261
seems to have an issue with v8_root/v8/test/benchmarks/data/octane/run.js, would you mind checking?

[2020-10-21 21:10] fw-brice commented on #279
I found that there were changes to the stack frame. I have merged the necessary changes and am testing again now.

[2020-10-22 20:38] penguinwu opened #284 "[C-extension] Collect statistics of instructions that may directly map to C-extension instructions"
Augment the trace analysis tool to collect statistics on instructions that can be directly rewritten into C-extension instructions.

Those that can be rewritten to C-extension instructions need to satisfy additional constraints such as:

Report the percentage of instructions (for each regular instruction) that can be rewritten to C-extension instructions (i.e., 40% of `add` can be rewritten to C-e

[2020-10-22 20:40] penguinwu commented on #284
Not sure if @LOGQTAINIA or @luyahan is better suited for this issue. I'll let you two decide

[2020-10-22 20:40] fw-brice commented on #279
I am still working through the issues. The problem above, relating to the stack frames is fixed, then I discovered another issue, relating to an error in my porting of the `PushArray` method. That one is fixed as well, but now I have hit an issue with object types. I will continue to work through these, but welcome anyone else who wants to take a look.

[2020-10-22 20:52] penguinwu opened #285 "[C-extension support] Generate C-extension instructions in macro-assembler"
For each C-extension instruction, such as load/store or arithmetic operations, try to create a corresponding macro-assembler API (if not already existing) that would generate C-extension instructions when target architecture supports  C extension and that the registers/offsets of the API satisfy the constraints of C-extension instructions.

For instance, existing `TurboAssembler::Add(...)` can be

[2020-10-23 20:37] fw-brice commented on #279
Since the remaining issue is unrelated to this original issue, I will close this one and open a new one.

[2020-10-23 20:37] #279 closed

[2020-10-23 20:47] fw-brice opened #286 "Type failures"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273). Many cases fail with this same error. There seems to be an issue with the type of an object.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout rebase-to-tip
2. Modify *test/cctest/test-code-stub-assembler.cc*. In the test, `IsDoubleElementsKind`, comment out all of the checks, except for the first o

[2020-10-24 00:17] lazyparser commented on #286
Hi @fw-brice

currently the full CI is just testing riscv64 branch. should I add the `rebase-to-tip` on the radar?

[2020-10-26 12:39] fw-brice commented on #286
No, that should not be necessary. I hope to have `rebase-to-tip` replace `riscv64` as soon as we resolve the remaining bugs.

[2020-10-26 16:08] penguinwu commented on #286
Wei, feel free to assign to someone in your team to help out.

[2020-10-26 18:42] fw-brice commented on #286
I may have fixed it. Running tests now... There was a loop responsible for copying arguments that I incorrectly ported from MIPS:
[code]

[2020-10-26 19:54] fw-brice commented on #286
Confirmed, this passes with my last fix.

[2020-10-26 19:54] #286 closed

[2020-10-26 20:11] fw-brice opened #287 "TIP: Check failed: expect == mt.Call() (2 vs. 0)"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273). Several cases fail with this same error (see related cases below).

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `rebase-to-tip`
2. Follow standard build procedure
3. Run the test:
[code]

**Expected behavior**
I expected this test to pass.

**Errors/Logs**
[code]

**Probably related failures:**

[2020-10-26 20:17] fw-brice opened #288 "Fatal error in ../../src/objects/tagged-impl.h, line 92"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273). Several cases fail with this same error (see related cases below). `rebase-to-tip` has been merged, so this occurs on our main branch, `riscv64`.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `rebase-to-tip`
2. Follow standard build procedure
3. Run the test:
[code]

**Expected behavior**
I expe

[2020-10-26 20:45] fw-brice opened #289 "TIP: RuntimeError: unreachable"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273).

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `rebase-to-tip`
2. Follow standard build procedure
3. Run the test:
[code]

**Expected behavior**
I expected this test to pass.

**Errors/Logs**
[code]

**Possibly related failures:**
* wasm-spec-tests/if
* wasm-spec-tests/loop

[2020-10-26 20:45] fw-brice opened #290 "Seg fault"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273). `rebase-to-tip` has been merged, so this occurs on our main branch, `riscv64`.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `rebase-to-tip`
2. Follow standard build procedure
3. Run the test:
[code]

**Expected behavior**
I expected this test to pass.

**Errors/Logs**
[code]

**Possibly related

[2020-10-27 00:44] fw-brice commented on #287
The problem is in this sequence of instructions:
[code]
The load at (60) should be loading from the address that is written to in (53), but it is off by 8. In the old build, which passes, the load uses an offset of `-192`, which looks like it would be correct here as well. It is unclear where this code is coming from. The code (from `--print-all-code`) has a label of:
[code]

[2020-10-27 05:59] luyahan commented on #288
On mips64el.debug of upstream , it also appears this fatal error.

[2020-10-27 06:08] luyahan commented on #290
it also appear on mips64el.debug

[2020-10-27 08:09] luyahan commented on #289
The error  randomly appears !!
[code]

[2020-10-27 13:08] fw-brice opened #291 "Differential analysis tool for optimizations"
This idea is based on this poster from this year's LLVM Developers' Meeting: https://www.lowrisc.org/blog/2020/10/how-we-used-differential-testing-to-rapidly-find-and-fix-missed-optimisation-opportunities-in-llvms-risc-v-backend/llvm-dev-meeting-oct-2020-poster.pdf

We could implement something similar to help identify optimizations that we are missing in v8 that already exist in gcc and LLVM. Thi

[2020-10-28 14:48] fw-brice commented on #287
This code in the test case:

[code]

becomes this assembly code:

[code]

The offset is incorrect in that load, but I cannot figure out where it comes from.

[2020-10-28 16:19] lazyparser commented on #291
@luyahan @LOGQTAINIA pls check it to see if interested.

[2020-10-29 07:42] luyahan commented on #288
I add log:
[code]
output:
[code]

[2020-10-30 00:32] luyahan commented on #288
upstream bug https://chromium-review.googlesource.com/c/v8/v8/+/2461456

[2020-10-30 00:38] luyahan commented on #288
https://bugs.chromium.org/p/v8/issues/detail?id=11063

[2020-11-02 22:09] #276 closed

[2020-11-02 22:38] fw-brice commented on #287
I finally found the cause of this issue. It comes from `CodeGenerator::AssembleArchInstruction`:

[code]

[2020-11-03 15:09] fw-brice opened #297 "TIP: Check failed: constpool_.IsEmpty()"
**Describe the bug**
This issue shows up when using the `rebase-to-tip` branch (#273).

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout `rebase-to-tip`
2. Follow standard build procedure
3. Run the test:
[code]

**Expected behavior**
I expected this test to pass.

**Errors/Logs**
[code]

[2020-11-03 19:11] #287 closed

[2020-11-03 19:16] fw-brice commented on #289
After the fix to #287, I haven't seen this one fail again. We may be able to close this.

[2020-11-04 15:02] fw-brice opened #298 "Fix issues reported by presubmit"
There are many issues reported by `git cl presubmit` (apparently it was not running correctly before). These need to be fixed before opening our upstream review. I will work through these and may request help if needed.

[2020-11-04 17:15] fw-brice opened #299 "<cfenv> is an unapproved C++11 header"
`git cl presubmit` reports this error:

[code]

Can we replace the use of `fegetround` and `fesetround` with something else?

[2020-11-04 19:05] fw-brice opened #300 "Figure out Spike license"
There is a TODO in _simulator-riscv.h_: `TODO: Add Spike License here`. This needs to be resolved before upstreaming.

[2020-11-04 19:21] fw-brice opened #302 "Add all contributors to AUTHORS"
We currently have the following authors in our git logs:
[code]

All contributors need to be added to the _AUTHORS_ file for upstreaming. It does not appear that the name/email must match the git commit message, so I will wait for preferred name spellings and email addresses to make this change.

[2020-11-04 19:27] #289 closed

[2020-11-05 09:25] qjivy opened #303 "Test fail: cctest/test-api-icu/LocaleConfigurationChangeNotification"
**Describe the bug**
This failure happens when I verify the riscv64 branch using ./v8-riscv-tools/test-riscv.sh under riscv64.sim build.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options

The  args.gn is as following:
[code]
2. Run test/program

[code]
3. See error
[code]

**Expected behavior**
It should pass.

**Errors/Logs**

As pasted above.

**Additional context**

[2020-11-05 11:49] qjivy opened #304 "Test fail: intl/regress-1074578"
**Describe the bug**
This failure happens when I verify the riscv64 branch using ./v8-riscv-tools/test-riscv.sh under riscv64.sim build.

**To Reproduce**

Steps to reproduce the behavior:
1. Build with options

The  args.gn is as following:
[code]
2. Run test/program

[code]

3. See error

[code]

**Expected behavior**
It should pass.

**Errors/Logs**
As pasted above.

**Additional context**
Add

[2020-11-05 11:54] qjivy opened #305 "Test fail: intl/number-format/unified/percent"
**Describe the bug**

This failure happens when I verify the riscv64 branch using ./v8-riscv-tools/test-riscv.sh under riscv64.sim build.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options

The  args.gn is as following:
[code]

2. Run test/program

[code]

3. See error

[code]
**Expected behavior**
It should pass.

**Errors/Logs**

As mentioned above.

**Additional context**

[2020-11-05 11:57] qjivy opened #306 "Test fail: intl/number-format/unified/style-unit"
**Describe the bug**
This failure happens when I verify the riscv64 branch using ./v8-riscv-tools/test-riscv.sh under riscv64.sim build.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options

The  args.gn is as following:
[code]
2. Run test/program

[code]

3. See error

[code]

**Expected behavior**
It should pass.

**Errors/Logs**

As pasted above.

**Additional context**
Perh

[2020-11-05 12:01] qjivy opened #307 "Test fail: intl/number-format/unified/unit-display"
**Describe the bug**

This failure happens when I verify the riscv64 branch using ./v8-riscv-tools/test-riscv.sh under riscv64.sim build.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options

The  args.gn is as following:
[code]

2. Run test/program

[code]

3. See error

[code]
**Expected behavior**
It should pass.

**Errors/Logs**

As mentioned above.

**Additional context**

[2020-11-06 21:23] #302 closed

[2020-11-06 21:24] fw-brice commented on #298
Fixed in #301

[2020-11-06 21:24] #298 closed

[2020-11-07 06:35] qjivy commented on #269
I get the same FAIL result for this testcase (test/mjsunit/wasm/atomics64-stress.js).
However, when I change this [line](https://github.com/v8-riscv/v8/blob/riscv64/test/mjsunit/wasm/atomics-stress.js#L14) from false to true，the test could pass then.

The gn args of this build is:

[code]

[2020-11-07 11:44] penguinwu commented on #299
Sure. I'll take a look

[2020-11-09 14:52] fw-brice commented on #300
I'm looking at the code in the simulator, and I'm not seeing much that is directly copied from Spike other than these four definitions directly below the comment and some other trivial code:
[code]
I think that we may not need to include anything about the Spike license. @lazyparser, @penguinwu could you please also take a look and let me know what you think?

[2020-11-09 16:36] fw-brice commented on #304
I cannot reproduce this error.

[2020-11-09 16:51] fw-brice commented on #305
I can't reproduce this failure.

[2020-11-09 16:52] fw-brice commented on #306
I can't reproduce this failure.

[2020-11-09 16:52] fw-brice commented on #307
I cannot reproduce this failure.

[2020-11-10 03:13] lazyparser commented on #300
Generally, if we have imported codes from the spike-simulator repo before,  it would be better to include the LICENSE in the sub directory if the license was different with the main project. for the TODO I wonder if it was saying `TODO: add copyright string here`?

The code above looks trivial to me. I am not sure whether we should include the license/copyright string neither. @penguinwu what is y

[2020-11-10 12:20] qjivy commented on #304
Hi, Brice, do I need to provide more information, such as build platform for this issue? I just pull the latest code and build, the errors still happens.
Since it's the first time I take these tests, I don't quite sure if I had some misunderstandings about the build and test process.
I just notice that this error also happens on a x64.release build.

With args.gn
[code]

The testing command line:

[2020-11-10 13:17] fw-brice commented on #304
I'm not sure what might be wrong. These tests pass for the riscv64.sim build in the CI job as well. I do not see the error in my x64.release build either. Could someone else please try these tests to help determine which one of us has something going wrong in the build?

[2020-11-10 16:44] penguinwu commented on #300
Those codes seem trivial to me too. If those are the only direct lines from spike, I don't think we need to include Spke license.

[2020-11-10 16:44] lazyparser commented on #304
[code]

I have not reproduced either.

by looking at the error message, it could be a timezone regression issue.

the testcase was added by

[code]

[2020-11-10 20:01] fw-brice commented on #300
@lazyparser, so I don't think we imported any files directly, such that we could just add the license into a subdirectory. I think there were just a small number of things that were based on the Spike code. The majority of the simulator was based on the MIPS64 simulator in v8.

[2020-11-10 21:04] fw-brice commented on #300
I just realized that in simulator-riscv64.cc, we already include the Spike copyright comment. I'm trying to determine how much code in that file is from Spike. It should not be a problem, since the licenses appear to be compatible.

[2020-11-10 21:05] fw-brice commented on #300
Oh! It's already in the .h file as well 🤦 . I will just remove the TODO.

[2020-11-10 21:58] fw-brice commented on #299
MIPS uses this simple logic:
[code]

[2020-11-11 00:53] qjivy commented on #304
@lazyparser  Thanks!  Could you please also try for #305 ?
Let me find what happens in my build.

[2020-11-11 01:23] lazyparser commented on #305
test result:

[code]

[2020-11-11 01:24] lazyparser commented on #305
[code]

[2020-11-11 02:43] penguinwu commented on #299
That looks fine to me. I'll let you take care of this one.

[2020-11-11 16:59] #299 closed

[2020-11-11 17:01] #300 closed

[2020-11-13 03:14] qjivy opened #314 "Test Fail on final-rebase branch: test/mjsunit/math-floor-of-div.js"
**Describe the bug**
After #313 's rebase, many test cases failed. A typical error is as following:
[code]
Here we get the math-floor-of-div as an example to track the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options
The  args.gn is as following:
[code]
2. Run test/program

[code]
3. See error
[code]
**Expected behavior**
It should pass.

**Errors/Logs**
See above.

[2020-11-13 03:29] qjivy commented on #314
It seems that the exit label has 5 instruction which has size 20. But it is expected to be 3  (size 12)

[2020-11-13 05:54] qjivy commented on #314
on commit [ea61ae](https://github.com/v8-riscv/v8/commit/ea61ae0a31816a3dd128bfed91b1ceb5446aa80a)
./v8-riscv-tools/test-riscv.sh results 100 FAIL cases.

69 out of 100 are caused by the macro-assembler-riscv64.cc:4452 check failure. The error logs of them are same.

[2020-11-13 14:08] fw-brice commented on #291
[This repo](https://github.com/lowRISC/longfruit) has the code used for the above mentioned poster. I found that it is easy to modify it to work with a different compiler. Of course, our situation is a bit different, since V8 is not just a compiler, but we can still dump generated assembly code, so we should be able to use this tool.

[2020-11-13 14:14] qjivy commented on #314
Changing [this line](https://github.com/v8-riscv/v8/blob/riscv64/src/deoptimizer/riscv64/deoptimizer-riscv64.cc#L14) and [this line](https://github.com/v8-riscv/v8/blob/riscv64/src/deoptimizer/riscv64/deoptimizer-riscv64.cc#L15) from 3 to 5 works.

We can refer to https://chromium-review.googlesource.com/c/v8/v8/+/2488682

After my local regression test,  a PR can be commit.

[2020-11-13 14:20] lazyparser opened #315 "Add Ji Qiu to v8-riscv group as member"
Hi @fw-brice

I've just noticed that Ji Qiu (@qjivy) is not in v8-riscv group, so I can't assign issues to her.

[2020-11-13 14:39] fw-brice commented on #315
Done.

[2020-11-13 14:39] #315 closed

[2020-11-13 14:49] lazyparser commented on #258
@qjivy would you like to take a look?

[2020-11-13 14:50] lazyparser commented on #239
Done. semi-automation scripts work fine.

[2020-11-13 14:50] #239 closed

[2020-11-13 14:50] lazyparser commented on #219
Fixed.

[2020-11-13 14:50] #219 closed

[2020-11-13 14:51] lazyparser commented on #166
@qjivy pls close it if not appear

[2020-11-15 12:20] qjivy opened #317 "Test Fail on final-rebase branch: test-assembler-riscv64/RVC_LOAD_STORE_COMPRESSED"
**Describe the bug**
After #313 's rebase,  two cctest/test-assembler-riscv64/cases failed and they has the same error log.
One is RVC_LOAD_STORE_COMPRESSED  and the other is RISCV_UTEST_c_mv.

**To Reproduce**
1. Build with options
same as #314
2. Run test/program
[code]

[code]
3. See error

[code]
**Expected behavior**
It should pass.

**Errors/Logs**
If applicable, copy/paste the errors or log

[2020-11-17 00:38] derekztu22 commented on #53
According to the RISC-V Spec:
<img width="669" alt="Screen Shot 2020-11-16 at 4 33 54 PM" src="https://user-images.githubusercontent.com/69054241/99324619-8bd9a980-2829-11eb-847a-41532bb2c0f7.png">
Since from what I understand this test is doing an fsub.s(sNaN, 0), the result will always be the canonical NaN: 0x7fc00000 (2143289344) instead of the expected quiet NaN 0x7fe00000: (2145386496).

[2020-11-17 02:10] #317 closed

[2020-11-17 02:13] qjivy opened #321 "Test fail on final-rebase branch: cctest/test-api/FastApiCalls"
**Describe the bug**
After #313 's rebase, the test case fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options
same as #317
2. Run test/program
[code]
3. See error
[code]
**Expected behavior**

It should pass.

**Errors/Logs**
If applicable, copy/paste the errors or log messages here.

**Additional context**
Add any other context about the problem here.

[2020-11-17 21:38] fw-brice commented on #314
I believe this can be closed now. Thanks @qjivy!

[2020-11-17 21:38] #314 closed

[2020-11-20 04:37] luyahan opened #323 "Assign the same register to different node"
**Describe the bug**
Assign the same register to different nodes

**To Reproduce**
Steps to reproduce the behavior:
1. add `DCHECK(!AreAliased(scratch0, scratch1, value, index, object));` in code-generation-riscv64.cc:850
[code]
2. Build with options `riscv64.sim`
3. Run test/program `./out/riscv64.sim/d8 --test ./test/mjsunit/mjsunit.js ./test/mjsunit/compiler/polymorphic-symbols.js --random-seed

[2020-11-21 10:01] qjivy commented on #323
It seems not like a bug!

I checked the instruction sequence of ARM64/MIPS64 and RISCV64.

The instruction sequence of MIPS64 is the same as RISCV64. (use --trace-turbo-alloc --print-code)

MIPS64:

Before register allocation(RA): v1 v2 v1 is the virtual register, so you can see the value and object is using the same virtual register number!  After RA, both of the inputs are allocated into the sam

[2020-11-26 05:13] luyahan commented on #261
I compare JSEntry between mips64 and riscv64 .I find that Load a address of ExternalReference result in  the difference of instr number (mips64:94 and riscv64:125):
[code]

[2020-11-26 07:39] luyahan commented on #303
maybe gclient sync

[2020-11-26 09:14] luyahan commented on #321
refer https://bugs.chromium.org/p/v8/issues/detail?id=11121

[2020-11-27 02:20] luyahan commented on #321
May be we need rebase again?

[2020-11-27 02:20] #323 closed

[2020-11-29 04:38] qjivy commented on #305
It relates to some old third party repo which could be updated by gclient sync.
After update, the #304, #305, #306, #307  can't be reproduced any longer.
So I close them.

[2020-11-29 04:38] #305 closed

[2020-11-29 04:38] qjivy commented on #304
It relates to some old third party repo which could be updated by gclient sync.
After update, the #304, #305, #306, #307  can't be reproduced any longer.
So I close them.

[2020-11-29 04:38] #304 closed

[2020-11-29 04:39] qjivy commented on #306
It relates to some old third party repo which could be updated by gclient sync.
After update, the #304, #305, #306, #307  can't be reproduced any longer.
So I close them.

[2020-11-29 04:39] #306 closed

[2020-11-29 04:39] qjivy commented on #307
It relates to some old third party repo which could be updated by gclient sync.
After update, the #304, #305, #306, #307  can't be reproduced any longer.
So I close them.

[2020-11-29 04:39] #307 closed

[2020-11-30 01:37] #303 closed

[2020-11-30 06:16] derekztu22 opened #326 "[C-Extension] Compilation Fails with changes to to macro-assembler"
**Describe the bug**
./mksnapshot runs into Out Of Memory error with changes

**To Reproduce**
Steps to reproduce the behavior:
1. Run and build with code following instructions in [wiki](https://github.com/v8-riscv/v8/wiki/Simulator-Build)
2. See error

**Expected behavior**
Compilations passes

**Errors/Logs**
[code]

**Additional context**
Changes are as below:

`void TurboAssembler::Add64(Regi

[2020-11-30 06:17] derekztu22 commented on #326
@fw-brice here is the issue for the bug we discussed on Wednesday. Let's have all discussions here.

[2020-12-01 09:19] luyahan opened #328 "Test case failed on final rebase branch"
### mjsuint:
58  failed

[code]
33

[code]
18
[code]
4

[code]
1

[code]
1

[code]
1

log:
[log-mjsunit.txt](https://github.com/v8-riscv/v8/files/5621522/log-mjsunit.txt)

[2020-12-02 06:40] luyahan opened #330 "[final-rebase]Abort: CSA_ASSERT failed: Torque assert 'Is<A>(o)' failed [src/builtins/cast.tq:657]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.sim'
2. Run test/program './cctest test-strings/StringReplaceAtomTwoByteResult'
3. See error
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
If applicable, copy/paste the errors or l

[2020-12-02 06:41] luyahan commented on #330
log
arm64:
[code]
riscv64
[code]

[2020-12-02 18:50] fw-brice opened #334 "Re-enable constant pools"
Constant pools were disabled with #331 due to a bug in the updated code. We need to identify and resolve that bug so that they can be re-enabled.

[2020-12-02 20:45] fw-brice commented on #326
A general comment for debugging errors from mksnapshot - you can run mksnapshot in the VSCode debugger by following the configuration [here](https://github.com/v8-riscv/v8/wiki/VSCode-Setup#vscodelaunchjson) or you can extract the command from that to run in gdb.

[2020-12-02 20:53] fw-brice commented on #326
I would recommend looking into any places that use `kInstrSize` or `kInstrSizeLog2` and verify that they are correctly handling variable size instructions. The method `InstructionSize()` can alternatively be used on an instruction to retrieve its size. I have not looked closely at any of that code to verify if it is properly modified.

[2020-12-02 20:59] fw-brice commented on #326
One other tip is to try to build v8 without the snapshot, so that the build can succeed, then try to find a simpler test case to reproduce the problem. You can disable snapshot by adding `v8_use_snapshot=false` to args.gn in your build directory.

[2020-12-02 22:15] #330 closed

[2020-12-04 22:32] fw-brice opened #337 "Debug check failed: IsFreeOrSameVirtualRegister(reg, virtual_register)."
**Describe the bug**
This DCHECK fails for 10 tests in #336.

**To Reproduce**
Steps to reproduce the behavior:
1. Build the code from #336
2. Run test:
[code]
3. See error

**Expected behavior**
This test should pass

**Errors/Logs**
[code]

**Additional context**
Other tests that fail with this same issue:
* mjsunit/const-field-tracking-2
* mjsunit/compiler/test-dynamic-map-check-deprecated-maps

[2020-12-05 09:49] #328 closed

[2020-12-08 04:37] derekztu22 commented on #326
Has been traced up to src/compiler/backend/code-generator.cc:407
`tasm()->Align(Code::kMetadataAlignment);`

Will continue to dig deeper.

[2020-12-08 12:03] qjivy commented on #337
For the builtin DynamicCheckMaps, its Descriptor  is copied from MIPS64  as  the following code shows:

[code]
However, for RV64, kReturnRegister0 is a0 (in MIPS64 it's v0). It will introduce allocation conflict during register allocation.

The instruction that affected by the conflict is:

[code]

[2020-12-08 18:18] #337 closed

[2020-12-09 05:29] qjivy opened #339 "Test fail: mjsunit/wasm/externref-liftoff"
**Describe the bug**
This failure happens when I verify the riscv64 branch using ./v8-riscv-tools/test-riscv.sh under riscv64.sim build.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options

args.gn

[code]
2. Run test/program

[code]
3. See error

[code]

**Expected behavior**

It should pass.

**Errors/Logs**
As pasted above.

[2020-12-09 11:01] lazyparser opened #344 "assembler-riscv64.cc:2457:15: warning: variable 'part' set but not used [-Wunused-but-set-variable]"
Seems an easy issue but should be fixed before upstreaming.

[code]

[2020-12-10 03:14] luyahan commented on #339
On arm64, it have no this check:
[code]

[2020-12-10 03:18] luyahan commented on #339
mips had delete it : https://chromium-review.googlesource.com/c/v8/v8/+/2576444

[2020-12-10 07:45] chaoRIOS commented on #259
This issue is sort of complicated. I will re-trying on it after looking at multi-threading mechanism.

Below is the decription in the comment of this case.

[code]

[2020-12-10 08:56] luyahan commented on #288
Branch upstream don't occurs this fatal.

[2020-12-10 11:35] #339 closed

[2020-12-10 15:47] #288 closed

[2020-12-10 20:20] fw-brice opened #348 "Seg fault in compilation-hints-decoder"
**Describe the bug**
This test case seg faults.

**To Reproduce**
Steps to reproduce the behavior:
1. Build debug mode
2. Run test:
[code]
3. See error

**Expected behavior**
Test should pass.

**Errors/Logs**
[code]

** Related test **
mjsunit/wasm/externref-liftoff seems to have the same problem.

[2020-12-10 21:00] fw-brice opened #349 "unreachable code in externref-liftoff"
**Describe the bug**
This test case reports "unreachable code" and errors out.

**To Reproduce**
Steps to reproduce the behavior:
1. Build riscv64
2. Run test:
[code]
3. See error

**Expected behavior**
This test should pass.

**Errors/Logs**
[code]

[2020-12-10 22:09] fw-brice opened #350 "stack: trampoline_pos != kInvalidSlotPos"
**Describe the bug**
Various "stack" tests fail with the error "trampoline_pos != kInvalidSlotPos" in release builds.

**To Reproduce**
Steps to reproduce the behavior:
1. Build riscv64 release mode.
2. Run test:
[code]
3. See error

**Expected behavior**
This test should pass.

**Errors/Logs**
[code]

**Additional context**
This same error occurs for all of the following tests:
* wasm-spec-tests/

[2020-12-11 16:05] #350 closed

[2020-12-11 20:05] #349 closed

[2020-12-11 21:04] fw-brice commented on #348
I am going to temporarily skip these two tests in mjsunit.status so that we can push a branch upstream with 0 unexpected failures.

[2020-12-14 18:38] #348 closed

[2020-12-16 15:49] fw-brice commented on #98
Please include checks in tools/testrunner/base_runner.py in this work as well. For now, I am deleting the temporary code that was there and mostly commented out which added the `simd_riscv` flag, similar to the `simd_mips` flag.

[2020-12-16 16:35] fw-brice commented on #98
We may also use a flag to select Sv39, Sv48, etc. The address space limit should be adjusted accordingly with these flags in _src/object/backing-store.cc_. The default is Sv39.

[2020-12-22 18:31] fw-brice commented on #10
Yahan's comment above is correct. This can be closed.

[2020-12-22 18:31] #10 closed

[2020-12-22 20:54] fw-brice commented on #15
All of our tools have moved to a separate repo - https://github.com/v8-riscv/v8-riscv-tools

[2020-12-22 20:54] #15 closed

[2020-12-22 21:57] fw-brice commented on #321
This seems to be fixed now. @qjivy please confirm and close the issue if so.

[2020-12-22 22:04] fw-brice commented on #297
These tests pass while constant pools are disabled. Review this issue after #334 is resolved.

[2020-12-22 22:07] fw-brice commented on #291
Moved to https://github.com/v8-riscv/v8-riscv-tools/issues/1

[2020-12-22 22:07] #291 closed

[2020-12-22 22:09] fw-brice commented on #290
This works now.

[2020-12-22 22:09] #290 closed

[2020-12-22 22:11] fw-brice commented on #284
Migrated to v8-riscv/v8-riscv-tools#2

[2020-12-22 22:11] #284 closed

[2020-12-22 22:18] fw-brice commented on #277
This is a timing check. It passes when run on the release build. It is now skipped on the debug build.

[2020-12-22 22:18] #277 closed

[2020-12-22 22:32] fw-brice commented on #269
It seems that those two tests are now skipped as expected on the simulator.
[code]

[2020-12-22 22:32] #269 closed

[2020-12-22 22:34] fw-brice commented on #262
I can't reproduce this. @DrRezaYazdani1, please check if you can still reproduce.

[2020-12-22 22:41] fw-brice commented on #224
This seems to be fixed now.

[2020-12-22 22:41] #224 closed

[2020-12-24 01:38] penguinwu commented on #211
This is a longer term item, close it for now.

[2020-12-24 01:38] #211 closed

[2020-12-24 01:39] #186 closed

[2020-12-24 01:50] penguinwu commented on #110
long-term issue, closed for now to keep issue list clean

[2020-12-24 01:50] #110 closed

[2020-12-24 01:51] penguinwu commented on #109
Close long-term issues to keep current issue list for more immediate items

[2020-12-24 01:51] #109 closed

[2020-12-24 01:52] penguinwu commented on #119
@fw-brice did we go through all the FIXMEs from RISCV as part of the upstreaming process? Do you feel that we can close this one?

[2020-12-24 01:52] penguinwu commented on #195
Done

[2020-12-24 01:52] #195 closed

[2020-12-24 01:53] penguinwu commented on #200
not needed any more.

[2020-12-24 01:53] #200 closed

[2020-12-24 01:54] penguinwu commented on #207
@fw-brice Have we reached a conclusion on this one? Is there more that we need to find out. If not, please add a summary of what you found and close this one.

[2020-12-24 01:55] penguinwu commented on #261
Done. Close this one.

[2020-12-24 01:55] #261 closed

[2020-12-24 01:56] penguinwu commented on #158
@qjivy I think we can start to update the scheduler w/ more realistic latency information. Could you find someone from your team to work on this?

[2020-12-24 02:03] lazyparser commented on #119
If there are still some FIXME exist, we can triage them and find out easy todos as good-first-bug for new interns. I am optimistic that 5~10 new contributors will join during the 2021H1

[2020-12-24 02:26] lazyparser opened #366 "Wishlist 2021 for V8 for RISC-V project: What goals we want to achieve by the end of 2021?"
Please add comments here. All the wishes would be eventually appended into [community roadmap](https://github.com/v8-riscv/v8/wiki/Project-Roadmap)

A few wishes:
- Set up the performance tracking mechanism. (aka. the [code speed tracking infrastructure](https://github.com/riscv/riscv-code-speed-optimization/blob/main/projects/infrastructure-for-perf-tracking.adoc)
- Try to support RISC-V Vector E

[2020-12-24 02:33] lazyparser commented on #110
Let's move it (as long term project) to the wishlist 2021 :) issue #366

[2020-12-24 02:33] lazyparser commented on #366
- Investigate on enabling V8 on hardware without floating-point extensions #110

[2020-12-24 02:42] lazyparser commented on #366
- Investigate how to use LLVM to build V8 (#211)

[2020-12-29 20:43] derekztu22 commented on #326
Fixed see PR #369.

[2020-12-29 20:43] #326 closed

[2020-12-31 17:31] fw-brice commented on #119
That sounds good Wei. I will review the existing spots and see if any require a new issue to be opened.

[2020-12-31 19:22] fw-brice opened #370 "Use of fence.i vs __builtin__clear_cache"
In 9c16a032038b1ded389995feb1160d9b4b9424df, Palmer explained that we should not use `fence.i` in user space, then in b7f01edc0a577c77c6eedd94df20bc9215aaffae reverted back to `fence.i` after seeing this change cause an error in hardware. Let's figure out for sure what is correct and remove the FIXME.

CC @palmer-dabbelt
CC @luyahan

[2020-12-31 19:32] fw-brice opened #371 "Review `Assembler::AdjustBaseAndOffset`"
There is a FIXME [here](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/codegen/riscv64/assembler-riscv64.cc#L2569) saying that there may be a more optimal implementation. This should be reviewed and optimized if possible, or else the FIXME should be removed.

[2020-12-31 19:37] fw-brice opened #372 "Review use of t6 for indirect calls"
In some code copied from MIPS, it was noted that MIPS ABI requires that a certain register must be used for indirect calls. We chose to use `t6` in RISC-V, but are unclear about why that requirement existed in MIPS and if there is a similar requirement in RISC-V. See the FIXME and comment [here](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/codegen/riscv64/macro-

[2020-12-31 19:39] fw-brice opened #373 "Review no_builtin_index"
Investigate [this FIXME](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/codegen/riscv64/macro-assembler-riscv64.cc#L4545):

[code]

[2020-12-31 19:44] fw-brice opened #374 "Update instruction latencies"
Latencies from the instruction scheduler were copied from MIPS and need to be properly updated to match RISC-V for more optimal scheduling. See FIXMEs in [instruction-scheduler-riscv64.cc](https://github.com/v8-riscv/v8/blob/riscv64/src/compiler/backend/riscv64/instruction-scheduler-riscv64.cc).

[2020-12-31 19:46] fw-brice opened #375 "Check masking in `OS:GetRandomMmapAddr`"
Review the FIXME [here](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/base/platform/platform-posix.cc#L326):

[code]

[2020-12-31 19:51] fw-brice opened #376 "Confirm `table_entry_size`"
[This FIXME](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/deoptimizer/riscv64/deoptimizer-riscv64.cc#L16) needs to be confirmed.

[code]

[2020-12-31 19:54] fw-brice opened #377 "Confirm `Builtins::CodeObjectIsExecutable`"
[This FIXME](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/builtins/builtins.cc#L498) should be confirmed and fixed or removed.

[code]

[2020-12-31 19:57] fw-brice opened #378 "Confirm offset in CallCFunctionHelper"
[This FIXME](https://github.com/v8-riscv/v8/blob/fc127d87bc4aa87e9729442d5ead953d01eb9112/src/codegen/riscv64/macro-assembler-riscv64.cc#L4404) needs to be checked and fixed or removed. It seems correct, or else I would expect some tests to fail, but someone needs to go through and confirm.

[code]

[2020-12-31 19:59] fw-brice commented on #119
Ok, I reviewed the remaining FIXMEs, fixed some of them in #379 and opened issues 370-378 for the remaining.

[2020-12-31 19:59] #119 closed

[2021-01-01 02:06] penguinwu commented on #366
More complete support for V8 WASM and performance (WASM is still under active development on V8 and currently there are still some test cases that are failing on our branch).

I also feel that any push to ML workload/demo is likely to go through the WASM route. And WASM has the advantage of a defined SIMD IR for porting workloads for V extensions.

[2021-01-01 02:08] penguinwu commented on #366
Would like to see at least one 3rd-party adoption of using v8-riscv to build their solutions. This also implies more time spent on servicing bug fixing or even feature requests from the users.

[2021-01-01 12:54] lazyparser commented on #366
There are already a few team interesting in the adoption of v8-riscv project. They are in the stage of internal testing and developing. Hopefully we can see at least 2 teams publicly use v8-riscv.

[2021-01-05 19:03] palmer-dabbelt commented on #370
So there's really two different things going on here, and they're both messy:

* `fence.i` was removed from the I base ISA at some point, which means it's technically not usable from userspace.  We take advantage of this assumption in the Linux implementation to avoid some unnecessary fences on thread transitions, but there's no way to prevent userspace from issuing their own fences.  As a result

[2021-01-07 02:48] lazyparser commented on #366
@qjivy after today's meeting:

- need to transfer this wishlist into roadmap.
- prioritize the bullets.
- (maybe) list who is/are working on each bullets.

[2021-01-07 07:31] #344 closed

[2021-01-07 07:32] #321 closed

[2021-01-07 15:24] qjivy commented on #366
### 2021 V8 RISCV Roadmap-Items lists with priority from high to low

- Upstreaming(on going by Futurewei & RIOS Lab & PLCT)
- Demo and application launch
  - Demo tensorflow.js on RISC-V(todo)
  - Embrace node.js community and support all the node.js ecosystem running on RV64GC(todo)
  - Chromium running on PicoRio with V8(on going @RIOS lab)
- Performance (on going @PLCT)
  - Set up the performa

[2021-01-10 04:28] lazyparser commented on #366
@qjivy good summary.

if all of us agree on this list, then @qjivy could create a new wiki page, or insert the 2021 roadmap on the top of https://github.com/v8-riscv/v8/wiki/Project-Roadmap

[2021-01-11 22:36] derekztu22 opened #391 "Cross compiled Build failure"
**Describe the bug**
Trying to follow steps for cross compiled build on wiki fails during cross compilation step.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow steps in [here](https://github.com/v8-riscv/v8/wiki/Cross-compiled-Build) up to this [step](https://github.com/v8-riscv/v8/wiki/Cross-compiled-Build#cross-compile-v8-as-risc-v-binary-on-an-x86-64-host).

**Expected behavior**

[2021-01-12 01:24] lazyparser commented on #391
Have you tried cloning and building in a new folder/environment?

[2021-01-12 02:05] derekztu22 commented on #391
This happens on a new clone of the repo too. I do not have another environment to run it on.

[2021-01-12 02:37] 13nash opened #392 "Debug under simulated run failure"
**Describe the bug**
Trying to follow steps for How to debug v8 on wiki fails during cross Debug under simulated runtep.

**To Reproduce**
Steps to reproduce the behavior:
Use simulator trace (--trace-sim) step
run: cctest test-bytecode-generator/StaticClassFields --trace-sim > trace.log
**Expected behavior**
a trace.log is correctly created.

**Errors/Logs**
[code]
**Additional context**
The trac

[2021-01-12 03:16] luyahan commented on #392
excute it on vb root again

[2021-01-12 08:58] derekztu22 commented on #391
Could we add that step into the wiki? I remember it being there before but now it's not there anymore.

[2021-01-13 07:42] luyahan commented on #391
I had add it
https://github.com/v8-riscv/v8/wiki/Cross-compiled-Build#configure-toolprefix

[2021-01-19 14:42] 13nash opened #400 "Test Fail on rebase-to-master branch:cctest and mjsunit"
**Describe the bug**
cctest and mjsunit cases failed and they have the same error log.

1 cctest case:
cctest/test-heap/Regress10774

11 mjsunit cases:
mjsunit/const-field-tracking-2
mjsunit/compiler/test-dynamic-map-check-deprecated-maps-polymorphic
mjsunit/compiler/test-dynamic-map-check-deprecated-maps
mjsunit/compiler/test-dynamic-map-culibheck-deprecated-maps2
mjsunit/compiler/test-dynamic-ma

[2021-01-19 14:44] fw-brice commented on #400
I believe this is fixed with Yahan's fix in #399. I am running all of the tests now.

[2021-01-19 15:47] fw-brice opened #401 "New failure under 'rebase-to-master' branch"
**Describe the bug**
The test `intl/general/grandfathered_tags_without_preferred_value` fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout rebase-to-master:
[code]
2. Build:
[code]
3. Run test:
[code]
4. See error

**Expected behavior**
All tests should pass

**Errors/Logs**
[code]

[2021-01-19 15:58] fw-brice commented on #400
Yes, I can confirm that this is fixed now. There is only one remaining failure, for which I opened #401.

[2021-01-19 15:58] #400 closed

[2021-01-19 17:43] fw-brice commented on #401
This test passed on the [CI job](https://8961001f3fcb.ngrok.io/logs/393-run-2021-01-19T15:30:01.733Z.log), so it may just be an issue with my environment. Can someone else confirm?

[2021-01-19 23:32] lazyparser commented on #401
@qjivy @luyahan pls check it. at a high priority.

[2021-01-20 02:11] qjivy commented on #401
My native run is pass.

[2021-01-20 03:36] 13nash commented on #392
I excute it on v8 root ，and the trace.log is correctly created.

[2021-01-20 03:36] #392 closed

[2021-01-20 06:09] chaoRIOS commented on #259
After GDBed the case, most probable problem resides in the implementation of LR/SC in simulator. Attempts of disabling man-made SC failure or running this case in QEMU works well.

[2021-01-20 13:04] qjivy opened #402 "Add 3 more general registers for the ALLOCATABLE_GENERAL_REGISTERS"
**Is your feature request related to a problem? Please describe.**

When checking the default allocatable register list for RISCV64, I found the ALLOCATABLE_GENERAL_REGISTERS seems can include more registers.

The ALLOCATABLE_GENERAL_REGISTERS macro defines the default allocatable registers set for the register allocation phase. The more registers in this set, the more live ranges can be allocated

[2021-01-20 13:06] fw-brice commented on #401
Ok, thanks for checking. I will close this.

[2021-01-20 13:06] #401 closed

[2021-01-20 13:10] fw-brice opened #403 "wasm-spec-tests/proposals/js-types/exports and imports fail"
**Describe the bug**
Two tests fail with the latest rebased branch:
* wasm-spec-tests/proposals/js-types/exports
* wasm-spec-tests/proposals/js-types/imports

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout 'rebase-to-master':
[code]
2. Build:
[code]
3. Run tests:
[code]

**Expected behavior**
These tests should pass.

**Errors/Logs**
[code]

[2021-01-20 13:29] qjivy commented on #402
The code size is evaluated on the simulator by checking the "i_count" value after running each benchmark, which stands for the total instruction counts that the running by the simulator.

The code snippet to get the "i_count" value is:
[code]

The experiment result on Sunspider, Kraken and Octane are:

  Sunspider| before | after | delta | reduce ratio
-- | -- | -- | -- | --
3d-cube | 90451684 | 8

[2021-01-25 06:59] chaoRIOS commented on #366
Adding "WASM support, including atomic operations and trying out SIMD"

[2021-02-01 11:42] luyahan opened #412 "Clean up t3 t5 t6 in builtins-riscv64.cc"
**Describe the bug**
t3 t5 t6 are used as ScratchRegister,
so we can't use it directly and should use it by UseScratchRegisterScope.

[2021-02-02 02:45] #370 closed

[2021-02-02 14:08] fw-brice opened #414 "Failure reported by upstream try bots"
**Describe the bug**
This test which runs in Google's try bots is currently failing for a riscv64.debug build

**To Reproduce**
Steps to reproduce the behavior:
1. Build:
[code]
2. Run test:
[code]
3. See error:
[code]

**Expected behavior**
All tests should pass.

**Errors/Logs**
It reports the error then hangs at the simulator prompt:
[code]

[2021-02-03 02:36] luyahan commented on #414
Delete the parameter **--no-wasm-tier-up**, it will pass
out/riscv64.sim/d8 --test test/mjsunit/mjsunit.js test/mjsunit/wasm/externref-globals-liftoff.js --random-seed=-976563914 --nohard-abort --testing-d8-test-runner --stress-incremental-marking --experimental-wasm-reftypes --expose-gc --liftoff **--no-wasm-tier-up** --experimental-liftoff-extern-ref

[2021-02-03 02:38] luyahan commented on #414
I think we can skip it

[2021-02-03 02:57] luyahan commented on #414
If i run test by run-test.py, it have no args stress-incremental-marking
[code]

[2021-02-03 15:02] fw-brice commented on #414
I agree, this test does not run this way for me either, but however they are running the tests in the trybots, this gets run and fails. https://ci.chromium.org/ui/p/v8/builders/try.triggered/v8_linux64_riscv64_rel_ng_triggered/b8856421860659820992/steps?succeeded=true&debug=false

[2021-02-03 22:36] fw-brice commented on #414
#415 is merged so this is skipped for now. This is no longer a problem on the trybots.

[2021-02-04 01:48] luyahan opened #418 "regress-1138075.js/regress-1138611.js time out with --variants=more,dev"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options `riscv64.debug`
2. Run test/program `tools/run-tests.py --progress=verbose --outdir out/riscv64.sim/ --random-seed=-9765639
14 --variants=more,dev --rerun-failures-count=2 mjsunit/regress/regress-1138075`
3. See error

**Expected behavior**
A clear and c

[2021-02-04 01:55] luyahan commented on #418
we can test it
[code]

[2021-02-04 02:21] qjivy commented on #259
FYI
On the rebase-to-master branch, the test output is different, as follow:

[code]

[2021-02-05 04:37] luyahan commented on #412
@qjivy wang to fixed t6 as the rs1 of jalr.So we can know where jump from when occurs segment error.

[2021-02-05 21:35] fw-brice opened #423 "Review `SharedArrayBuffer` after atomics are implemented"
The RISC-V specific code in `TF_BUILTIN(AtomicsExchange, SharedArrayBufferBuiltinsAssembler)` should be reviewed once atomics are properly implemented.

[code]

[2021-02-05 21:36] fw-brice commented on #423
See also `TF_BUILTIN(AtomicsCompareExchange, SharedArrayBufferBuiltinsAssembler)`:

[code]

[2021-02-05 21:37] fw-brice commented on #423
And `SharedArrayBufferBuiltinsAssembler::AtomicBinopBuiltinCommon`:

[code]

[2021-02-05 22:00] fw-brice opened #424 "Review `WasmI32AtomicWait32Descriptor::InitializePlatformSpecific`"
After atomics are implemented, this RISC-V specific code in interface-descriptors.cc needs to be reviewed:

[code]

[2021-02-05 22:05] fw-brice opened #425 "Reduce `registers_to_retain`"
From FIXME removed from regexp-macro-assembler-riscv64.cc:

This is referring to the definition of `registers_to_retain`.

[2021-02-05 22:07] fw-brice opened #426 "Improve store when aligned"
The current implementation of `LiftoffAssembler::Store` treats all stores as unaligned (see liftoff-assembler-riscv64.h).

[2021-02-05 22:09] fw-brice opened #427 "Review `kExprF32ConvertF64`"
From liftoff-assembler-ricv64.h:

[code]

[2021-02-05 22:12] fw-brice opened #428 "Review `Assembler::stop` implementation"
[code]

[2021-02-05 22:13] fw-brice opened #429 "Remove MIPS MSA registers"
See register-riscv64.h:264:

[code]

[2021-02-05 22:16] fw-brice opened #430 "Trace memory read in simulator for `amo`"
simulator-riscv64.h:437:
[code]

[2021-02-05 22:17] fw-brice opened #431 "Implement handling of NaN (quiet and signaling)"
See simulator-riscv64.cc:2406:

[code]

[2021-02-05 22:19] fw-brice opened #432 "Review Simulator::FMaxMinHelper"
I removed an unclear FIXME from this function for upstreaming.

[code]

[2021-02-05 22:22] fw-brice opened #433 "Should RISC-V perform sanity check in `DebugEvaluate::VerifyTransitiveBuiltins`?"
We have currently included RISCV64 in the set of architectures that do not check this. Review if this is the correct behavior.

debug-evaluate.cc:1088:
[code]

[2021-02-07 02:09] luyahan opened #435 "cctest test-js-to-wasm/TestFastJSWasmCall_MultipleArgs failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.debug'
2. Run test/program `cctest test-js-to-wasm/TestFastJSWasmCall_MultipleArgs --random-seed=-976563914 --nohard-abort --testing-d8-test-runner --stress-opt --no-liftoff --stress-lazy-source-positions`
3. See error

**Expected behavior**
A c

[2021-02-07 02:10] luyahan commented on #435
It is a new test case which is committed two days ago.

[2021-02-07 03:28] luyahan opened #437 "riscv64-gcc cross-complied failed"
[code]

[2021-02-07 03:28] luyahan commented on #437
GCC version
[code]

[2021-02-07 03:39] chaoRIOS commented on #259
noticing that there're rules for archs other than x64 and arm, I'm looking at if riscv64 should be added as well.

In `src/wasm/baseline/liftoff-compiler.cc` line 269:

[code]

[2021-02-08 04:28] luyahan commented on #435
Delete a7 from kGpParamRegisters in wasm-linkage.h

[2021-02-08 04:29] luyahan opened #438 "Why a7 don't be written into kGpParamRegisters in wasm-linkage.h"
refer https://github.com/v8-riscv/v8/issues/435#issuecomment-774857708

[2021-02-08 14:43] #435 closed

[2021-02-08 14:43] #98 closed

[2021-02-09 13:41] luyahan opened #440 "After rebase uptream , Debug check failed: *instance == frame_finder.frame()->wasm_instance()"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Build with options 'riscv64.debug'
2. run tools-test
3. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Errors/Logs**
[code]

**Additional context**
Add any other context about the problem here.

[2021-02-09 14:18] luyahan commented on #418
add regress-1138611.js

[2021-02-10 05:17] lazyparser commented on #366
- [x]  Milestone 1: Upstreaming

[2021-02-14 07:59] lazyparser opened #442 "The workflow should be updated after the uptreaming finished"
Now the RV64 porting had been merged into upstream. We should consider the workflow after the upstream. There is some brainstorming:

1. the wiki is still useful and should be continuously updated. some contents (testing status, etc) would be modified/removed.
2. Small patches could be submitted to chromium/gerrit directly.
3. The CI for v8-riscv project is still useful, we may want to keep it.
4.

[2021-02-15 14:23] fw-brice commented on #442
Thanks for starting this discussion Wei. I think it would be a good idea to work through the larger changes in this repo, then once it is ready, rebase and open an upstream review.

We also need to understand the process that we need to follow for the upstream reviews. I will send an email to the Google team to help point us to the documentation for that.

[2021-02-18 14:43] fw-brice commented on #442
I added my initial thoughts to the wiki - https://github.com/v8-riscv/v8/wiki/Upstream-Workflow. Let's discuss here and finalize this plan.

[2021-02-22 14:00] lazyparser commented on #442
Thank Brice for writing these down. I have an another opinion: Instead of using the `riscv64` as the unique developer branch, we may better to use one `feature branch` for exactly on `feature issue` or `bug issue`.

For the long term feature, say rvv, we can create a `rvv-dev`, and merge all WIP patches/branches into the branch, e.g. `rvv-instr-123` merged into `rvv-dev` after CI and review. And e

[2021-02-22 14:08] lazyparser commented on #442
and for the support for nodejs and other downstream projects, we may also need to considering the backporting: e.g. if a LTS version of nodejs uses V8 `v8.9` and other LTS uses V8 `v9.2`, then we may need to maintain `riscv64-v8.9-branch` and `riscv64-v9.2-branch` for the `Last Good Commit tracking`.
(The backporting is not an urgent thing to deal with.)

[2021-02-22 14:17] luyahan commented on #442
Should we open a same issue about important problem on chromium issues？

[2021-02-22 14:26] fw-brice commented on #442
I think that is essentially the same as what I was suggesting, with the addition of sub-branches on the feature branches. We do work on feature branches, then once ready, those branches get pushed upstream for review. Master is always in sync with upstream, and riscv64 is always the latest commit from master which passes all RISC-V tests.

[2021-02-22 15:21] lazyparser commented on #442
Yes. It would be helpful if we can emphasis on `do not merge the PR here, go chromium/gerrit`.
LGTM. Thanks.

[2021-02-23 01:35] qjivy commented on #442
LGTM

[2021-02-23 03:30] derekztu22 commented on #442
Are these the same? I will explain my understanding from reading Brices document and what I can understand from Wei's proposal and please let me know if my understanding is incorrect.

From what I understand from Brice's [document](https://github.com/v8-riscv/v8/wiki/Upstream-Workflow) this is the proposed git structure (forgive me for the ugly diagrams):

[code]

where:
v8-riscv/master is always

[2021-02-23 14:55] fw-brice commented on #442
Yes, that looks right for my proposal, and it clarifies how a branch that fixes an upstream issue in master would work. Thanks Derek.

[2021-02-23 20:08] derekztu22 commented on #442
Then aren't the two proposals different in terms of when a broken patch is pushed to v8/master?

For Brice's proposal when a broken patch is pushed we will still have a branch that can contain all the newest features and can continue gaining newer features while we fix the broken patch; in this case the branch would be v8-riscv/riscv64.

For Wei's proposal when we get a broken patch I assume we wo

[2021-02-23 20:11] fw-brice commented on #442
Wei's suggestion says "the riscv64 branch could be sticking to the last good version for RISC-V on master/main branch of upstream." Isn't that saying the same thing as mine?

[2021-02-23 20:23] derekztu22 commented on #442
From what I understand from your suggestion is that we will be able to continue updating the v8-riscv/riscv64 branch with new features. While with Wei's suggestion all v8-riscv/riscv64 is doing is tracking the last working version of RISC-V from v8/master.

[2021-02-23 20:28] fw-brice commented on #442
Oh, no actually, I was also suggesting that feature branches are based off of riscv64, but they are not merged back into riscv64, only merged upstream, once riscv64 is in sync with master.

master is only updated when upstream is updated. When master is updated, riscv64 is updated to the latest commit that passes all RISC-V tests. So if developers are working on a feature while master is broken, t

[2021-02-23 20:30] derekztu22 commented on #442
Okay I got it, thanks for the clarification!

[2021-02-23 21:00] fw-brice commented on #442
I'll take another pass at the wiki page to see if I can clarify that better.

[2021-02-25 03:43] #402 closed

[2021-02-26 09:06] lazyparser opened #444 "Update the master branch automatically; sync with upstream/master every hour"
According the #442 new workflow, we need to sync the master branch.

[2021-02-26 09:08] lazyparser opened #445 "Enable the build check and simulator testing on master branch"
as the new workflow.

please be aware that the commits that pass he CI are candidates of the `riscv64` branch, and they should pass the qemu and hifive board testing before merged into the `riscv64` branch.

currently the qemu and board testing is semi-automatic. I'll try it later (and another issue for it).

[2021-02-26 09:09] lazyparser opened #446 "Automatic the qemu testing and board testing for riscv64 branch"
ref  the new workflow.

currently the qemu and board testing is semi-automatic. I'll try it later (and another issue for it).

[2021-02-26 09:10] lazyparser opened #447 "Update the wiki for the new workflow"
as the title said.

[2021-02-26 09:13] lazyparser opened #448 "Report the build failure on master branch automatically. Open an issue for the latest failure."
Currently the riscv backend is just a tier 3 platform of upstream. We should keep an eye on it.

All work can be done by bots should be done by bots.

[2021-02-26 09:14] lazyparser opened #449 "Cleanup pull requests remaining opened before the merge of upstream."
Housekeeping work.

[2021-02-26 12:14] lazyparser commented on #442
Hi all

I think we have made a consensus already. I'll start to work on the automation sync tools.

Can we close the issue now?

[2021-02-26 12:32] qjivy commented on #418
Retry this case on the riscv-sparkplug-dev branch with commit id c7b10d45e0ef15745ae526b8ea2f99a3e3c8acdc, **passed.**

(As the RISCV64 branch hasn't yet aligned to the upstreamed version as [#442 ], I just take this branch and commit id to validate the latest RISCV64 code.

[2021-02-26 12:32] #418 closed

[2021-02-26 12:33] qjivy commented on #53
Retry this case on the riscv-sparkplug-dev branch with commit id c7b10d4, **same error.**

[2021-02-26 12:35] qjivy commented on #414
Retry this case on the riscv-sparkplug-dev branch with commit id c7b10d4, same error.

[2021-02-26 13:59] fw-brice commented on #442
That sounds good to me. Thanks Wei. Feel free to make changes in my CI tool, or let me know what changes you'd like me to make there.

[2021-02-28 10:20] qjivy commented on #166
Retry this case on the riscv-sparkplug-dev branch with commit id bc90d62 , same error.

[2021-02-28 10:22] qjivy commented on #403
Retry these two case on the riscv-sparkplug-dev branch with commit id bc90d62 .

**exports** pass
**import** still error

[2021-02-28 10:25] qjivy commented on #297
Retry this case on the riscv-sparkplug-dev branch with commit id bc90d62 , still error.
Error log is different.

[code]

[2021-02-28 10:32] qjivy commented on #204
Retry this case on the riscv-sparkplug-dev branch with commit id bc90d62 , **pass**.

[2021-02-28 10:33] #204 closed

[2021-02-28 13:17] qjivy commented on #449
Done.

[2021-02-28 13:17] #449 closed

[2021-03-01 12:17] qjivy commented on #431
It should also be implemented for the double FEQ/LT/LE ones.
The ISA spec said:

[code]

[code]

I will make a PR later.

[2021-03-03 12:15] qjivy commented on #447
https://github.com/v8-riscv/v8/wiki/Testing-Status updated.

[2021-03-03 12:15] #447 closed

[2021-03-05 03:14] luyahan commented on #437
update riscv64 gcc to solve it

[2021-03-05 03:14] #437 closed

[2021-03-05 03:14] luyahan commented on #412
merged

[2021-03-05 03:14] #412 closed

[2021-03-08 07:44] #440 closed

[2021-03-08 08:34] luyahan commented on #403
Refer
https://github.com/v8-riscv/v8/blob/cda7183b963712a5a65827e6c42f450b49068dc9/test/wasm-spec-tests/wasm-spec-tests.status#L23
import should be failed

[2021-03-08 08:41] #391 closed

[2021-03-08 09:03] luyahan commented on #262
can't reproduce it

[2021-03-08 09:03] #262 closed

[2021-03-09 01:58] #220 closed

[2021-03-09 06:06] #431 closed

[2021-03-09 06:28] qjivy commented on #432
The semantic of the FMaxMinHelper is exactly correct according to the ISA-SPEC, and the "set_csr_bits(csr_fflags, kInvalidOperation); " is equal to  "set_fflags(flags) { set_csr_bits(csr_fflags, flags);"

So the code is all right here. We can close this issue.

[2021-03-09 06:28] #432 closed

[2021-03-12 01:21] #414 closed

[2021-03-12 01:28] #403 closed

[2021-03-12 01:32] #297 closed

[2021-03-12 03:06] qjivy opened #455 "Take advantage of the load/store offset field to reduce code size"
When dealing with the assemble code emit of load and store instructions, the
[AdjustBaseAndOffset ](https://github.com/v8-riscv/v8/blob/riscv64-dev/src/codegen/riscv64/assembler-riscv64.cc#L2561)  function is called to adjust the base and offset_ in the MemOperand to fit the constraint of the 12 bit offset field.

Currently, it simply loads the whole offset_ immediate number into a scratch registe

[2021-03-12 03:17] qjivy commented on #455
  | Release-opt | Release-orig |   | Debug-opt | Debug-orig |  
-- | -- | -- | -- | -- | -- | --
3d-cube | 89025205 | 89781982 | 0.84% | 459071448 | 490349507 | 6.38%
3d-morph | 62807300 | 63165163 | 0.57% | 281588416 | 299753793 | 6.06%
3d-raytrace | 79847808 | 80612520 | 0.95% | 398906355 | 426249845 | 6.41%
access-binary-trees | 33892310 | 34133781 | 0.71% | 115527167 | 122002823 | 5.31%
access

[2021-03-12 06:20] qjivy commented on #455
Statistics of the simulated instruction count for Kraken:
kraken | release-build-opt | release-build-orig |  
-- | -- | -- | --
ai-astar | 1486290780 | 1486946217 | 0.04%
audio-beat-detection-data | 773984895 | 775274254 | 0.17%
audio-dft-data | 649576626 | 650314647 | 0.11%
audio-fft-data | 707325505 | 708416627 | 0.15%
audio-oscillator-data | 718335606 | 718838876 | 0.07%
imaging-gaussian-blur-d

[2021-03-12 06:21] qjivy commented on #455
Statistics of the simulated instruction count for Octane:

Octane | Release-opt | Release-orig |  
-- | -- | -- | --
allcases | 44927431404 | 45139899940 | 0.47%

[2021-03-12 06:21] #455 closed

[2021-03-14 00:49] lazyparser opened #459 "Moving gh/v8-riscv/v8 to gh/riscv/v8"
According to the discussion in slack, we will try to move the v8 repo to the github account of RVI.

[2021-03-15 01:44] luyahan opened #460 "RuntimeError: unreachable in wasm-spec-tests/test/f32/f64.js"
#### Command:
 `out/riscv64.debug/d8 --test test/wasm-spec-tests/tests/f32.js --random-seed=1873986322 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
 `out/riscv64.debug/d8 --test test/wasm-spec-tests/tests/f64.js --random-seed=1873986322 --nohard-abort --enable-slow-asserts --verify-heap --testing-d8-test-runner`
[code]

Maybe reason is result of a floating-point ope

[2021-03-16 08:09] lazyparser opened #464 "Restore owner and maintainer permissions after repo transfer"
After transferred to gh/riscv/ all the owner & maintainer roles need to re-added.

[2021-03-16 08:11] lazyparser opened #465 "Add API Tokens, Keys, and other CI / Actions needed configs after transfer"
I can do it myself once #464 get done.

[2021-03-17 02:30] luyahan opened #467 "inspector/debugger/wasm-gc-breakpoints: Unaligned read at 0xa979108c71 , pc=0x55e45a27fcb0"
=== inspector/debugger/wasm-gc-breakpoints ===
--- stdout ---
Tests GC object inspection.

Running test: test
Instantiating.
Waiting for wasm script (ignoring first non-wasm script).
Setting breakpoint at offset 107 on script wasm://wasm/22e4830a
Calling main()
Unaligned read at 0xa979108c71 , pc=0x55e45a27fcb0
  0x000055e45a27fcb0   0005b683       ld        a3, 0(a1)
sim>
[code]

[2021-03-17 07:46] luyahan commented on #427
If a double value can't be represented by float, then it will be round accord Rounding Mode.
For example:
Rounding Mode is Round to Nearest, ties to Even
double is -3.4e+39, is will be convert to -inf by fcvt_s_d

[2021-03-17 07:51] luyahan commented on #428
See constants-mips.h:314
On MIPS Simulator breakpoints can have different codes:
- Breaks between 0 and kMaxWatchpointCode are treated as simple watchpoints,
  the simulator will run through them and print the registers.
- Breaks between kMaxWatchpointCode and kMaxStopCode are treated as stop()
  instructions (see Assembler::stop()).
- Breaks larger than kMaxStopCode are simple breaks, dropping yo

[2021-03-17 08:11] luyahan commented on #378
In arm64 it's offset is also 0.
[code]

[2021-03-17 08:11] luyahan commented on #377
It is relate with #433

[2021-03-17 08:20] luyahan commented on #376
The const number const int Deoptimizer::table_entry_size_ is deleted from  deoptimizer-riscv64.cc

[2021-03-17 08:20] #376 closed

[2021-03-17 08:57] luyahan commented on #375
Refer to [Linux condig](https://github.com/torvalds/linux/blob/8b83369ddcb3fb9cab5c1088987ce477565bb630/Documentation/devicetree/bindings/riscv/cpus.yaml#L140)

Riscv64 use Sv39

[2021-03-17 10:35] lazyparser commented on #464
Done.

[2021-03-17 10:35] #464 closed

[2021-03-19 08:01] lazyparser opened #475 "Make sure that developers are able to re-trigger CI for trusted PRs"
RT.

[2021-03-19 08:02] lazyparser opened #476 "Set a CI bot on slack so that develper can trigger CI builds by talking in Slack"

[2021-03-24 14:23] fw-brice commented on #475
I am working on this now.

[2021-03-30 06:16] luyahan opened #482 "TIMEOUT on mjsunit/stack-traces-overflow"
Branch : riscv64-dev
build: riscv64.debug
[code]

[2021-03-30 06:17] luyahan opened #483 "SEGV_MAPERR on wasm-spec-tests/skip-stack-guard-page"
Branch : riscv64-dev
build: riscv64.debug
[code]

[2021-03-30 06:18] luyahan commented on #482
Only occurs on CI

[2021-03-30 06:18] luyahan commented on #483
Only occurs on CI

[2021-04-01 09:35] lazyparser opened #486 "RFC: we need to maintain the release version/branch of v8 for downstream projects, like nodejs"
Current workflow does not consider release branch/version of v8.

After we begin to support nodejs, which uses release version of v8, we need to maintain multiple branches.

I put the burden of documenting new workflow on @qjivy 's shoulder :)