[2021-04-06 05:22] #433 closed

[2021-04-07 00:50] #334 closed

[2021-04-20 19:13] fw-brice opened #489 "Upstream request about callee-saved registers"
Review comment from Michael on our [initial upstreaming review](https://chromium-review.googlesource.com/c/v8/v8/+/2571344):

We can add a link in the comments to the [spec](https://github.com/riscv/riscv-isa-manual/releases/download/Ratified-IMAFDQC/riscv-spec-20191213.pdf) and a pointer to chapter 25. However, when I looked at this, I do not see all of the callee saved registers being saved (s9-

[2021-04-21 04:23] qjivy commented on #489
It seems coming from 'src/heap/base/asm/mips64/push_registers_asm.cc'.

Since mips64  in N64/N32 has s0-s7 for callee save register set, but RISC-V has s0~s11, so we need to add  s9,s10,s11 to this code snippet.

Meanwhile,  the 'gp,fp(s8),sp,ra' in MIPS64 are saved because this funcion is just like a function prologue to preparing for the calling of 'IteratePointersImpl' in 'src/base/stack.cc'.

[2021-05-10 05:02] luyahan opened #490 "test-cpu-profiler failed about Debug check failed: IsContextMap()"
commit:
0aacfb2a6ecbeda1d1d97ca113afd8253a1b9670 [cpu-profiler] Reintroduce support for context filtering
white_check_mark

log:
[code]
https://ci.rvperf.org/view/V8/job/v8-github-riscv64/lastBuild/console

[2021-05-11 05:47] luyahan opened #491 "BUG: atomic mjsunit/regress/wasm/regress-1196837.js infinite loop"
command:
[code]

if add liftoff-only, no infinite loop.

[2021-06-09 08:12] luyahan opened #494 "Test benchmark on d1 or unmatched"

[2021-06-09 08:12] luyahan commented on #494
[code]

[2021-06-10 00:43] luyahan commented on #494
Unmatched
[code]

[2021-06-10 01:48] qjivy commented on #494
Using Yahan's above statistics and add ARM CortexA53:

&nbsp; | arm64-CA53-1.4G-Android8.1.0-Chrome68.0.3440.91 | unmatch1.2G | D1 1G
-- | -- | -- | --
3d-cube-sunspider | 105.4 | 182.8 | 411.3
3d-morph-sunspider | 78.2 | 159.7 | 200.9
3d-raytrace-sunspider | 148.8 | 249.2 | 792.9
access-binary-trees-sunspider | 30.0 | 52.2 | 97.1
access-fannkuch-sunspider | 93.4 | 158.7 | 234.2
access-nbody-sunsp

[2021-06-10 08:30] luyahan commented on #490
Fixed

[2021-06-10 08:30] #490 closed

[2021-07-15 03:33] luyahan opened #500 "Add RVV instr"
Design doc:
https://docs.google.com/document/d/1ylrriu-Zt6LIVYVlzhynr4hJuS9t-kGioNHmvAUsrtY/edit?usp=sharing

[2021-07-15 07:09] luyahan opened #501 "mjsunit/compiler/regress-1226988 infinite loop"
=== mjsunit/compiler/regress-1226988 ===
--- stdout ---
Warning: unknown flag --enable-slow-asserts.
Try --help for options
============ Stress 1/2 ============
============ Stress 2/2 ============
Command: /home/jenkins_node/workspace/v8-upstream-master/v8-riscv/v8/out/riscv64.sim.debug/d8 --test /home/jenkins_node/workspace/v8-upstream-master/v8-riscv/v8/test/mjsunit/mjsunit.js /home/jenkins_nod

[2021-07-22 05:53] lazyparser opened #502 "[CI] try to fix github CI"
The github CI is broken now. Although we're moving to gerrit directly, the CI seems still relevant/useful.

We'll try to fix it this week.

[2021-07-22 07:44] qjivy commented on #53
Retry this case ,  same error.
main branch commitid:
[code]
[code]

[2021-07-22 08:45] luyahan commented on #53
riscv always ouput canonical NaN: 0x7fc00000
wasm expectes quiet NaN 0x7fe00000

[2021-07-22 08:45] #53 closed

[2021-07-23 02:26] qjivy opened #503 "[upstream main] cctest/test-cpu-profiler/CrossScriptInliningCallerLineNumbers2"
**Describe the bug**
This case randomly fails

**To Reproduce**
Build the upstream main branch with commit-id 35e2b11b2d2e6a8653b802613a9c496f64e4bd22 with options riscv64.release

Run with command line:
 ./out/riscv64.release/./cctest test-cpu-profiler/CrossScriptInliningCallerLineNumbers2

**Expected behavior**

[code]

Errors/Logs
todo
[code]

[2021-07-23 16:00] Blacklion14 commented on #502
Hello @lazyparser ,

[2021-07-23 16:01] Blacklion14 commented on #502
Hello @lazyparser ,
I wanted to help in solving this issue and fix CI tests, If you can guide me how can i be helpful :)

[2021-07-26 13:34] fw-brice commented on #502
Thanks @Blacklion14. I think it is just some server configuration issue. I am going to take a look at it now. I'll let you know if there is anything I can use your help for.

[2021-07-26 13:42] Blacklion14 commented on #502
Sure I will really like to help if needed

[2021-07-26 13:51] fw-brice commented on #502
It is fixed now. We just needed to update the endpoint to use the new URL from ngrok. @lazyparser, please confirm.

[2021-07-26 13:52] fw-brice commented on #502
If possible, it would be great if we could setup an SSL cert and DNS for that CI server so that we do not need to rely on ngrok. @lazyparser, do you have anyone available to work on that?

[2021-07-26 15:17] lazyparser commented on #502
sure. I'd  try to setup a standalone server with SSL before next meeting.

[2021-07-26 15:25] lazyparser commented on #502
Thanks @Blacklion14 !

[2021-08-13 15:46] ZhengLiu2825 opened #504 "[upstream main] wasm-spec-tests/conversions"
**Describe the bug**

wasm-spec-tests/conversions fails randomly.

**To Reproduce**

Fetch the latest main branch (commit id: 8bc7f45337c453482b552b7dd872bc62af6ff34a).

Let `FLAG_riscv_c_extension` be `true.`

Execute `tools/dev/gm.py riscv64.release.checkall` multiple times.

(I executed it 11 times. This failure appeared 2 times.)

**Expected behavior**

wasm-function[6]:0xfd: RuntimeError: unr

[2021-08-15 15:41] andreas-schwab opened #505 "error: narrowing conversion"
https://build.opensuse.org/package/live_build_log/home:Andreas_Schwab:Factory/nodejs16/r/riscv64

../deps/v8/src/diagnostics/riscv64/disasm-riscv64.cc: In member function 'void v8::internal::Decoder::DecodeRAType(v8::internal::Instruction*)':
../deps/v8/src/diagnostics/riscv64/disasm-riscv64.cc:897:10: error: narrowing conversion of 'v8::internal::RO_AMOMIN_W' from 'uint32_t' {aka 'unsigned int'}

[2021-08-16 07:55] luyahan opened #506 "Enbale vs disable sparkplug"

[2021-08-16 07:55] luyahan commented on #506
Wrote /home/luyahan/v8/_results/master_sunspider_compare.
                               benchmark:    score |  master_ |      % |
===================================================+==========+========+
                       3d-cube-sunspider:    183.7 S    204.9 S   11.5 |
                      3d-morph-sunspider:    159.8 S    165.0 S    3.3 |
                   3d-raytrace-sunspider:    254.3

[2021-08-16 09:04] luyahan commented on #506
[code]

[2021-08-18 11:59] qjivy commented on #504
According to https://ci.rvperf.org/job/v8-upstream-master/486/console， this bug would also happen w/o the c_ext be true.
And it's a randomly crash.

[2021-08-19 00:59] qjivy commented on #503
It's certainly a ramdom crash, it has the same behavior with https://github.com/riscv/v8/issues/192 （also same error for 193/194/216/236/236/262）

[2021-08-19 03:27] Blacklion14 commented on #503
Hello @qjivy ,
I tried the above case on latest upstream and also on the commit ` [35e2b11]`(https://github.com/riscv/v8/commit/35e2b11b2d2e6a8653b802613a9c496f64e4bd22), and it fails no longer.
The logs are as follows in both of the scenario
![log](https://user-images.githubusercontent.com/73174529/130002972-32a5e408-ada4-45eb-9213-db6e3f1c62fe.png)

[2021-08-20 08:41] luyahan commented on #505
v8 of node js is old, please  wait new version v8

V8 CL:
https://chromium-review.googlesource.com/c/v8/v8/+/2966209

[2021-08-20 08:41] luyahan commented on #505
You also can build v8 wit our branch
https://github.com/v8-riscv/node

[2021-08-21 08:35] felixonmars commented on #505
Backported to nodejs at https://github.com/nodejs/node/pull/39827

Thanks for the porting effort!

[2021-08-23 07:38] qjivy opened #508 "native regression test on unmatched001@PLCT PTS"
Here we get an initial test on unmatched001  with native debug build.

Several cases are fail so we need to check and fix.

[2021-08-23 07:43] qjivy commented on #508
Here is the raw log file.
[log.txt](https://github.com/riscv/v8/files/7029994/log.txt)

The failure cases:

[fail.txt](https://github.com/riscv/v8/files/7030006/fail.txt)

[2021-08-23 07:55] qjivy commented on #508
Two of the failures are related to the previously failures, #192, #193, #194, #216, #236, #262, as well as
https://ci.rvperf.org/view/V8/job/v8-upstream-master/578/consoleText
https://ci.rvperf.org/view/V8/job/v8-upstream-master/579/consoleText
https://ci.rvperf.org/view/V8/job/v8-upstream-master/580/consoleText

which are:

[code]

[code]

They are related to

[2021-08-25 02:49] qjivy commented on #504
fix by https://chromium-review.googlesource.com/c/v8/v8/+/3114159

[2021-08-25 02:49] #504 closed

[2021-08-25 08:07] #505 closed

[2021-08-26 09:04] #192 closed, assigned to lazyparser, taoliq

[2021-09-01 18:33] andreas-schwab opened #509 "Check failed: trampoline_pos != kInvalidSlotPos."
During build of chromium, this error occurs:

<https://build.opensuse.org/package/live_build_log/openSUSE:Factory:RISCV/chromium/standard/riscv64>

python3 ../../third_party/devtools-frontend/src/third_party/typescript/ts_library.py --tsconfig_output_location gen/third_party/devtools-frontend/src/front_end/models/text_utils/text_utils-tsconfig.json --deps ../../core/common/bundle-tsconfig.json ../

[2021-09-02 01:24] luyahan commented on #509
Hi
What is your build commit id?

[2021-09-02 02:28] qjivy commented on #509
It seems v8 abort for a runtime error.  But from this command line we can't judge how to retry  it.

[code]

It will be help if you can provide more info about your build configuration, codebase.

[2021-09-05 03:02] qjivy opened #510 "Test randomly crash at"
commit id:
[code]

debug/release build: debug

case name and cmdline:
[code]

Error log:
[code]
with same commit id:

fail at https://ci.rvperf.org/view/V8/job/v8-upstream-master/653/consoleText

pass at https://ci.rvperf.org/view/V8/job/v8-upstream-master/654/consoleText

[2021-09-05 03:02] qjivy commented on #509
seems same error as https://github.com/riscv/v8/issues/350

[2021-09-05 07:48] qjivy opened #511 "Ask for the V8 gerrit CQ+2 permission for Lu Yahan"
Now Yahan could only  comment on the V8 RISC-V related  CLs on V8 gerrit. He can not make CQ+2.
Let's try to add his permission with CQ+2 and add him to  the owner list.
So both Yahan and me can review and make decision for code merge.
This would make the CI turn-green more effective.

[2021-09-06 02:43] luyahan commented on #510
If --random-seed=2002767715 is immutable, the error can repeat trigger
Fix cl:
https://chromium-review.googlesource.com/c/v8/v8/+/3141263

[2021-09-06 05:50] #510 closed

[2021-09-07 02:09] luyahan opened #512 "Port Faster builtin/runtime/API calls (full solution)"
issue:
https://bugs.chromium.org/p/v8/issues/detail?id=11880

qiuji  15 minutes ago
https://docs.google.com/document/d/10qh2-b4C5OtSg-xLwyZpEI5ZihVBPtn1xwKBbQC26yI/edit

qiuji  15 minutes ago
这个你应该看过了，压缩指针的

qiuji  15 minutes ago
https://docs.google.com/document/d/1ry_QnFBahan78opn5auCgx0cfnkYapZtjOU9yjFaCmM/edit

qiuji  14 minutes ago
这个是关于开启压缩指针以后要把code object摆放紧凑一些的
New

qiuji  13 minutes ago
这

[2021-09-10 08:00] luyahan commented on #509
Hi @andreas-schwab
I have submmit fixed patch to v8.
https://chromium-review.googlesource.com/c/v8/v8/+/3153835

[2021-09-14 02:19] luyahan commented on #511
https://chromium-review.googlesource.com/c/v8/v8/+/3145370

[2021-09-14 02:19] #511 closed

[2021-09-15 08:11] qjivy commented on #509
Resolved by

[2021-09-15 08:11] #509 closed

[2021-09-22 08:28] luyahan commented on #501
https://chromium-review.googlesource.com/c/v8/v8/+/3174619

[2021-09-27 08:48] qjivy commented on #509
Hi @andreas-schwab , we are happy to see that according to https://build.opensuse.org/package/show/openSUSE:Factory:RISCV/chromium, it seems that build is succeed.

Does that mean running a  Chromium browser on RISCV-64 is quite near?

[2021-09-27 09:03] andreas-schwab commented on #509
It is completely untested, I would be surprised if it actually runs without crashing.  It would be nice if someone could test it.

[2021-09-28 06:45] luyahan commented on #509
![mmexport1632811408402.jpg](https://user-images.githubusercontent.com/22358871/135036547-43260c4c-651e-4ae4-9219-f8a63a06c93f.jpg)
intsall oepnsuse rpm on D1  openeuler

[2021-09-28 07:35] andreas-schwab commented on #509
Thanks, that looks really good.

[2021-09-28 07:37] lazyparser commented on #509
Congrats! 🎉

Hopefully we will test it on Unmatched w/ AMD GPU.

[2021-09-28 15:33] luyahan commented on #509
Are you have a plan to upstreaming riscv64 patch of chromium？

[2021-09-28 15:35] #501 closed

[2021-10-20 10:02] andreas-schwab opened #513 "Check failed: fixed_size_above_fp + (stack_slots * kSystemPointerSize) - CommonFrameConstants::kFixedFrameSizeAboveFp + outgoing_size == result."
When running chromium from <https://build.opensuse.org/package/show/home:Andreas_Schwab:riscv:chromium/chromium> (which uses 9.4.146.21) this error occurs:

#
# Fatal error in , line 0
# Check failed: fixed_size_above_fp + (stack_slots * kSystemPointerSize) - CommonFrameConstants::kFixedFrameSizeAboveFp + outgoing_size == result.
#
#
#
#FailureMessage Object: 0x3fd9d76f70#0 0x002ab58669ca (/usr/li

[2021-10-21 07:37] luyahan commented on #513
Hi @andreas-schwab  what does " running chromium" mean?  Are you open a html on chrome?

[2021-10-21 08:43] andreas-schwab commented on #513
The openSUSE chromium package  is configured to open https://search.opensuse.org/ and https://www.google.com/chrome/ on the first run.  Both tabs will crash in the same way.

[2021-10-22 19:54] #513 closed, assigned to nobody

[2021-11-03 02:50] qjivy commented on #512
https://chromium-review.googlesource.com/c/v8/v8/+/3257964

[2021-11-08 02:14] luyahan opened #514 "Crash in node.js"
[code]

[2021-11-08 02:16] qjivy opened #515 "A potential random crash: unittests/LazyCompileDispatcherTest.CompileLazy2FinishesDispatcherJob"
Command of the failure case：

[code]

Failure info:

[code]

Fail commit id:
[code]

Fail on：

https://ci.rvperf.org/view/V8/job/v8-upstream-master/1098/consoleText

Pass on：

https://ci.rvperf.org/view/V8/job/v8-upstream-master/1099/consoleText

Record it and wait to see if the error would happen again.

[2021-11-08 06:37] lazyparser commented on #514
Would you like to submit a build script to plctlab/riscv-ci?

[2021-11-15 03:19] luyahan commented on #514
i add it on https://github.com/plctlab/riscv-ci/pull/38

[2021-11-18 12:10] lazyparser commented on #465
Done in the past. No need now. All the CI for PRs had been transfered to Google Gerrit.

[2021-11-18 12:10] #465 closed

[2021-11-18 12:11] luyahan commented on #514
fixed

[2021-11-18 12:11] #514 closed

[2021-11-18 12:11] lazyparser commented on #476
We've directly trigger in Jenkins every 20 minutes.
https://ci.rvperf.org/job/v8-upstream-master-fastcheck/

and we no longer use github for patch submission.

[2021-11-18 12:11] #476 closed

[2021-11-18 12:12] lazyparser commented on #444
All developments are moved to upstream.

[2021-11-18 12:12] #444 closed

[2021-11-18 12:13] lazyparser commented on #207
Already done by several different Linux distros.

[2021-11-18 12:13] #207 closed

[2021-11-18 12:13] lazyparser commented on #459
All developments are moved to upstream.

[2021-11-18 12:13] #459 closed

[2021-11-18 12:14] lazyparser commented on #240
All developments are moved to upstream.

[2021-11-18 12:14] #240 closed

[2021-11-18 12:14] lazyparser commented on #448
Done. report to slack.

[2021-11-18 12:14] #448 closed

[2021-11-18 12:15] lazyparser commented on #475
All developments are moved to upstream.

[2021-11-18 12:15] #475 closed

[2021-11-18 12:15] lazyparser commented on #442
All developments are moved to upstream.

[2021-11-18 12:15] #442 closed

[2021-11-21 02:55] qjivy commented on #515
We haven't gotten a same crash from 1099 to current 1205. As LazyCompiler is a newly introduced feature in V8, it should be a fixed issue. So we close it.

[2021-11-21 02:56] #515 closed

[2021-11-21 02:56] qjivy commented on #512
Seemed we have porting the related upstream changes. Close it.

[2021-11-21 02:56] #512 closed

[2021-11-21 02:57] qjivy commented on #500
RVV for Wasm SIMD is under progressing on gerrit now. Close it.

[2021-11-21 02:57] #500 closed

[2021-11-21 03:08] qjivy commented on #494
| |rv64-unmatched-debug（ms）      | rv64-unmatched-release（ms） | arm64-CA53-1.4G-Android8.1.0-Chrome68.0.3440.91  |
|------------------------------------|---------------------------------|--------------------------------------------------|-------|
| 3d-cube-sunspider                  | 2084.1                          | 167.4                                            | 105.4 |
| 3d-morph-sunspider

[2021-11-21 03:08] #494 closed

[2021-11-21 03:12] qjivy commented on #491
Already fixed on the lasted version.

[2021-11-21 03:12] #491 closed

[2021-11-22 01:59] qjivy commented on #483
Can't reproduce this error now. Close.

[2021-11-22 01:59] #483 closed

[2021-11-22 02:02] qjivy commented on #489
Finished this issue on  https://chromium-review.googlesource.com/c/v8/v8/+/2848476 .

Close.

[2021-11-22 02:02] #489 closed

[2021-11-22 02:03] qjivy commented on #486
Now we are able to maintain V8  just on upstream. So close this issue.

[2021-11-22 02:03] #486 closed

[2021-11-22 02:03] #482 closed

[2021-11-22 07:44] qjivy commented on #259
Still failed in the main trunk with commit-id 573759da3fb50d6f13e88d9bf08d6a7e74e53ab0

[2021-11-23 11:48] qjivy commented on #467
This case can pass test on the latest commit.
[ re-enable it now ](https://chromium-review.googlesource.com/c/v8/v8/+/3295309)

[2021-11-23 11:48] #467 closed

[2021-11-23 11:51] qjivy commented on #460
already fixed by #463.
close

[2021-11-23 11:51] #460 closed

[2021-11-23 11:53] qjivy commented on #446
Now we have https://ci.rvperf.org/view/V8/job/v8-upstream-master and it seems the regression on simulator mode is effective and convincible . So I'd like to close this issue.

[2021-11-23 11:53] #446 closed

[2021-11-23 11:54] qjivy commented on #445
Already done for the upstreamed master https://ci.rvperf.org/view/V8/job/v8-upstream-master.
Close.

[2021-11-23 11:54] #445 closed

[2021-11-23 11:59] qjivy commented on #429
Done by https://chromium-review.googlesource.com/c/v8/v8/+/3005768

[2021-11-23 11:59] #429 closed

[2021-11-24 10:16] andreas-schwab opened #516 "node v16.13: infinite loop in node_mksnapshot"
While building node v16.13 (using v8 9.4.146.19) the following command runs into an infinite loop:

LD_LIBRARY_PATH=/home/abuild/rpmbuild/BUILD/node-v16.13.0/out/Release/lib.host:/home/abuild/rpmbuild/BUILD/node-v16.13.0/out/Release/lib.target:$LD_LIBRARY_PATH; export LD_LIBRARY_PATH; cd ../.; mkdir -p /home/abuild/rpmbuild/BUILD/node-v16.13.0/out/Release/obj/gen; "/home/abuild/rpmbuild/BUILD/node

[2021-11-25 00:58] qjivy commented on #372
MIPS using this convention to ease debug in some breakpoint, the indirect call target can be guessed from the register info.

So V8 RISC-V backend, we done this  https://chromium-review.googlesource.com/c/v8/v8/+/2848100 to using t6 as target register to ease debug.

[2021-11-25 00:58] #372 closed

[2021-11-25 06:51] luyahan commented on #516
I run
[code]
encounter error:
[code]

[2021-11-25 08:31] andreas-schwab commented on #516
Did you reuse an old build root?  Try adding --clean.

[2021-11-26 06:32] luyahan commented on #516
Thanks

And when i want to debug it by gdb
But gdb return error:

[code]
Is this virtual machine don't support gdb?

[2021-11-26 07:11] lazyparser commented on #516
Looks like it is caused by nested VM. gdb uses ptrace for sub-process operations. ptrace is a feature of kernel IIRC.

https://stackoverflow.com/a/68439156

[2021-11-26 10:23] andreas-schwab commented on #516
Qemu linux-user emulation does not support ptrace.  You need to use system emulation or real hardware if you want to run gdb.  I usually export the build root via nfs, so that I can mount it on my hifive board.  Or you can use "osc build --vm-type qemu native riscv64" to start qemu in system emulation.

[2021-11-29 01:43] luyahan commented on #516
Hi @andreas-schwab
In builtins-riscv64.cc:3704
[code]
It should be 'ne' not 'eq'

[2021-11-29 01:50] luyahan commented on #516
May be you should add patch : https://chromium-review.googlesource.com/c/v8/v8/+/3093009

[2021-11-29 05:56] luyahan commented on #428
riscv don't support stop instr. so we need this code in simulator.

[2021-11-29 05:56] #428 closed

[2021-11-29 11:48] andreas-schwab commented on #516
Importing the whole patch causes node_mksnapshot to crash.

[2021-11-29 14:19] andreas-schwab commented on #516
And the s/eq/ne/ change alone has the same problem.

[2021-11-30 12:05] luyahan commented on #516
i will try it again

[2021-12-01 11:56] luyahan commented on #516
[0001-fix.zip](https://github.com/riscv-collab/v8/files/7633544/0001-fix.zip)
HI @andreas-schwab   ~
Try this. It should fix this.

[2021-12-01 12:01] lazyparser commented on #516
Paste the patch as a github gist may better.

[2021-12-01 18:54] andreas-schwab commented on #516
Thanks a lot, this patch fixes the issue.

[2021-12-02 01:34] #516 closed

[2021-12-02 08:36] luyahan commented on #516
https://chromium-review.googlesource.com/c/v8/v8/+/3093009
https://chromium-review.googlesource.com/c/v8/v8/+/3096886

[2022-01-03 07:43] hexchain opened #517 "`node --help' crashes inside qemu-user in 17.2.0"
Nodejs crashes when executing `node --help`, probably after https://github.com/nodejs/node/pull/40488.

Version:
qemu-user: 6.2.0
node: 17.2.0 (but bisected to that PR)

GDB stack trace doesn't seem very useful with `QEMU_GDB`:

[code]
Instructions around $pc:
[code]

[2022-01-04 02:14] luyahan commented on #517
V17.2 node use v8 9.6. This v8version is unstable. Please use V17.1 or wait node checkout v8 to V9.7.

[2022-01-05 02:42] luyahan commented on #371
https://chromium-review.googlesource.com/c/v8/v8/+/2814563

[2022-01-05 02:42] #371 closed

[2022-01-05 02:45] luyahan commented on #373
https://chromium-review.googlesource.com/c/v8/v8/+/2970813/2/src/codegen/riscv64/macro-assembler-riscv64.cc

[2022-01-05 02:45] #373 closed

[2022-01-17 04:14] qjivy commented on #517
@hexchain  Any update？ Does the problem still happen after the version change?

[2022-01-17 04:20] hexchain commented on #517
It seems that they are still in the progress of updating v8 to 9.7, due to some problems in v8 itself: https://github.com/nodejs/node/pull/40907

[2022-01-24 15:52] andreas-schwab opened #518 "v8_context_snapshot_generator failed with exit code -11"
https://build.opensuse.org/package/show/home:Andreas_Schwab:riscv:chromium/chromium

While building chromium 97.0.4692.99 (with v8 9.7.106.19) the v8 build fails:

[48751/48759] python3 "../build/toolchain/gcc_link_wrapper.py" --output="./v8_context_snapshot_generator" -- g++ -Wl,--build-id -fPIC -Wl,-z,noexecstack -Wl,-z,relro -Wl,-z,now -rdynamic -Wl,-z,defs -Wl,--as-needed -pie -Wl,--disable-ne

[2022-02-01 12:33] andreas-schwab commented on #518
That appears to be an incompatibility with the qemu linux-user emulation, the same command does not crash when run on real hardware.

[2022-02-01 12:33] #518 closed

[2022-02-01 14:01] lazyparser commented on #518
Thanks for updating.

[2022-02-01 14:15] lazyparser commented on #131
We no longer use Unleashed. The new test harnesses are D1 and Unmatched.

[2022-02-01 14:15] #131 closed

[2022-02-01 14:16] lazyparser commented on #366
Happy 2022!

We may publish a new roadmap for 2022 soon.

[2022-02-01 14:16] #366 closed

[2022-02-01 14:17] lazyparser commented on #214
My best guess is we've done it.

[2022-02-01 14:17] #214 closed

[2022-02-01 14:18] lazyparser commented on #166
Fixed?

[2022-02-01 14:19] lazyparser commented on #254
Hi @DrRezaYazdani1

Are you still working on this issue, or can I close/reassign it?

[2022-02-01 14:20] lazyparser commented on #259
Hi @chaoRIOS

Are you still working on this issue?

[2022-02-01 14:20] lazyparser commented on #158
Any updates on this feature?

[2022-02-07 14:31] chaoRIOS commented on #259
@lazyparser sry, not yet.

[2022-02-07 14:41] lazyparser commented on #285
Hi @derekztu22

Are you still working on this task, or would you mind if I close/reassign?

[2022-02-07 14:42] lazyparser commented on #430
@qjivy please find out whether this issue is still relevant or not.

[2022-02-07 14:46] lazyparser commented on #249
Is this bug still present or relevant?

[2022-02-08 02:24] qjivy commented on #517
OK, I just close this issue now.
After the updating to 9.7, if there still crashes on RISCV64 target, pls reopen this issue.
Thx!

[2022-02-08 02:24] #517 closed

[2022-02-08 02:27] qjivy commented on #426
Done on this change https://chromium-review.googlesource.com/c/v8/v8/+/3329803.

[2022-02-08 02:27] #426 closed

[2022-02-08 02:50] qjivy commented on #259
Still failed for :
[code]

[code]

[2022-02-08 02:50] #259 closed

[2022-02-14 07:42] luyahan commented on #166
Now this case test/wasm-spec-tests/tests/proposals/tail-call/skip-stack-guard-page.js does't exist.

[2022-02-14 07:42] #166 closed

[2022-02-14 07:45] luyahan commented on #254
function li_ptr has been merged into upstream.
[code]

[2022-02-14 07:45] #254 closed

[2022-02-14 07:51] luyahan commented on #375
Linux Support SV39 and sv48. May be v8 should support it.

[2022-02-14 07:52] luyahan commented on #377
This fixme is deleted.

[2022-02-14 07:52] #377 closed

[2022-02-14 08:09] luyahan commented on #378
see arm:
[code]
This should save current pc to stack. So we can delete fixme

[2022-02-15 01:20] luyahan commented on #427
Use `fcvt_s_d(dst.fp(), src.fp());` is correct.  `Trunc_s_d` does't exited.

[2022-02-15 01:20] #427 closed

[2022-02-23 07:34] luyahan opened #519 "The behavior of saving fpu in EnterExitFrame doesn't consistent with LeaveExitFrame"
Enter
[code]

Leave

[code]

[2022-02-23 07:36] luyahan commented on #519
https://github.com/riscv-collab/v8/commit/af472ae8b5f850d87f27e87d043dfb7b13235093

[2022-03-01 10:34] andreas-schwab opened #520 "webpack-make from cockpit crashes with v8 9.8"
https://build.opensuse.org/package/live_build_log/home:Andreas_Schwab:riscv:node/cockpit/standard/riscv64

This is with the upcoming node v18, which uses 9.8.177.9.

NODE_ENV=production SRCDIR=/home/abuild/rpmbuild/BUILD/cockpit-251.3 ./tools/webpack-make -d dist/base1/Makefile.deps -c ./webpack.config.js
NODE_ENV=production SRCDIR=/home/abuild/rpmbuild/BUILD/cockpit-251.3 ./tools/webpack-make -d

[2022-03-01 13:28] luyahan commented on #520
may be this pr  can  fix this
https://github.com/nodejs/node/pull/42067

[2022-03-01 14:27] andreas-schwab commented on #520
I have already added that patch, it doesn't make a difference.

https://build.opensuse.org/package/view_file/home:Andreas_Schwab:riscv:node/nodejs18/riscv.patch

[2022-03-02 06:25] luyahan commented on #520
I try to build cockpit
it happens:
[code]

I run `osc -A https://api.opensuse.org checkout  home:Andreas_Schwab:riscv:node/cockpit` `osc build`  in opensuse/leap with docker

[2022-03-03 03:09] luyahan commented on #520
I enter sandbox and run node -v
[code]
node version is node v18.0.0-pre.
And v17.5.0 node is not merge fix patch

[2022-03-03 03:11] luyahan commented on #520
May be you should merge patch into https://build.opensuse.org/package/show/home:Andreas_Schwab:riscv:node/nodejs17

[2022-03-03 09:26] andreas-schwab commented on #520
Sorry, I made an error in the project settings.  Please try again.

[2022-03-04 10:00] luyahan commented on #520
This cl to fix this issue:https://chromium-review.googlesource.com/c/v8/v8/+/3503170

[2022-03-07 10:44] luyahan commented on #249
This test case be deleted.

[2022-03-07 10:44] #249 closed

[2022-03-08 03:04] luyahan opened #521 "enhance rvv to adapt 128bit to 512bit VELEN"

[2022-03-08 03:26] luyahan commented on #520
Build pass

[2022-03-08 03:26] #520 closed

[2022-03-11 06:57] luyahan commented on #519
https://chromium-review.googlesource.com/c/v8/v8/+/3483696

[2022-03-11 06:57] #519 closed

[2022-03-11 06:59] luyahan commented on #438
a7 can be add int kGpParamRegister

[2022-03-11 06:59] #438 closed

[2022-03-17 17:02] Taowyoo commented on #158
Working on this

[2022-03-18 23:58] Taowyoo commented on #158
Done the second task with CL: [3536845](https://chromium-review.googlesource.com/c/v8/v8/+/3536845), waiting for CR.

Example:

Before:

[code]

After:

[code]
Two `slliw     X, X, 0` are avoided to be produced.
 (`RiscvWordSignExtend` is implemented by using `slliw` with 0 immediate)

[2022-03-23 08:45] qjivy opened #528 "Using customized memcpy may enhance performance"
According to https://bugs.chromium.org/p/v8/issues/detail?id=8675, we can know that it's an opportunity to add customized tuned memcpy builtin for performance optimization.

[2022-03-28 04:15] luyahan commented on #494
[code]

[2022-03-28 08:05] luyahan commented on #494
[code]

[2022-03-28 10:00] luyahan commented on #494
[code]

[2022-03-30 08:55] luyahan opened #530 "[rv32] Unsupported instruction 1670"
[code]
`V8_TARGET_ARCH_64_BIT` in simulator-riscv32 is not be defined.  so some instr can't be decode , for example ld/vd/addw/subw

[2022-03-30 09:01] luyahan commented on #530
We need find any instr which rv32gc can't excute and use rv32gc instr to replace it.
we can start it from assembler/macro-asembler, then builtins-riscv32 and code-generator-riscv32g

[2022-04-02 03:01] luyahan opened #534 "[rv32] delete LoadTaggedPointerField/LoadAnyTaggedField/StoreTaggedField"
LoadTaggedPointerField/LoadAnyTaggedField is needed by pointer compression pointer in 64-bit-cpu. so rv32g don't need these function, we can replace it by Lw/Sw

https://chromium-review.googlesource.com/c/v8/v8/+/2914246

[2022-04-02 03:33] luyahan commented on #534
[code]

[2022-04-02 08:00] qjivy opened #535 "Review the usage of TurboAssembler::LoadFPRImmediate for both uint64_t and uint32_t"
This issue record the review of TurboAssembler::LoadFPRImmediate.

TurboAssembler::LoadFPRImmediate is used to load the single and double floating porting bits which are passed by uint32_t and uint64_t src.
The 'src' is a immediate that is either from the bit-cast from a float or double number in the macro-assembler, or from value.to_f32_boxed().get_bits() and value.to_f64_boxed().get_bits()  in t

[2022-04-07 02:14] luyahan opened #538 "[rv32] RV32G need port patch"
**4/7:**

1. 3573784: [riscv64][sim] Increase the simulator's stack limit margin | https://chromium-review.googlesource.com/c/v8/v8/+/3573784
2. 3573783: [riscv64] [deoptimizer] Remove soft deopts | https://chromium-review.googlesource.com/c/v8/v8/+/3573783
3. 3556927: [riscv64] Use shift register when shift amount is too large | https://chromium-review.googlesource.com/c/v8/v8/+/3556927

[2022-04-08 10:50] andreas-schwab opened #541 "error: 'v8::internal::FeedbackVector::OptimizationTierBits' has not been declared"
Commit 8bad451601 on the 10.0-lkgr branch (as used by chromium 100.0.4896.75) has removed OptimizationTierBits from FeedbackVector, but it is still used by builtins-riscv64.cc.  Comparing with commit a63243f8f6 I think this is the right fix:

diff --git a/src/builtins/riscv64/builtins-riscv64.cc b/src/builtins/riscv64/builtins-riscv64.cc
index 1f42a10c56..d66e7c0481 100644
--- a/src/builtins/riscv

[2022-04-08 10:58] andreas-schwab commented on #541
Just noticed commit 6d62edeaca on the lkgr branch, so this is already fixed.

[2022-04-08 10:58] #541 closed, assigned to nobody

[2022-04-08 12:24] luyahan commented on #538
port

[2022-04-08 12:24] #538 closed, assigned to nobody

[2022-04-08 12:24] luyahan opened #542 "RV64 and RV32 need port"
https://chromium-review.googlesource.com/c/v8/v8/+/3560050

[2022-04-19 08:11] #535 closed, assigned to qjivy

[2022-04-21 07:32] qjivy opened #555 "Run and pass add.js"
After pass of [hello.js](https://gist.githubusercontent.com/luyahan/2790ff00df1581b7c458716a7f3563ac/raw/60276bf8ad5262c68bdabddcf0f4317fd1a206ac/gistfile1.txt) , we now move on for add.js:

[code]

[2022-04-21 07:37] qjivy commented on #555
First error happens after https://github.com/riscv-collab/v8/pull/554/ merged on debug build：

run cmd:
[code]

stack backstrace:

[code]

potential cause: generate of srli instructions

lines from simulator-riscv32.cc:
[code]

[2022-04-21 13:59] luyahan opened #556 "Delete unnecessary opcode"
such as
[code]

[2022-04-21 23:12] VitalyAnkh commented on #556
I will do this in my PR: https://github.com/riscv-collab/v8/pull/549.

[2022-04-27 02:30] qjivy opened #563 "[assembler] li_estimate, li_ptr and li_constant should be ported to 32bit"
Current, the parameter for the three assemble API are still 64bit.
Should port.

[2022-04-27 02:31] qjivy commented on #563
Test case:

[code]

CMD line:
[code]

Error log:

[code]

[2022-05-09 02:57] qjivy commented on #555
Done after https://github.com/riscv-collab/v8/pull/568

[2022-05-09 02:57] #555 closed, assigned to qjivy

[2022-05-09 02:59] qjivy opened #570 "Run and pass add1.js"
After pass add.js and hello.js, we can try this one:

[code]

[2022-05-09 03:07] qjivy commented on #570
Run with cmd:

[code]

Error happens, log:

[code]

[2022-05-09 03:18] qjivy opened #571 "Builtins still has the RV64I "**iw" intrsuctions"
Run mksnapshot with --print-code then we will find there still some "iw" instructions.
We need to fix it.

[code]

[2022-05-09 04:48] qjivy commented on #571
also:

1. divw
2. remw
3. sext.w (pseudo-instruction of addiw rd,rs1,0)
4. srlw
5. subw

[2022-05-09 08:48] qjivy opened #574 "Replacing integer division by a power of 2 with an arithmetic shift or logical shift"
In builtin StoreFastElementIC_Standard, following code snippet will be generated:

[code]

The code is from a code-assembler API, IntPtrDiv [code gen from here](https://github.com/riscv-collab/v8/blob/RV32G/src/codegen/code-stub-assembler.cc#L14131) and the lowered into Sea-of-Node machine operator Int64Div, which finally lowered by instruction selector into Div64.
But as the code snippet shows, o

[2022-05-10 01:08] #571 closed, assigned to luyahan

[2022-05-10 01:35] luyahan commented on #570
src/builtins/riscv32/builtins-riscv32.cc: Generate_DeoptimizationEntry
[code]

may be abi error

[2022-05-10 01:54] luyahan commented on #570
After pr #576

[code]

[2022-05-10 03:44] luyahan commented on #570
[code]

[2022-05-10 04:48] #530 closed, assigned to nobody

[2022-05-10 04:48] luyahan commented on #534
done

[2022-05-10 04:48] #534 closed, assigned to nobody

[2022-05-11 08:28] qjivy commented on #563
Done by [PR568](https://github.com/riscv-collab/v8/pull/568)

[2022-05-11 08:28] #563 closed, assigned to nobody

[2022-05-13 05:25] qjivy opened #583 "Called saved registers are not saved properly during simulator execution"
cmdline:
[code]
Error log:
[code]
It should be checked whether the ABI convention is maintained in ported code.

[2022-05-13 07:31] #583 closed, assigned to luyahan

[2022-05-17 02:29] qjivy opened #586 "Fix (so many) failures of cctest regression"
cmd line:
[code]

Status:

[code]

full log:
[logcctest.txt](https://github.com/riscv-collab/v8/files/8704598/logcctest.txt)

A quick sort for the "DCHECK or assert failures":

[code]

[2022-05-17 08:02] luyahan commented on #586
[code]
fulllog:
[logunittests.txt](https://github.com/riscv-collab/v8/files/8706348/logunittests.txt)

[code]

[2022-05-18 09:02] luyahan opened #589 "InstructionSelectorTest.ExternalReferenceLoad2 failed"
[code]
command
[code]

[2022-05-20 07:20] qjivy opened #591 "Fix test-assembler-riscv32/FCLASS"
cmd line:

[code]

error log:

[code]

"256 vs 512" , seems as some bit field decoding is error.

[2022-05-20 07:37] qjivy opened #592 "Remove code generation of "fmv.x.d" as well as "fmv.d.x""
cmd line:
[code]
error log:
[code]

[2022-05-20 07:44] qjivy opened #593 "Remove code generation of "fcvt.l.s" as well as "fcvt.s.l""
cmd line:
[code]

error log:
[code]

[2022-05-20 08:40] luyahan opened #594 "fix cctest test-assembler-riscv32/RISCV_UTEST_mul{h/s/u}"
[code]

[2022-05-20 08:44] qjivy opened #595 "Port the test-assembler-riscv32's RISCV2, RISCV4 and RISCV5 cases from RV64 to RV32"
All of them contain RISCV64 only instructions.
Should port or confirm to remove for RV32.

[2022-05-20 08:44] luyahan commented on #594
@usmnzain can you fix these three error?

[2022-05-21 02:25] luyahan commented on #591
[code]

after `movss  %xmm0,-0x20c8(%ebp)  `  dst is 0x7fe00000

[2022-05-21 02:28] luyahan commented on #591
https://catwolf.org/qs?id=239d7fab-b20f-4712-a80b-76d596ad966f&x=y

[2022-05-21 02:34] luyahan commented on #591
that x86 ABI and x86-32 ABI are not designed to fully support IEEE754 standard on x87 and the "issue is unfortunately unfixable":

[2022-05-21 02:47] luyahan commented on #591
Loading an sNaN on x87 typically raises an INVALID exception, and then converts the value to a qNaN, by setting the msb of the (23 bit) mantissa.

[2022-05-23 00:45] #591 closed, assigned to luyahan

[2022-05-23 01:56] qjivy commented on #594
[code]

The result of mulhsu for (-0x12345678LL * 0xF2345678ULL) is not correct, we should check if the simulator is not correct for this instruction.
Seems as simulator error.

[2022-05-23 02:09] qjivy opened #597 "Fix test-assembler-riscv32/RISCV_UTEST_sll and test-assembler-riscv32/RISCV_UTEST_slli"
[code]

[code]

[2022-05-23 02:46] qjivy opened #599 "Fix test-assembler-riscv32/RVC_CI"
[code]

[2022-05-23 06:36] usmnzain commented on #594
@luyahan I will look into these errors

[2022-05-23 07:19] #592 closed, assigned to luyahan

[2022-05-23 07:19] #593 closed, assigned to luyahan

[2022-05-23 07:19] #597 closed, assigned to luyahan

[2022-05-23 07:30] qjivy opened #601 "Fix test-assembler-riscv32/TARGET_ADDR"
The pseudo li sequence in RISCV32 is different from RISCV64.
For 32bit, the pointer is 32bit.
For 64bit, the pointer is 48bit.
So we need update the cctest case.

[code]

[2022-05-23 07:33] #599 closed, assigned to qjivy

[2022-05-23 07:34] qjivy commented on #599
Fix by https://github.com/riscv-collab/v8/pull/600.

[2022-05-23 07:55] qjivy opened #603 "Fix test-assembler-riscv32/li_estimate"
The li_estimate is error for the "li rd,zero" case.

[code]

[2022-05-23 07:57] qjivy commented on #603
When high_20 is zero, it always needs 1 inst to load the low_12 bit, no matter the low_12 bit is zero or not.

[2022-05-24 02:41] qjivy commented on #603
Done by https://github.com/riscv-collab/v8/pull/604.

[2022-05-24 02:44] #603 closed, assigned to qjivy

[2022-05-24 02:45] qjivy commented on #601
Done by https://github.com/riscv-collab/v8/pull/602

[2022-05-24 02:45] #601 closed, assigned to qjivy

[2022-05-24 06:20] qjivy opened #605 "Fix test-assembler-riscv32/jump_tables2"
[code]

[2022-05-24 10:20] qjivy commented on #597
The RISCV_UTEST_slli  still error with commit id: 1d8393aa1a161e3bdf2962b41bedfade46c16f3a

[code]

[2022-05-24 11:36] luyahan commented on #594
[code]
The errors relate with this issue.

[2022-05-24 12:06] qjivy commented on #595
out/riscv32.debug/cctest  --trace-sim test-assembler-riscv32/RISCV1

[2022-05-26 03:40] qjivy commented on #605
Fixed by PR #606

[2022-05-26 03:41] #605 closed, assigned to qjivy

[2022-05-26 03:43] qjivy commented on #589
This test case should be removed for 32bit test.

32bit Architecture doesn't need root to address its whole address space.

[2022-05-26 08:17] qjivy opened #610 "RISCV32 should remove the float64 Round[Up,Down,TiesEven] and Truncate"
The corresponding to double floor/ceil/trunc/round macro-assembler functions.

Because we can use fcvt.l.d and fcvt.d.l now.

[2022-05-26 08:42] qjivy opened #611 "cctest test-bytecode-generator/CountOperators failed"
cmdline in the outdir:

[code]

fail log:

[code]

[2022-05-26 09:03] qjivy opened #612 "cctest test-multiple-return/ReturnMultipleFloat32 failed"
cmd line:

[code]

error log:

[code]

[2022-05-27 01:51] #610 closed, assigned to qjivy

[2022-05-29 15:14] usmnzain commented on #594
Fixed in PR #614

[2022-05-29 15:15] usmnzain commented on #589
@qjivy This issue was reopened. Should I remove the test case or look into fixing the error?

[2022-05-30 02:23] luyahan commented on #612
fix by #613

[2022-05-30 02:23] #612 closed, assigned to luyahan

[2022-05-31 11:05] #594 closed, assigned to usmnzain

[2022-06-01 08:19] qjivy commented on #589
Done by #618

[2022-06-01 08:19] #589 closed, assigned to usmnzain

[2022-06-01 08:32] qjivy commented on #570
Trim the add1.js case into:
[code]

Still fail. Error log:

[code]

It seems that when the third call of test with a float poing argument other than "SMI", the error happen.
So perhaps we had error handling for deoptimization.
Using "--trace-deopt-verbose" to trace the process for both RV64 and RV32 to see what's the different.

For RV32G, deopt trace is:
[code]

For RV64, the deopt trace is:
[cod

[2022-06-01 09:07] qjivy commented on #586
Mark the cctest status two weeks later：
After https://github.com/riscv-collab/v8/pull/620

[code]

[2022-06-02 05:01] luyahan opened #621 "cctest test-macro-assembler-riscv32/jump_tables6 failed"
error:
[code]

log:
https://pastebin.ubuntu.com/p/3s8VghTcrp/plain/

[2022-06-02 09:33] qjivy commented on #570
With #620, it passes now!

[2022-06-02 09:33] #570 closed, assigned to qjivy

[2022-06-07 10:35] luyahan opened #625 "rv32 need review about int64_t ptr/addres"
[code]

[2022-06-08 04:04] luyahan opened #627 "rv32 need review ULoadDouble"

[2022-06-08 04:05] luyahan commented on #627
now ULoadDouble use gp reg to save float64, but rv32 only have 32-bit gp

[2022-06-08 07:55] qjivy opened #629 "cctest test-macro-assembler-riscv32/CalcScaledAddress fails"
cmd line:

[code]

Error log:
[code]

[2022-06-08 07:56] qjivy opened #630 "cctest test-macro-assembler-riscv32/CompareI"
cmd line:
[code]

Error log:
[code]

[2022-06-08 08:00] qjivy opened #631 "Check whether we need cvt_d_l_Trunc_l_d and Cvt_s_ul_Trunc_ul_s in cctest/test-macro-assembler-riscv32"
Error log:
[code]

[2022-06-08 08:18] qjivy opened #632 "cctest test-macro-assembler-riscv32/jump_tables4 fails"
cmd line:

[code]

Error log:
[code]

[2022-06-08 08:20] qjivy opened #633 "cctest test-macro-assembler-riscv32/LoadConstants fails"
cmd line:
[code]

Error log:
[code]

[2022-06-08 08:21] qjivy opened #634 "cctest test-macro-assembler-riscv32/OverflowInstructions fails"
cmd line:

[code]

Error log:
[code]

[2022-06-08 08:22] qjivy opened #635 "cctest test-macro-assembler-riscv32/Popcnt fails"
cmd line:
[code]

Error log:
[code]

[2022-06-08 08:25] qjivy commented on #627
Error case is here:

cmd line:

[code]

Error log:
[code]

[2022-06-08 08:26] qjivy opened #636 "cctest test-macro-assembler-riscv32/Ulw_extension fails"
cmd line:

[code]

error log:

[code]

[2022-06-09 01:24] #595 closed, assigned to qjivy

[2022-06-09 02:14] qjivy commented on #635
int64 to int32

[2022-06-09 02:14] #635 closed, assigned to nobody

[2022-06-09 02:15] #634 closed, assigned to qjivy

[2022-06-09 02:15] qjivy commented on #629
fix by #628

[2022-06-09 02:15] #629 closed, assigned to usmnzain

[2022-06-09 02:18] #633 closed, assigned to nobody

[2022-06-09 02:19] #632 closed, assigned to qjivy

[2022-06-09 02:19] qjivy commented on #631
RV32 should not have these 2 test case. Remove them by #628

[2022-06-09 02:19] #631 closed, assigned to luyahan

[2022-06-09 02:20] qjivy commented on #636
Just remove it due to 32bit ISA hasn't this instruction.

[2022-06-09 02:20] #636 closed, assigned to nobody

[2022-06-09 08:20] luyahan commented on #621
fixed

[2022-06-09 08:20] #621 closed, assigned to luyahan

[2022-06-10 01:57] luyahan opened #643 "cctest test-run-machops/RunBitcastInt32ToFloat32"
[code]

[2022-06-10 02:03] luyahan opened #644 "wasm i64 oprator need Pair macro"
testcase
[code]

[2022-06-10 02:06] luyahan opened #645 "Check failed: callee_saved_value == get_register(s1)"
[code]
error
[code]

[2022-06-10 02:08] luyahan opened #646 "cctest/test-code-generator/FuzzAssemble* error"
[code]

[code]

[2022-06-10 02:15] qjivy opened #648 "cctest test-run-machops fails on the Pair mach-ops due to unimplement"
Failing cases are:

[code]

[2022-06-11 14:42] AlviseDeFaveri commented on #648
Taking care of it in #619, assign this to me if you want

[2022-06-11 14:43] AlviseDeFaveri commented on #644
Related to #648 I guess?

[2022-06-12 03:23] luyahan commented on #644
yes

[2022-06-12 03:24] luyahan commented on #644
#619

[2022-06-12 07:15] qjivy opened #650 "Record regression status for commit 0589d"
Test release build with command line:
[code]

Record the fail cases and related issues will be filed later.

[2022-06-12 07:57] qjivy commented on #650
Overall pass/fail result:
[code]

Under "more,dev" test variant, there are 4 possible arguments would pass to "d8" or "cctest", these arguments variants are "default", "stress", " stress_incremental_marking" and " stress_incremental_marking".
So when we can consider just for one variant "default". The failure of other variants are duplicate of "default" variant.

So there are total 151 failing cas

[2022-06-12 08:10] qjivy opened #651 "mjsunit/harmony/atomics.js fails"
cmd line:
[code]

error log:

[code]

[2022-06-12 08:12] qjivy commented on #650
Pass rate:
1-(151/19902)=99.24%

[2022-06-12 11:16] AlviseDeFaveri commented on #648
All these are now passing in #619

[2022-06-12 13:46] AlviseDeFaveri commented on #644
Started to solve these in [this commit](https://github.com/riscv-collab/v8/pull/619/commits/6348100f317272c175ccde3dc2bed0be8581f12b)

The following tests are still failing:

[code]

[2022-06-13 02:24] #645 closed, assigned to nobody

[2022-06-14 02:28] luyahan opened #659 "./cctest test-run-machops/RunBitcastInt32ToFloat32"
Signalling NaN was corrupted when returning from x86 function (flds/fstps of x87)

[2022-06-14 08:33] qjivy opened #662 "Remove the assembler and macro-assembler routines that are related to RV64-only fcvt instructions"
The RV64-only instructions are:

FCVT.L[U].S and FCVT.S.L[U]

FCVT.L[U].D and FCVT.D.L[U]

[2022-06-14 08:40] luyahan commented on #644
i had fixed it

[2022-06-14 09:02] AlviseDeFaveri commented on #644
Ah nice! Can you point me to the commit? I'm curious about what was the problem

[2022-06-14 09:02] #627 closed, assigned to nobody

[2022-06-14 09:15] #648 closed, assigned to nobody

[2022-06-14 09:16] #644 closed, assigned to nobody

[2022-06-14 09:16] qjivy commented on #643
duplicate with #659

[2022-06-14 09:17] qjivy commented on #625
Done by #640

[2022-06-14 09:17] #625 closed, assigned to nobody

[2022-06-14 09:18] qjivy commented on #611
Done by #640

[2022-06-14 09:18] #611 closed, assigned to nobody

[2022-06-14 09:18] qjivy commented on #586
Almost done by #640 , see updated status on #650

[2022-06-14 09:18] #586 closed, assigned to luyahan, qjivy

[2022-06-14 09:20] #556 closed, assigned to VitalyAnkh

[2022-06-15 02:46] #662 closed, assigned to luyahan

[2022-06-15 06:47] qjivy opened #663 "regress-1125951.js failed after #661"
regress-1125951.js failed after #661

cmd line:

[code]

error log:
[code]

[2022-06-15 09:05] luyahan opened #666 "Test riscv32 native release"
log:
[log.txt](https://github.com/riscv-collab/v8/files/8907724/log.txt)

[2022-06-15 09:24] qjivy commented on #666
Total:110

wasm related: 98

non-wasm cases: 12

1. These 4 cases are same as the failure result in simulator test and all files issues (4)
[code]

2. These 4 cases are passed in simulator test and failed on native test. need to be checked. (4)
[code]

3. This case is only test in native mode but skipped in simulator test, need to be checked (1)
[code]

4.   RVC: compressed variant (3) To be check

[2022-06-15 09:25] qjivy commented on #663
Done by #664

[2022-06-15 09:25] #663 closed, assigned to luyahan

[2022-06-15 09:27] qjivy opened #667 "cctest test-code-generator/Regress_1171759 fails on native test mode"
cmd line:
[code]

[2022-06-15 09:28] qjivy opened #668 "cctest test-macro-assembler-riscv32/macro_float_minmax_f32(64) fails on native test mode"
cmd line:

[code]

[2022-06-15 09:29] qjivy opened #669 "mjsunit/regress/regress-crbug-1209152.js fails on native test mode"
cmd line:

[code]

[2022-06-15 09:30] qjivy opened #670 "test/mjsunit/regress/regress-crbug-1041232.js fails on native test mode"
cmd line:

[code]

[2022-06-15 09:32] qjivy opened #671 "RVC cases fails on native test mode"
These cases  passed on simulator test mode but failed on native test mode.
Need fix but with lowest privilege.

cmd line:
[code]

[2022-06-16 07:42] luyahan commented on #668
test-macro-assembler-riscv32/macro_float_minmax_f32
run test in debug pass

[2022-06-16 08:42] luyahan commented on #668
use clang 15.0.0 build pass

[2022-06-17 01:25] luyahan opened #672 "check failed: *instance == frame_finder.frame()->wasm_instance()"
riscv32 native debug
toolchaon:riscv32-glibc-ubuntu-20.04-nightly-2022.04.23
[code]

[2022-06-17 01:27] luyahan commented on #666
[log.txt](https://github.com/riscv-collab/v8/files/8923753/log.txt)
native debug
toolchain gcc

[2022-06-17 02:38] luyahan commented on #668
f64:
<img width="676" alt="截屏2022-06-17 10 37 25" src="https://user-images.githubusercontent.com/22358871/174213877-4aa36b9c-7fd2-43a5-beab-320af39c5138.png">

0x40ac92bc <Testmacro_float_minmax_f64()+484>   sw      zero,-168(s0)                                                              │
│   0x40ac92c0 <Testmacro_float_minmax_f64()+488>   sw      zero,-164(s0)

[2022-06-17 02:43] luyahan commented on #668
clang
<img width="564" alt="截屏2022-06-17 10 43 15" src="https://user-images.githubusercontent.com/22358871/174218079-179dcf89-da85-485d-96d4-94b941f9e1ad.png">

[2022-06-17 08:20] #668 closed, assigned to nobody

[2022-06-20 07:24] luyahan commented on #667
[code]

[2022-06-21 05:21] #667 closed, assigned to nobody

[2022-06-21 06:58] luyahan commented on #669
[code]

[2022-06-21 06:59] luyahan commented on #670
[code]

[2022-06-21 07:00] luyahan commented on #670
[code]

[2022-06-21 14:33] #643 closed, assigned to VitalyAnkh

[2022-06-22 02:23] qjivy opened #682 "cctest/test-api/TurboAsmDisablesDetach fails"
Simulator and debug test mode

cmd line:
[code]
Error log:
[code]
When porting RV64, same case had been failed. Refer to: #135

[2022-06-22 02:30] qjivy opened #683 "cctest/test-run-wasm-module/Run_WasmModule_CompilationHintsLazy fails"
perhaps duplicated with #682

Also a previous fixed bug #135  also failed on these two case.

[2022-06-22 09:14] mollybuild opened #687 "Cross build v8 failed with error: unrecognized command-line option '--target=riscv64-linux-gnu'"
I build v8 for riscv64 like bellow:
[code]

Error information:
[code]

OS: Ubuntu 20.04
GCC version : 10.2.0

[2022-06-22 09:21] luyahan commented on #687
what is your gcc_toolchain("riscv64") ?

[2022-06-22 09:37] mollybuild commented on #687
[code]

[2022-06-22 10:03] mollybuild commented on #687
This issue caused by build/config/compiler/BUILD.gn，delete these two lines will fix：
![image](https://user-images.githubusercontent.com/26591790/175002604-31698763-7e1c-4370-b8cf-8b33b3c58e6c.png)

[2022-06-22 10:07] mollybuild commented on #687
Then encounter this error:
![image](https://user-images.githubusercontent.com/26591790/175002943-f8a48800-5129-4a5c-a075-05b91c81105d.png)
This error appears when using riscv gcc 10.2.0.
riscv gcc 11.1 doesn't have this issue.

[2022-06-22 12:23] mollybuild commented on #687
compile obj/v8_compiler/pipeline.o failed when using GCC11.1:
![image](https://user-images.githubusercontent.com/26591790/175028000-d6e747f8-7111-45ce-ae57-fb3177cadd4c.png)

[2022-06-23 02:16] #671 closed, assigned to nobody

[2022-06-23 02:20] luyahan commented on #687
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=102479

[2022-06-23 02:24] luyahan commented on #687
0001-support-clang.patch

[2022-06-23 02:27] luyahan commented on #687
0001-support-clang.patch

[2022-06-23 02:28] luyahan commented on #687
[code]

[2022-06-24 02:44] luyahan commented on #672
[code]

[2022-06-24 08:32] luyahan commented on #672
[code]

[2022-06-24 08:34] luyahan commented on #682
[code]

[2022-06-27 08:06] qjivy opened #689 "TraceMemRd/Wr for double in simulator should be refactor"
In RV64, all values read-from-mem and write-to-mem can be viewed as 64bit because GPR and FPR are all 64bit wide. For lw/sw and flw/fsw, the simulator helper for this 4 instruction would handle the upper 32bit to a proper value.

However, for RV32, we should distinguish 32bit GPR rd/wr, 32bit FPR rd/wr and 64bit FPR rd/wr.
We can no longer depend on the templated TraceMemRd and TraceMemWr  functio

[2022-06-27 08:08] qjivy commented on #689
![image](https://user-images.githubusercontent.com/24410810/175891086-9fac72c0-6114-407f-92d1-48706ea16ff6.png)

[2022-06-27 10:25] #646 closed, assigned to usmnzain

[2022-06-27 10:25] #689 closed, assigned to qjivy

[2022-06-27 13:48] #672 closed, assigned to nobody

[2022-06-27 13:48] #682 closed, assigned to luyahan

[2022-06-27 13:48] #683 closed, assigned to luyahan

[2022-06-27 14:08] qjivy commented on #651
fixed by #688

[2022-06-27 14:08] #651 closed, assigned to qjivy

[2022-06-28 08:09] VitalyAnkh opened #694 "[doc] How to cross compile v8 for riscv32 architecture on x86_64 linux"
Prerequisite: you are on a up-to-date x86_64 linux environment.
1. download riscv32 gnu gcc toolchain: https://github.com/riscv-collab/riscv-gnu-toolchain/releases/download/2022.06.10/riscv32-glibc-ubuntu-20.04-nightly-2022.06.10-nightly.tar.gz, then extract them to `/opt/riscv/`. Your `/opt/riscv` should look like this (ignore the `riscv64-unknow-linux-gnu` entry, it's present because I also inst

[2022-06-28 08:25] qjivy commented on #630
Native test （follow the https://github.com/riscv-collab/v8/issues/694 build process)

This case still fails.

error log:
[code]

[2022-06-28 08:30] qjivy opened #695 "cctest run-wasm RunWasmLiftoff_I32Binop_DivS fails"
In native release mode, the following 4 cases fail:

cctest/test-run-wasm/RunWasmLiftoff_I32Binop_DivS default: FAIL
cctest/test-run-wasm/RunWasmLiftoff_I32DivSOnDifferentRegisters default: FAIL
cctest/test-run-wasm/RunWasmLiftoff_Int32DivS_trap default: FAIL
cctest/test-run-wasm/RunWasmLiftoff_Int32DivS_byzero_const default: FAIL

[2022-06-28 08:34] #687 closed, assigned to nobody

[2022-06-28 09:01] #650 closed, assigned to qjivy

[2022-06-28 09:03] qjivy opened #696 "Record regression status for commit ddc083"
Simulator & release mode:1.

wasm related cases(41)
[code]

2. other cases related to #423

[code]

[2022-06-28 09:11] #659 closed, assigned to nobody

[2022-06-28 11:10] AlviseDeFaveri commented on #695
I can look at the binop test at least

[2022-06-30 07:52] qjivy commented on #696
mjsunit/harmony/atomics is fixed by #699

[2022-06-30 08:50] mollybuild opened #701 "Octane failed on Unmatched"
First I cross compile V8 for rv64 on x86 with args :
[code]
Then copy out/riscv64.native.debug/d8, out/riscv64.native.debug/snapshot_blob.bin and test/benchmarks to Unmatched board. Run:
[code]
See output in _benchmark_runner_data/out.0.txt:
[code]
NavierStokes and PdfJS Failed.

SunSpider also failed:
![image](https://user-images.githubusercontent.com/26591790/177525712-1df38ae4-62f8-46ed-8541-50

[2022-06-30 09:00] qjivy commented on #701
Pls add the commit id of your test codebase.

[2022-06-30 09:02] mollybuild commented on #701
commit 9076fce87b96312d815c86059eac9761597857ca

[2022-07-04 09:09] usmnzain commented on #670
I can look into this.

[2022-07-07 01:49] mollybuild commented on #701
Sunspider failure caused by three items: 3d-cube.js, 3d-raytrace.js, math-spectral-norm.js.
![image](https://user-images.githubusercontent.com/26591790/177672183-a92d84f1-9cca-4919-844b-7200de8ef1d1.png)

![image](https://user-images.githubusercontent.com/26591790/177672243-8612e091-fb17-4b85-ad9b-75bb72921121.png)

![image](https://user-images.githubusercontent.com/26591790/177672285-7b9cb8de-7cd

[2022-08-05 05:29] luyahan opened #702 "rv32 debug stress mode failed"
[code]

[2022-08-09 12:42] luyahan opened #703 "generic-wrapper test failed"
cmd
[code]

log:
[code]
add DebugPrint into js
code:
[code]
log:
[code]
add args --no-liftoffonly
[code]

[2022-08-11 01:01] luyahan commented on #703
fixed

[2022-08-11 01:01] #703 closed, assigned to nobody